@import "../../../../styles/Variables.scss";

.wrapper {
	@include flex(center, flex-start, null, null, null);
	@include size(100%, 100%);

	& > a {
		@include font(3rem, 700, null, inherit, null, null, start);
		color: $white;
		padding: 0 0 0 1rem;
		transition: 0.2s ease-in color;
		&:focus-within,
		&:hover {
			color: $jordyBlue;
		}
	}
}
