@import "../../../../styles/Variables.scss";

.box {
	@include flex(flex-start, center, column, null, 2rem);
	grid-column: 1/-1;
	padding: 1rem 0.95rem;
	margin: 0 auto;
	width: 95%;
	& > .title {
		& > h1 {
			@include font(4.25rem, 700, 1, inherit, null, 1px, start);
			word-break: break-all;
		}
	}
	& > .content {
		@include font(1.8rem, 300, 1.7, inherit, null, -1.5px, start);
		color: hsla(0, 100%, 100%, 0.85);
		margin-top: 1.5rem;
	}
}

.image {
	@include flex(center, center);
	@include size(100%, 90%);
	display: none;
	grid-column: 13/-1;
	margin: auto;
	position: relative;
}

.wrapper {
	background-image: linear-gradient(
		to bottom,
		hsla(0, 0%, 0%, 0.9),
		hsla(0, 0%, 0%, 0.8),
		hsla(0, 0%, 0%, 0.045),
		hsla(0, 0%, 0%, 0)
	);
	display: grid;
	grid-template-columns: repeat(25, 1fr);
	min-height: 90vh;
	margin-bottom: 2rem;
}

@media only screen {
	@media (min-width: 450px) {
		.box {
			& > .title {
				& > h1 {
					font-size: 4.65rem;
				}
			}
			& > .content {
				font-size: 1.85rem;
			}
		}
	}
	@media (min-width: 630px) {
		.box {
			& > .title {
				& > h1 {
					font-size: 5.45rem;
				}
			}
		}
	}
	@media (min-width: 830px) {
		.box {
			& > .title {
				& > h1 {
					font-size: 6.5rem;
				}
			}
		}
	}
	@media (min-width: 1000px) {
		.box {
			grid-column: 2/13;
			& > .title {
				& > h1 {
					font-size: 4.5rem;
				}
			}
		}
		.image {
			display: flex;
		}
	}
	@media (min-width: 1300px) {
		.box {
			& > .title {
				& > h1 {
					font-size: 5.5rem;
				}
			}
		}
	}
	@media (min-width: 1500px) {
		.box {
			& > .title {
				& > h1 {
					font-size: 6.85rem;
				}
			}
		}
	}
	@media (min-width: 1700px) {
		.box {
			& > .title {
				& > h1 {
					font-size: 8.85rem;
					word-break: normal;
				}
			}
		}
	}
}
