@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    @include flex(center, flex-start, row nowrap, 0.05rem);
    background-color: $white;
    border-radius: 0.85rem;
    box-shadow: 0 0 1rem rgba($black, 0.6);
    padding: 0.5rem 0.8rem;
    & > * {
        @include flex(center, center);
        @include size(100%, 100%);
        color: $black;
    }
    & > .label {
        @include font(
            clamp(1.65rem, 2.2rem, 2.2rem),
            600,
            1,
            null,
            null,
            center
        );
        padding: 0rem 1rem;
    }
    & > .icon {
        font-size: clamp(2.65rem, 4rem, 4rem);
    }
    &:focus,
    &:hover {
        background-color: rgba($white, 0.9);
        transform: scale(1.015);
    }
}
