@import "../../../../styles/Variables.scss";

.wrapper {
	@include flex(flex-start, flex-start, column, null, 0.7rem);
	height: 100%;
	overflow-y: scroll;
	padding: 2rem 3rem;
	& > * {
		width: 100%;
	}
	&::-webkit-scrollbar {
		width: 0;
	}
}
