.wrapper {
	background: lime;
	display: grid;
	grid-template-areas:
		"welcome welcome welcome welcome welcome"
		"recent recent recent analytics analytics"
		"recent recent recent news news";
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 0.5rem;
	grid-row-gap: 0.5rem;
	margin: 5rem auto 1rem auto;
	width: 115rem;
	& > .welcome {
		grid-area: welcome;
		height: 50rem;
		position: relative;
		display: block;
		// display: none;
		grid-row: 1;
	}
	& > .recent {
		grid-area: recent;
		background: orange;
	}
	& > .analytics {
		grid-area: analytics;
	}
	& > .news {
		grid-area: news;
	}
}
