@import "../../../../styles/Variables.scss";

.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 4rem auto;
	max-width: 95%;
	width: 150rem;
	& > * {
		grid-column: 1/-1;
	}
	@media only screen {
		@media (min-width: 1200px) {
			& > .persons {
				grid-column: 1;
			}
			& > .form {
				grid-column: 2;
			}
		}
	}
}
