@import "../../../../styles/Variables.scss";

.h2 {
	@include font(3.5rem);
	color: $cyan;
}

.h3 {
	@include font(2.5rem);
	filter: saturate(45%);
}

.h4 {
	@include font(1.9rem);
	filter: saturate(20%);
}
.h2,
.h3,
.h4 {
	@include textGradient($cyan, $white);
	text-align: start;
	margin: 0 0 2.5rem;
}

.table {
	// background: gray;
}

.img {
	width: 100%;
	aspect-ratio: 16/9;
	margin: 2rem auto;
	overflow: hidden;
	position: relative;
	& > figure {
		@include size(100%, 100%);
		position: relative;
	}
}

.b,
.strong {
	color: $white;
	font-weight: 700;
}

.em,
.i {
	font-style: italic;
}

.ol {
	li {
		list-style: decimal;
	}
}

.ul {
	li {
		list-style: disc;
	}
}

.ol,
.ul {
	padding: 2rem 3rem;
	li {
		@include font(1.6rem, 500);
		color: $gray;
		line-height: 1.8;
		list-style-position: inside;
		margin-bottom: 0.85rem;
		text-align: start;
		.b,
		.strong {
			@include textGradient($cyan, $white);
		}
	}
}

.a {
	color: $fuchsia;
	text-decoration: underline;
	transition: 0.3s ease-in-out color;
	&:focus,
	&:focus-within,
	&:hover {
		color: $citron;
	}
}

.p {
	@include font(1.6rem, 500);
	color: $gray;
	line-height: 2.3;
	margin: 0 0 1.5rem;
}

@media only screen {
	@media (min-width: 1250px) {
		.h2 {
			font-size: 6.25rem;
		}

		.h3 {
			font-size: 4.75rem;
		}

		.h4 {
			font-size: 3.5rem;
		}

		.ol,
		.ul {
			li {
				@include font(2.3rem, 500);
			}
		}
		.p {
			@include font(2.3rem, 500);
			color: $gray;
			line-height: 2.3;
			margin: 0 0 1.5rem;
		}
	}
}
