@import "../../../../styles/Variables.module.scss";

.wrapper {
	display: grid;
	grid-template-columns: 2fr 3fr;
	min-height: calc(100vh - 20rem);
	position: relative;

	& > .cards {
		@include flexNoFlow(center, center);
		position: relative;
		min-height: 100%;
		margin: auto;
		width: 95%;
		& > div {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			position: relative;
			top: -2rem;
			padding: 2rem;
			position: absolute;
			margin: auto;
			gap: 1rem;
		}
	}
	& > div {
		@include flexNoFlow(center, center);
		position: relative;
		& > section {
			@include flex(center, column, center);

			row-gap: 2rem;
			width: 90%;
			& > * {
				width: 100%;
			}
			& > h1 {
				color: $colorSecondary;
				font-size: 5.5rem;
				font-weight: 900;
			}
			& > p {
				font-size: 1.8rem;
				line-height: 2.2;
				font-weight: 500;
			}
			& > ul {
				@include flex(center, row wrap, flex-start);
				gap: 3.5rem;
				padding: 1.5rem 2rem;
			}
		}
	}
	@media only screen {
		@media (max-width: 1460px) {
			& > div {
				& > section {
					row-gap: 2rem;
					top: 8rem;
					width: 92%;
					& > h1 {
						font-size: 4.25rem;
					}
					& > p {
						font-size: 1.5rem;
					}
					& > ul {
						@include flex(center, row wrap, flex-start);
						gap: 3.5rem;
						padding: 1.5rem 2rem;
					}
				}
			}
		}
		@media (max-width: 1300px) {
			grid-template-columns: 1.5fr 2fr;
			width: 97%;
			margin: auto;
			& > .cards {
				justify-content: flex-end;
			}
		}
		@media (max-width: 1150px) {
			grid-template-columns: 1.5fr 2fr;
			width: 97%;
			margin: auto;
			& > .cards {
				justify-content: flex-end;
			}
			& > div {
				align-items: center;

				& > section {
					row-gap: 2rem;
					top: unset;
					position: relative;
					width: 92%;
					& > h1 {
						font-size: 3.25rem;
					}
					& > p {
						font-size: 1.5rem;
					}
					& > ul {
						@include flex(center, row wrap, flex-start);
						gap: 3.5rem;
						padding: 1.5rem 2rem;
					}
				}
			}
		}
		@media (max-width: 890px) {
			@include flex(center, column, flex-start);
			width: 97%;
			margin: auto;
			& > * {
				width: 100%;
			}
			& > .cards {
				justify-content: flex-end;
				& > div {
					position: relative;
					width: 100%;
				}
			}
			& > div {
				align-items: center;

				& > section {
					row-gap: 2rem;
					top: unset;
					position: relative;
					padding: 2rem 0;
					width: 92%;
					& > h1 {
						font-size: 5.25rem;
					}
					& > p {
						font-size: 1.75rem;
					}
					& > ul {
						@include flex(center, row wrap, flex-start);
						gap: 3.5rem;
						padding: 1.5rem 2rem;
					}
				}
			}
		}
		@media (max-width: 600px) {
			& > .cards {
				display: none;
			}
		}
	}
	@media (max-width: 400px) {
		& > div {
			& > section {
				& > h1 {
					font-size: 3rem;
				}
				& > p {
					font-size: 1.55rem;
				}
			}
		}
	}
}
