@import "../../../../styles/Variables.module.scss";
.wrapper {
	gap: 1rem;
	padding: 0.5rem;
	&[data-variant="articles"] {
		@include flex(baseline, row wrap, center);
	}
	&[data-variant="contact"] {
		@include flex(start, row wrap, flex-start);
		@media only screen {
			@media (max-width: 930px) {
				justify-content: center;
			}
		}
	}
	&[data-variant="hp-articles"] {
		align-self: center;
		align-items: center;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-items: center;
		@media only screen {
			@media (min-width: 1750px) {
				grid-template-columns: repeat(5, 1fr);
			}
			@media (max-width: 1525px) {
				grid-template-columns: repeat(3, 1fr);
			}
			@media (max-width: 1140px) {
				grid-template-columns: repeat(2, 1fr);
			}
			@media (max-width: 750px) {
				grid-template-columns: repeat(1, 1fr);
			}
		}
	}

	&[data-variant="persons-section"] {
		display: grid;
		gap: 0.25rem;
		grid-template-columns: repeat(3, 1fr);
		@media only screen {
			@media (max-width: 820px) {
				grid-template-columns: repeat(1, 1fr);
			}
		}
	}
}
