@import "../../../../styles/Variables.module.scss";
.button {
	@include flexNoFlow(center, flex-end);
	padding: 0.25rem 0.5rem;
}
.content {
	@include fontLine(2.4, 1.7rem, 400);
	@media only screen {
		@media (max-width: 700px) {
			@include fontLine(1.8, 1.55rem, 400);
		}
	}
}
.title {
	@include font(4.5rem, 700);
	@media only screen {
		@media (max-width: 850px) {
			font-size: 4.15rem;
		}
		@media (max-width: 700px) {
			font-size: 3.25rem;
		}
	}
}
.wrapper {
	@include flex(start, column, flex-start);
	row-gap: 3rem;
	& > div {
		width: 100%;
	}
	// & > p {
	// 	width: 100%;
	// }
}
