@import "../../../../styles/Variables.scss";

.wrapper {
	$size: 4.5rem;
	display: grid;
	gap: 0.4rem;
	grid-template-columns: repeat(6, $size);
}

@media only screen {
	@media (min-width: 620px) {
		.wrapper {
			gap: 1rem;
		}
	}
}
