@import "../../../../../styles/Variables.scss";

.wrapper {
	@include size(auto, clamp(10rem, 120rem, 95%));
}

.link {
	@include size(100%, 100%);
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(7, 1fr);
	& > * {
		grid-column: 1/-1;
	}
	&:focus,
	&:focus-within,
	&:hover {
		& > .image {
			& > figure {
				transform: rotate(1.2deg) scale(1.2);
			}
		}
		& > .details {
			& > .content {
				& > .title {
					& > h2 {
						color: $salmon;
					}
				}
			}
		}
	}
}

.image {
	aspect-ratio: 4/3.85;
	overflow: hidden;
	width: 100%;
	& > figure {
		@include size(100%, 100%);
		position: relative;
		transition: 0.15s ease-in-out transform;
	}
}

.details {
	@include flex(flex-start, center, column, null, null, false);
	& > * {
		@include flex(flex-end, center, column, null, null, false);
		padding: 0.5rem 1rem 0.6rem;
		width: 100%;
	}
	& > .date {
		& > p {
			@include font(1.9rem, 600, null, inherit, uppercase, 1px, end);
		}
	}
	& > .content {
		& > .title {
			& > h2 {
				@include font(5.5rem, 600, 0.8, inherit, null, null, end);
				color: $antique;
				transition: 0.15s ease-in-out color;
			}
		}
		& > .excerpt {
			@include font(1.72rem, 400, 1.6, inherit, null, null, end);
			color: $silver;
			margin-top: 1rem;
		}
	}
}

@media only screen {
	@media (min-width: 500px) {
		.image {
			aspect-ratio: 4/3.55;
		}

		.details {
			padding: 0.5rem 0.75rem 1rem;
			& > .content {
				& > .title {
					& > h2 {
						font-size: 6.2rem;
					}
				}
			}
		}
	}
	@media (min-width: 700px) {
		.image {
			aspect-ratio: 16/10;
		}

		.details {
			padding: 0.5rem 0.75rem 3rem;
		}
	}
}
