@import "../../../../styles/Variables.module.scss";

.wrapper {
	@include backgroundImage;
	@include flex(center, column, center);
	border-radius: 3rem 3rem 0 0;
	background-image: $aboutSectionImage;
	background-attachment: fixed;
	padding: 4rem 1.5rem 2rem 1.5rem;
	position: relative;
	row-gap: 5rem;
	z-index: 0;
	& > * {
		width: 100%;
	}
	& > ul {
		@include flex(start, row wrap, center);
	}
	@media only screen {
		@media (max-width: 710px) {
			&::after {
				height: 40%;
			}
			& > ul {
				row-gap: 2rem;
			}
		}
	}
}
