@import "../../../../styles/Variables.scss";

.wrapper {
	&,
	& > button,
	& > button > i {
		@include flex(center, center);
	}

	& > button {
		font-family: $righteous;
		gap: 2rem;
		padding: 1rem 2rem;
		& > * {
			@include font(3rem, 600);
			color: $white;
			transition: 0.3s ease-in-out color;
		}
		&:focus,
		&:focus-within,
		&:hover {
			& > * {
				color: $fuchsia;
			}
		}
	}
}
