@import "../../../../styles/Variables.scss";

.wrapper {
	margin: 12rem auto 5rem;
	max-width: 90%;
	width: 150rem;
	& > header {
		& > h2 {
			@include font(3rem, 700);
		}
	}
	& > div {
		& > ul {
			@include flex(center, center);
			flex-flow: row wrap;
		}
	}
	& > p {
		@include font(1.75rem, 400);
		color: $gray;
		line-height: 2;
		margin: 1rem 0;
	}
}

@media only screen {
	@media (min-width: 720px) {
		.wrapper {
			& > header {
				& > h2 {
					font-size: 5rem;
				}
			}
			& > p {
				font-size: 2.2rem;
				margin: 2rem 0;
			}
		}
	}
	@media (min-width: 840px) {
		.wrapper {
			& > div {
				& > ul {
					justify-content: flex-end;
				}
			}
		}
	}
	@media (min-width: 900px) {
		.wrapper {
			& > div {
				& > ul {
					gap: 2rem;
				}
			}
		}
	}
	@media (min-width: 1250px) {
		.wrapper {
			& > header {
				& > h2 {
					font-size: 7.5rem;
				}
			}
			& > p {
				font-size: 2.4rem;
				line-height: 2.2;
			}
		}
	}
}
