@import "../../../../styles/Variables.module.scss";
.button {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	padding: 0.25rem 0.5rem;
}
.content {
	font-size: 1.85rem;
	line-height: 1.95;
	@media only screen {
		@media (max-width: 700px) {
			font-size: 1.55rem;
			line-height: 1.8;
			text-indent: 1.2rem;
		}
	}
}
.title {
	color: $tertiaryButtonColor;
	font-size: 5.5rem;
	font-weight: 900;
	@media only screen {
		@media (max-width: 850px) {
			font-size: 4.15rem;
		}
		@media (max-width: 700px) {
			font-size: 3.25rem;
		}
	}
}
.wrapper {
	align-items: start;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	row-gap: 1rem;
	& > * {
		width: 100%;
	}
}
