@import "../../../../styles/Variables.module.scss";

.label {
	@include font(2.5rem);
	color: #000;
	cursor: default;
	user-select: none;
	& > sup {
		color: red;
		font-size: 2rem;
	}
}

.checkbox,
.field {
	@include size(3rem, 95rem);
	gap: 0.5rem;
	margin: 2rem auto;
}

.field {
	@include flex(flex-start, center);
	flex-flow: column;
	height: auto;

	& > input {
		border-bottom: 1.7px solid hsl(0, 0%, 0%);
		cursor: pointer;
		width: 100%;
		height: 3rem;
		height: 4rem;
		padding: 0 1rem;
		transition: 0.3s;
		font-size: 1.7rem;
		font-weight: 500;

		&:focus,
		&:focus-within,
		&:hover {
			background: rgba(186, 181, 255, 0.122);
		}
	}
}

.checkbox {
	@include flex(center, flex-start);
	flex-flow: row;
	& > input {
		display: none;
	}
	& > label {
		@include flex(center, center);
		@include size(2.7rem, 2.7rem);
		border-radius: 0.7rem;
		border: 2px solid black;
		font-size: 3rem;
		cursor: pointer;
		& > span {
			@include flex(center, center);
			@include size;
		}
	}
}

.radio {
	@include flex(flex-start, center);
	flex-flow: column;
	border: 0;
	margin: 2rem auto;
	width: 95rem;
	gap: 1.5rem;
	& > ul {
		@include flex(flex-start, center);
		flex-flow: column;
		margin-top: 0.65rem;
		padding: 0.75rem 1.75rem;
		row-gap: 1rem;
		width: 100%;
		& > div {
			@include flex(center, flex-start);
			gap: 1rem;
			& > label {
				@include font(1.75rem);
				color: #000;
				cursor: pointer;
			}
		}
	}
	// background: lime;
}

.dropzone__wrapper {
	@include flex(center, center);
	flex-flow: column;
	gap: 0.5rem;
	margin: 3rem auto;
	width: 50rem;
	& > .dropzone,
	& > .dropzone__image {
		width: 100%;
	}
	& > .dropzone {
		@include flex(center, center);
		@include font(2.5rem);
		background-color: transparent;
		border: 3.7px dashed hsl(0, 0%, 0%);
		border-radius: 5px;
		color: #000;
		cursor: pointer;
		height: 30rem;
		transition: 0.3s linear background-color;
		text-align: center;
		user-select: none;
		&:focus,
		&:focus-within,
		&:hover {
			background-color: rgba(186, 181, 255, 0.122);
		}
	}
	& > .dropzone__preview {
		@include flex(center, center);
		aspect-ratio: 4/3;
		border-radius: 0.5rem;
		flex-flow: column;
		overflow: hidden;
		position: relative;
		transition: 0.2s ease-in-out height;
		width: 100%;
		&[data-open="false"] {
			height: 0;
		}
	}
}
