@import "../../../../../styles/Variables.scss";

.wrapper {
	position: relative;
	@media only screen {
		@media (max-width: 1049.5px) {
			width: 100%;
		}
		@media (min-width: 1050px) {
			& > ul {
				@include flex(flex-start, flex-start);
				flex-flow: column;
				background: $jet;
				border-radius: 0 1rem 1rem 1rem;
				min-width: 25rem;
				position: absolute;
				padding: 0.7rem;
				row-gap: 1rem;
			}
		}
	}
}
