@import "../../../../../styles/Variables.scss";

.wrapper {
	@include size(auto, 98%);
	margin: 0 auto;
	background-color: $erie;
	border-radius: 1rem;
	overflow: hidden;

	&:focus,
	&:focus-within,
	&:hover {
		& > .box {
			& > .image {
				& > div {
					transform: scale(1.3);
				}
			}
			& > .info {
				& > .content {
					& > .title {
						& > h3 {
							color: $yellow;
						}
					}
				}
			}
		}
	}

	& > .box {
		@include size(100%, 100%);
		// background: red;
		display: grid;
		grid-template-columns: repeat(16, 1fr);
		& > .image {
			grid-column: 1/-1;
			height: 20rem;
			overflow: hidden;
			& > div {
				@include size(100%, 100%);
				position: relative;
				transition: 0.3s ease-in-out transform;
			}
		}
		& > .info {
			@include flex(flex-start, space-between, column, null, null);
			grid-column: 1/-1;
			padding: 1rem 0.85rem;
			& > * {
				width: 100%;
			}
			& > .details {
				@include flex(center, space-between, row, null, null, false);
				padding: 1rem 0.5rem;
				& > * {
					@include font(1.6rem, 900, 1, inherit, null, -1px, center);
					padding: 0.6rem 1.2rem;
				}

				& > .category {
					background-color: $antique;
					color: $erie;
					border-radius: 0.2rem;
					transition: 0.2s ease-in-out background-color;
					&:focus,
					&:focus-within,
					&:hover {
						background-color: $peach;
					}
				}
				& > .release {
					color: $antique;
				}
			}
			& > .content {
				& > .title {
					& > h3 {
						@include font(2.3rem, 700, 1, inherit, null, -1px, center);
						transition: 0.3s ease-in-out color;
					}
				}
				& > .excerpt {
					@include font(1.5rem, 300, 1.3, inherit, null, -1px, start);
					color: $silver;
					margin-top: 0.5rem;
					word-spacing: -1px;
				}
			}
			& > .author {
				@include flex(center, flex-end);
				@include font(1.6rem, 600);
				margin-top: 1.5rem;
			}
		}
	}
}

@media only screen {
	@media (min-width: 435px) {
		.info {
			row-gap: 2rem;
			& > .content {
				& > .title {
					& > h3 {
						font-size: 3.8rem;
					}
				}
				& > .excerpt {
					font-size: 1.65rem;
					margin-top: 1.5rem;
				}
			}
			& > .author {
				font-size: 1.6rem;
				margin-top: 0.75rem;
			}
		}
	}
	@media (min-width: 600px) {
		.wrapper {
			min-height: 30rem;
			& > .box {
				& > .image {
					grid-column: 1/7;
					height: 100%;
				}
				& > .info {
					row-gap: unset;
					grid-column: 7/-1;
					& > .content {
						& > .title {
							& > h3 {
								font-size: 2.5rem;
								text-align: start;
							}
						}
					}
				}
			}
		}
	}
	@media (min-width: 1900px) {
		.wrapper {
			min-height: 45rem;

			& > .box {
				& > .info {
					@include flex(flex-start, space-between, column, null, null);
					padding: 2rem 1.85rem;
					& > * {
						width: 100%;
					}
					& > .details {
						& > * {
							font-size: 1.9rem;
							padding: 1rem 1.7rem;
						}
					}
					& > .content {
						& > .title {
							& > h3 {
								font-size: 5rem;
							}
						}
						& > .excerpt {
							font-size: 1.9rem;
						}
					}
					& > .author {
						font-size: 1.7rem;
					}
				}
			}
		}
	}
}
