@import "../../../../styles/Variables.module.scss";
.wrapper {
	min-height: calc(100vh - 10rem);
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	padding: 1rem 4rem;
	& > * {
		@include flex(end, column, center);
	}
	@media only screen {
		@media (max-width: 1150px) {
			grid-template-columns: 1.15fr 1fr;
			padding: 1rem 1rem;
		}
		@media (max-width: 600px) {
			@include flex(center, column, flex-start);
			padding: 1rem 1rem;
			row-gap: 2rem;
		}
		@media (max-width: 400px) {
			min-height: calc(100vh - 20rem);
		}
	}
}

.image {
	& > .picture {
		@include fullSize;
		position: relative;
	}
	@media only screen {
		@media (max-width: 600px) {
			aspect-ratio: 1/1;
			border-radius: 50%;
			overflow: hidden;
			max-width: 95%;
			width: 30rem;
		}
	}
}

.content {
	row-gap: 3rem;
	& > *:not(.socials) {
		text-align: end;
	}
	& > .title {
		font-size: 6rem;
	}
	& > .cities,
	& > .jobs {
		@include fontLine(2, 2rem, 400);
	}
	& > .jobs {
		font-style: italic;
	}
	& > .socials {
		@include flex(center, row wrap, flex-end);
		gap: 1rem;
		& > .social {
			aspect-ratio: 1/1;
			width: 3rem;
			& > a {
				@include flexNoFlow(center, center);
				@include fullSize;
				position: relative;
				&::before {
					bottom: 0;
					background-color: $color;
					height: 0.12rem;
					left: 0;
					transition: 0.3s linear width;
					width: 0%;
				}
				& > * {
					color: $color;
					font-size: 2.5rem;
					opacity: 0.7;
					transition: 0.3s linear opacity, 0.3s linear transform;
				}
			}
			&:focus-within,
			&:hover {
				& > a {
					&::before {
						width: 100%;
					}
					& > * {
						opacity: 1;
						transform: translateY(-0.5rem);
					}
				}
			}
		}
	}
	@media only screen {
		@media (max-width: 970px) {
			row-gap: 1.5rem;
			& > .title {
				font-size: 4.5rem;
			}
		}
		@media (max-width: 400px) {
			& > *:not(.socials) {
				text-align: center;
				width: 100%;
			}
			& > .title {
				font-size: 3rem;
			}
			& > .cities,
			& > .jobs {
				font-size: 1.7rem;
				line-height: 1.5;
			}
			& > .socials {
				justify-content: center;
				width: 100%;
			}
		}
	}
}
