@import "../../../../../styles/Mixins.scss";
@import "../../../../../styles/Variables.scss";

.wrapper {
  @include flex(flex-start, flex-start, column);
  padding: 0.3rem 0.3rem;
  background-color: $white;
  border-radius: 0.6rem;
  width: 35rem;
  color: $black;

  &:focus-within,
  &:hover {
    & > .featuredImage {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.featuredImage {
  width: 100%;
  border-radius: 0.6rem;
  overflow: hidden;
  height: 30rem;
  position: relative;
  display: block;
  &::after {
    content: "👁";
    @include flex(center, center);
    @include size(100%, 100%);
    color: rgba($white, 0.5);
    background-color: color-mix(
      in srgb,
      rgba($white, 0.2) 60%,
      rgba($black, 0.9) 40%
    );
    font-size: 25rem;
    top: 50%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transition: 0.12s ease-in-out opacity, 0.12s ease-in-out visibility;
    transform: translate(-50%, -50%);
  }
}

.author,
.container,
.details {
  padding: 0 0.5rem;
}

.details {
  @include flex(flex-start, flex-start, column, 1.75rem);
  margin-top: 0.25rem;
}

.categories {
  @include flex(flex-start, flex-start, row wrap, 0.4rem, 0.4rem);
  margin-top: 0.3rem;
}

.category {
  @include flex(center, center);
  @include font(1.35rem, 500, 1, uppercase, -0.8px, center);
  border-radius: 0.75rem;
  background-color: $onyx;
  color: $white;
  padding: 0.6rem 1.05rem;
  transition: 0.12s linear background-color;
  &:focus-within,
  &:hover {
    background-color: $black;
  }
}

.date {
  font-family: $special;
}

.container {
  margin-top: 0.25rem;
}

.title {
  @include font(2.26rem, 700, 1.2, null, null, null);
}

.excerpt {
  @include font(1.51rem, 300, 1.6, null);
}

.author {
  @include flex(center, flex-start, row wrap, 0.45rem, 0.45rem);
  margin: 0.5rem 0 0.75rem;
}

.author__image {
  @include flex(center, center);
  @include size(3rem, 3rem);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.author__fullname {
  @include font(1.45rem, 600, 1, null);
}
