@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    @include size(85rem,100%);
    display: grid;
    grid-template-columns: repeat(9,1fr);
    margin:5rem 0 15rem;
}

.image {
    aspect-ratio: 4/3;
    grid-column: 1/-1;
    grid-row: 1;
    position: relative;
}

.box {
    @include flex(flex-start,flex-end,column,null,1rem);
    background-color: $claret;
    grid-column: 1/-1;
    grid-row: 2;
    padding: 3.5rem;
}

.title {
    @include font(7rem,400,1,null,1.2px,start);
}

.content {
    @include font(1.6rem,300,1.9,null,null,start);
    padding-right: 4rem;
}

@media only screen {
    @media (min-width:750px){
        .image {
            grid-column: 1/6;
            aspect-ratio: unset;
        }
        .box {
            grid-column: 6/-1;
            grid-row: 1;
        }  
    }
    @media (min-width:1280px){

        .box {
            padding: 0rem 0rem 3.5rem 3.5rem;
        }

        .title {
            font-size: 13rem;
        }

        .content {
            font-size: 1.8rem;
            padding-right: 2rem;
        }       
    }
}