// FONT ===================================
$code: "Kode Mono", monospace;
$geologic: "Geologica", sans-serif;
$poppins: "Poppins", sans-serif;
$mulish: "Mulish", sans-serif;
$anton: "Anton", sans-serif;
// COLORS ===================================
$anti-flash: rgb(235, 235, 235);
$black: rgb(0, 0, 0);
$erie: rgb(27, 27, 27);
$indigo: rgb(89, 19, 115);
$night: rgb(19, 19, 19);
$pink: rgb(223, 44, 184);
$platinum: rgb(229, 229, 229);
$violet: rgb(47, 3, 63);
$yellow: rgb(254, 198, 4);
$white: rgb(255, 255, 255);
// GRADIENTS ===================================
