@import "../../../../../styles/Variables.scss";

.p,
.li {
	@include font(2.05rem, 400, 1.7, inherit, null, -1px, start);
}

.p {
	line-height: 2.2;
	margin: 1rem 0 0.25rem;
	color: $silver;
}

.h2,
.h3,
.h4 {
	@include font(unset, 800, 1.4, inherit, null, -1px, start);
}

.h2 {
	font-size: 4.4rem;
	margin: 1.5rem 0;
}
.h3 {
	font-size: 3.5rem;
	margin: 1.25rem 0;
}
.h4 {
	font-size: 3rem;
	margin: 1rem 0;
}

.image {
	aspect-ratio: 4/3;
	position: relative;
	margin: 1.5rem auto;
	width: clamp(10rem, 105rem, 95%);
}

.link {
	color: $salmon;
	text-decoration: underline;
	transition: 0.15s ease-in-out color;
	&:focus,
	&:focus-within,
	&:hover {
		color: $peach;
	}
}

.code {
	width: clamp(10rem, 100rem, 90%);
	margin: 2rem auto;
	font-size: 2rem;
}

.ol,
.ul {
	margin: 1.5rem 0 1.5rem;
}

.ol {
	.li {
		list-style: inside decimal;
	}
}

.ul {
	.li {
		list-style: inside disc;
	}
}
.li {
	color: $silver;
	list-style-position: inside;
	margin: 0.5rem 0;
	padding-left: 1rem;
}

.b,
.strong,
.i,
.em {
	color: $antique;
	// color: $salmon;
}

.i,
.em {
	font-style: italic;
}
