@import "../../../../styles/Variables.module.scss";
.wrapper {
	& > pre {
		margin: auto;
		text-align: left;
		width: 97%;
		& > code {
			@include flexNoFlow(center, flex-start);
			@include font(1.7rem, 500);
			@include wrapText;
			background-color: $color;
			border-radius: 0.5rem;
			color: $white;
			line-height: 2;
			min-height: 14rem;
			padding: 1rem 2rem;
			width: 100%;
		}
	}
}
