@import "../../../../styles/Variables.scss";

.wrapper {
	display: grid;
	grid-template-columns: repeat(24, 1fr);
}

.card {
	width: 98%;
	margin: auto;
	& > * {
		display: grid;
		grid-template-columns: repeat(13, 1fr);
	}
	& > .top {
		border-bottom: 1px solid $jordyBlue;
		padding: 0 1rem;
		height: 5rem;
		& > .title {
			@include flex(center, flex-start, null, null, null);
			grid-column: 1/12;
			width: 100%;
			& > h2 {
				@include font(1.8rem, 500, null, inherit, uppercase, null, start);
				color: $pictonBlue;
			}
		}

		& > .button {
			@include flex(center, flex-end);
			width: 100%;
			grid-column: 13/-1;
			& > button {
				$size: 2.75rem;
				@include size($size, $size);
				overflow: hidden;
				position: relative;
				& > span {
					display: block;
					transition: 0.2s ease-in-out;
					&:nth-of-type(1) {
						@include positioning(
							50%,
							null,
							null,
							50%,
							-50%,
							-50%,
							90deg,
							null,
							absolute
						);
					}
					&:nth-of-type(2) {
						@include positioning(
							50%,
							null,
							null,
							50%,
							-50%,
							-50%,
							0deg,
							null,
							absolute
						);
					}
					@include size(2px, 90%);
					background-color: $pictonBlue;
				}
				&[data-expand="true"] {
					& > span {
						&:nth-of-type(1) {
							@include positioning(
								50%,
								null,
								null,
								50%,
								-50%,
								-50%,
								-45deg,
								null,
								absolute
							);
						}
						&:nth-of-type(2) {
							@include positioning(
								50%,
								null,
								null,
								50%,
								-50%,
								-50%,
								45deg,
								null,
								absolute
							);
						}
					}
				}
			}
		}
	}
	& > .bottom {
		margin-top: 2rem;
		& > figure {
			position: relative;
			grid-column: 1/-1;
			width: 90%;
			margin: auto;
			aspect-ratio: 4/3;
			border-radius: 2rem 1rem 2rem 0rem;
			overflow: hidden;
		}
		& > div {
			grid-column: 1/-1;
			& > p {
				@include font(1.55rem, 300, 1.7, inherit, null, -1px, start);
				padding: 2rem;
			}
			& > div {
				@include flex(center, flex-end);
				padding: 0.2rem 2rem;
				& > a {
					@include flex(center, center);
					@include font(1.6rem, 700, null, inherit, uppercase, null, center);
					@include minSize(3rem, 10rem);
					border-radius: 2rem;
					background-color: $sapphire;
					padding: 1rem 2rem;
					transition: 0.2s ease-in-out filter;
					&:focus-within,
					&:hover {
						filter: brightness(115%);
					}
				}
			}
		}
	}
}

.content {
	@include flex(flex-start, center, column, null, 4rem);
	padding: 4rem 1.2rem 4rem 2rem;
	grid-column: 1/23;
	position: relative;
	border-radius: 0 5rem 5rem 0;
	background-image: linear-gradient(
		to left,
		hsla(240, 10%, 14%, 0.12),
		hsla(240, 10%, 14%, 0.2)
	);

	backdrop-filter: blur(1.2rem) brightness(115%);
	grid-row: 1;
	min-height: 60rem;
	z-index: 0;
	& > .image {
		@include positioning(50%, null, null, 50%, -50%, -50%, null, -4, absolute);
		@include size(100%, 100%);
		filter: blur(12rem) brightness(60%);
		opacity: 0.6;
	}
	& > section {
		& > header {
			& > h2 {
				@include font(4rem, 800, 0.75, inherit, null, 1.2px, start);
				width: 92%;
			}
		}
		& > p {
			@include font(1.45rem, 500, 1.9, inherit, null, -1.2px, start);
			margin-top: 1.85rem;
		}
	}
	& > div {
		justify-content: flex-end !important;
		width: 100%;
	}
}

.cards {
	@include flex(flex-start, flex-start, column, null, 2rem);
	width: 100%;
}

@media only screen {
	@media (min-width: 540px) {
		.content {
			grid-column: 1/22;
			& > section {
				& > header {
					& > h2 {
						@include font(6.55rem, null, 0.85, inherit, null, null, null);
						width: 92%;
					}
				}
				& > p {
					@include font(1.85rem, 500, 1.9, inherit, null, -1.2px, start);
					margin-top: 1.85rem;
				}
			}
		}
		.card {
			width: 98%;
			margin: auto;
			& > * {
				display: grid;
				grid-template-columns: repeat(13, 1fr);
			}
			& > .top {
				padding: 0 1rem;
				min-height: 6rem;
				& > .title {
					grid-column: 1/13;
					& > h2 {
						@include font(2.3rem, 500, null, inherit, uppercase, -1.5px, start);
					}
				}

				& > .button {
					grid-column: 13/-1;
					& > button {
						$size: 2.95rem;
					}
				}
			}
			& > .bottom {
				& > figure {
					grid-column: 1/12;
					width: 90%;
				}
				& > div {
					grid-column: 2/-1;
					& > p {
						@include font(1.85rem, 300, 1.7, inherit, null, -1px, start);
						padding: 0.6rem;
					}
					& > div {
						& > a {
							@include minSize(3rem, 15rem);
							font-size: 1.9rem;
						}
					}
				}
			}
		}
	}
	@media (min-width: 800px) {
		.content {
			grid-column: 1/22;
			& > section {
				& > header {
					& > h2 {
						@include font(6.55rem, null, 0.85, inherit, null, null, null);
						width: 92%;
					}
				}
				& > p {
					@include font(1.85rem, 500, 1.9, inherit, null, -1.2px, start);
					margin-top: 1.85rem;
				}
			}
		}
		.card {
			width: 98%;
			margin: auto;
			& > * {
				display: grid;
				grid-template-columns: repeat(13, 1fr);
			}
			& > .top {
				padding: 0 1rem;
				min-height: 6rem;
				& > .title {
					grid-column: 1/13;
					& > h2 {
						@include font(2.3rem, 500, null, inherit, uppercase, -1.5px, start);
					}
				}

				& > .button {
					grid-column: 13/-1;
					& > button {
						$size: 2.95rem;
					}
				}
			}
			& > .bottom {
				& > figure {
					grid-column: 1/7;
					width: 90%;
					margin: 0 auto auto auto;
				}
				& > div {
					grid-column: 7/-1;
					& > p {
						@include font(1.85rem, 500, 1.7, inherit, null, -1px, start);
						padding: 0.6rem;
					}
					& > div {
						margin-top: 1rem;
						& > a {
							@include minSize(3rem, 15rem);
							font-size: 1.9rem;
						}
					}
				}
			}
		}
	}
	@media (min-width: 1200px) {
		.content {
			grid-column: 1/19;
			& > section {
				& > header {
					& > h2 {
						@include font(8.55rem, null, 0.85, inherit, null, null, null);
						width: 85%;
					}
				}
				& > p {
					@include font(2rem, 500, 1.9, inherit, null, -1.2px, start);
					margin-top: 1.85rem;
				}
			}
		}
		.card {
			& > .top {
				& > .title {
					& > h2 {
						@include font(3rem, 500, null, inherit, uppercase, -1.5px, start);
					}
				}

				& > .button {
					& > button {
						$size: 4rem;
						@include size($size, $size);
					}
				}
			}
			& > .bottom {
				& > figure {
					grid-column: 1/8;
					width: 90%;
					margin: 0 auto auto auto;
				}
				& > div {
					grid-column: 8/-1;
					& > p {
						font-size: 1.95rem;
						padding: 1rem;
					}
					& > div {
						margin-top: 2rem;
						& > a {
							@include minSize(3rem, 15rem);
							font-size: 1.9rem;
						}
					}
				}
			}
		}
	}
	@media (min-width: 1500px) {
		.content {
			grid-column: 1/17;
			padding: 4rem 3rem 4rem 7rem;
			& > section {
				& > header {
					& > h2 {
						font-size: 11.5rem;
						width: 85%;
					}
				}
				& > p {
					font-size: 2.3rem;
					font-weight: 500;
				}
			}
		}
		.card {
			& > .top {
				& > .title {
					& > h2 {
						font-size: 4rem;
					}
				}
			}
			& > .bottom {
				& > figure {
					grid-column: 1/7;
					width: 90%;
					margin: 0 auto auto auto;
				}
				& > div {
					grid-column: 7/-1;
					& > p {
						font-size: 2rem;
						line-height: 2;
					}
					& > div {
						margin-top: 2rem;
						& > a {
							@include minSize(4rem, 18rem);
							border-radius: 5rem;
							font-size: 2.7rem;
						}
					}
				}
			}
		}
	}
}
