@import "../../../../styles/Variables.module.scss";

.wrapper {
	@include flex(center, center);
	@include size(4rem, 15rem);
	border: 2px solid black;
	border-radius: 0.5rem;
	gap: 0.25rem;
	height: 4.75rem;
	max-width: auto;
	padding: 0.25rem 0.5rem 0.25rem 2.5rem;
	position: relative;
	transition: 0.3s linear padding;
	& > i {
		@include flex(center, center);
		@include size(2.25rem, 2.25rem);
		font-size: 1.8rem;
		opacity: 0;
		transition: 0.3s linear opacity, 0.3s linear visibility;
		visibility: hidden;
	}

	& > span {
		@include font(1.7rem, 700);
	}

	&:focus,
	&:focus-within,
	&:focus-visible,
	&:hover {
		padding: 0.25rem 0.5rem 0.25rem 0.5rem;
		& > i {
			opacity: 1;
			visibility: visible;
		}
	}
}
