@import "../../../../../styles/Variables.scss";

.wrapper {
	background-clip: padding-box;
	background-color: $black;
	border: solid 3.5px transparent;
	border-radius: 2rem;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	margin: 5rem auto;
	min-height: 20rem;
	position: relative;
	row-gap: 1rem;
	transition: 0.2s ease-in-out background-color;
	user-select: none;
	max-width: 95%;
	width: 70rem;
	padding: 3rem 0;
	&::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		margin: -3.5px; /* !importanté */
		border-radius: inherit; /* !importanté */
		background-image: linear-gradient(to right, $fuchsia, $citron, $cyan);
		transition: 0.2s ease-in-out all;
	}
	& > .image {
		@include flex(start, center);
		grid-column: 1/-1;
		& > figure {
			aspect-ratio: 1/1;
			border-radius: 50%;
			overflow: hidden;
			position: relative;
			width: 10rem;
		}
	}
	& > .content {
		@include flex(center, center);
		flex-flow: column;
		grid-column: 1/-1;
		row-gap: 1rem;
		& > h2 {
			color: $white;
			font-family: $righteous;
			transition: 0.2s ease-in-out color;
			&:focus,
			&:focus-within,
			&:hover {
				color: $citron;
			}
		}
		& > address {
			@include flex(center, center);
			flex-flow: column;
			row-gap: 2rem;
			& > a {
				@include flex(center, center);
				gap: 1rem;
				font-style: normal;
				color: $white;
				transition: 0.2s ease-in-out color;
				&:focus,
				&:focus-within,
				&:hover {
					color: $fuchsia;
				}
			}
		}
	}

	&:hover {
		&::after {
			background: linear-gradient(to right, $cyan, $fuchsia, $citron);
		}
	}

	@media only screen {
		@media (min-width: 800px) {
			width: 70rem;
			& > .image {
				grid-column: 1/4;
				& > figure {
					width: 90%;
				}
			}
			& > .content {
				grid-column: 4/-1;
				row-gap: 1rem;
			}
		}
	}
}
