@import "../../../../../styles/Mixins.scss";
@import "../../../../../styles/Variables.scss";

.wrapper {
    @include flex(flex-start, flex-start, column, null, 1rem);
    border-radius: 1rem;
    background-color: color-mix(in srgb, $white 75%, $gray2 25%);
    padding: 2.7rem;
    margin:3rem auto;
    widtH:clamp(5rem, 38rem, 95%);
    transition:.22s linear background-color, .12s ease-in-out border-radius;
    &:focus-within,
    &:hover{
        background-color: color-mix(in srgb, $yellow 75%, $yellow3 25%);
        // border-radius: 1rem 7rem 1rem 1rem;
    }
}

.categories {
    @include flex(center,flex-start, row wrap, .6rem, .6rem);
}

.category {
    @include font(1.34rem, 500, 1,null);
    padding: 0.2rem 0.5rem;
    position: relative;
}

.title {
    @include font(2.2rem, 700);
}

.excerpt {
    @include font(1.45rem, 500, 1.4);
}


@media only screen {
    @media (min-width:1000px){
        .wrapper {
            &:focus-within,
            &:hover{
                border-radius: 1rem 3rem 1rem 1rem;
            }
        }
        .title {
            font-size: 2.5rem;
        }
    }
}