@import "../../../../../styles/Variables.module.scss";
.wrapper {
	@include flex(center, row, center);
	gap: 1rem;
	padding: 0 2rem 0 0;
	height: 100%;
	@media only screen {
		@media (max-width: 850px) {
			justify-content: flex-end;
			width: 100%;
		}
	}
}
