@import "../../../../styles/Variables.module.scss";
.wrapper__homepage__card {
	border-radius: 2rem;
	overflow: hidden;
	margin: auto;
	height: 40rem;
	width: 35rem;
	position: relative;
	& > a {
		position: relative;
		z-index: 0;
		&,
		& > figure {
			@include fullSize;
		}
		& > figure {
			position: relative;
			z-index: 0;
			& > div {
				@include fullSize;
				position: relative;
				transition: 0.3s linear scale;
			}
		}
		& > figcaption {
			background-color: #c9d5f3;
			position: absolute;
			bottom: 0;
			padding: 1rem;
			width: 100%;
			transition: 0.3s linear all;
			transform: translateY(calc(100% - 6rem));
			& > h4 {
				font-size: 2.5rem;
				height: 6rem;
				font-weight: 700;
			}
			& > p {
				font-size: 1.5rem;
				line-height: 1.7;
				transition: 0.3s linear all;
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	&:focus,
	&:focus-within,
	&:hover {
		& > a {
			& > figure {
				& > div {
					scale: 1.12;
				}
			}
			& > figcaption {
				transform: translateY(0);
				& > p {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	@media only screen {
		@media (max-width: 1460px) {
			height: 33rem;
			width: 35rem;
			& > a {
				& > figcaption {
					position: absolute;
					bottom: 0;
					padding: 1rem;
					width: 100%;
					transition: 0.3s linear all;
					transform: translateY(calc(100% - 4.5rem));
					& > h4 {
						font-size: 2.25rem;
						height: 4rem;
						font-weight: 700;
					}
					& > p {
						font-size: 1.45rem;
						line-height: 1.3;
					}
				}
			}
		}
		@media (max-width: 1300px) {
			height: 32rem;
			width: 30rem;
			& > a {
				& > figcaption {
					position: absolute;
					bottom: 0;
					padding: 1rem;
					width: 100%;
					transition: 0.3s linear all;
					transform: translateY(calc(100% - 4.5rem));
					& > h4 {
						font-size: 2.25rem;
						height: 4rem;
						font-weight: 700;
					}
					& > p {
						font-size: 1.45rem;
						line-height: 1.3;
					}
				}
			}
		}
		@media (max-width: 1150px) {
			height: 32rem;
			width: 23rem;
		}
		@media (max-width: 890px) {
			max-width: 95%;
			width: 100%;
		}
	}
}
