//  FONTS
$code: "Kode Mono", monospace;
$bold: "Rubik Mono One", monospace;
$regural: "Inter", sans-serif;
$special: "JetBrains Mono", monospace;

// COLORS
$black: rgb(0, 0, 0);
$onyx: rgb(65, 65, 65);
$gray: rgb(130, 130, 130);
$gray2: rgba(159, 159, 159, 0.796);
$gray3: rgba(108, 108, 108, 0.729);
$white: rgb(255, 255, 255);
$claret: rgb(127, 17, 46);
$orange: rgb(191, 0, 3);
$red: rgb(229, 50, 51);
$yellow: #ffd65b;
$yellow2: #faaa3a;
$yellow3: #da7739;
