//  FONTS
$code: 'Kode Mono', monospace;
$bold: 'Rubik Mono One', monospace;
$regural: 'Inter', sans-serif;
$special: 'JetBrains Mono', monospace;

// COLORS
$black: rgb(0, 0, 0);
$onyx: rgb(65, 65, 65);
$gray: rgb(130, 130, 130);
$white: rgb(255, 255, 255);
$claret: rgb(127, 17, 46);
$orange: rgb(191, 0, 3);
$red: rgb(229, 50, 51);
$blue-polynesian: rgb(22, 80, 160);
$blue-delift: rgb(24, 46, 89);
$blue-oxford: rgb(11, 27, 53);
