@import "../../../../styles/Variables.scss";

.wrapper {
	@include backgroundImage(#000000b7, multiply);
	min-height: calc(100vh - 15rem);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	& > section {
		@include flex(flex-start, center);
		flex-flow: column;
		// background: red;
		grid-column: 1/-1;
		padding: 1rem 2rem;
		row-gap: 2rem;
		& > header {
			width: 100%;
			& > h1 {
				@include font(4.65rem, 700);
				text-align: center;
				word-wrap: break-word;
			}
		}
		& > p {
			@include font(1.9rem, 300);
			line-height: 1.9;
		}
	}
	@media only screen {
		@media (min-width: 730px) {
			& > section {
				grid-column: 1/10;
				& > header {
					& > h1 {
						font-size: 8rem;
						text-align: start;
					}
				}
				& > p {
					font-size: 2.2rem;
					line-height: 2;
				}
			}
		}
		@media (min-width: 1250px) {
			& > section {
				grid-column: 1/8;
				& > header {
					& > h1 {
						font-size: 10rem;
					}
				}
				& > p {
					font-size: 2.25rem;
				}
			}
		}
	}
}
