@import "../../../../styles/Variables.scss";

.wrapper {
	@include flex(center, center, row wrap, 4rem, 3rem);
	margin: 5rem 0;
}

.card {
	@include flex(center, center, column, null, 2rem);
	cursor: default;
	margin: auto;
	user-select: none;
	& > span {
		$size: 12.5rem;
		@include flex(center, center, null, null, null);
		@include font(7rem, 500, null, inherit, null, null, center);
		@include size($size, $size);
		border-radius: 50%;
		backdrop-filter: blur(0.5rem);
		box-shadow: inset 0 0 2rem hsla(0, 100%, 0%, 0.2);
		color: $sapphire;
		position: relative;
		z-index: 0;
		&::after,
		&::before {
			@include positioning(
				50%,
				null,
				null,
				50%,
				-50%,
				-50%,
				45deg,
				-2,
				absolute
			);
			@include size(100%, 100%);
			border-radius: 50%;
			border: 3px solid $sapphire;
			transition: 0.2s ease-in-out;
		}
	}
	& > h3 {
		@include font(2.4rem, 400, null, inherit, null, null, center);
		color: hsl(218, 77%, 51%);
	}
}

@media only screen {
	@media (min-width: 1200px) {
		.wrapper {
			@include flex(center, center, row wrap, 3rem, 3rem);
			margin: 8rem 0;
		}

		.card {
			& > span {
				$size: 19rem;
				font-size: 9rem;
				@include size($size, $size);
			}
			& > h3 {
				font-size: 2.7rem;
			}
		}
	}
	@media (min-width: 1500px) {
		.wrapper {
			margin: 12rem 0;
		}
	}
}
