@import "../../../styles/Variables.module.scss";

.wrapper {
	@include flex(center, center);
	@include size(100vh);
	& > div {
		form {
			@include flex(flex-start, center);
			flex-flow: column;
			row-gap: 2rem;
			padding: 2rem;
			button {
				margin: auto;
				margin-right: 0;
			}
		}
	}
}
