@import "../../../../styles/Variables.scss";

.wrapper {
	align-items: center;
	border-radius: 0 0 2rem 2rem;
	justify-items: end;
	background-color: $antique;
	display: grid;
	grid-template-columns: repeat(21, 1fr);
	min-height: 40rem;
	& > .box {
		align-items: center;
		align-content: center;
		justify-items: center;
		justify-content: center;
		display: grid;
		transform: translateY(-2rem);
		grid-column: 5/21;
		// background: red;
		grid-column: 1/-1;
		gap: 0.5rem;
		grid-template-columns: repeat(1, 100%);
		// grid-template-rows: repeat(2, 45rem);
		// & > *:first-child {
		// 	grid-column: 2;
		// }
	}
}

@media only screen {
	@media (min-width: 570px) {
		.wrapper {
			border-radius: 0 0 4rem 4rem;
			& > .box {
				grid-column: 2/21;
				gap: 0.5rem;
				grid-template-columns: repeat(2, 1fr);
				& > *:first-child {
					grid-column: 2;
				}
			}
		}
	}
	@media (min-width: 670px) {
		.wrapper {
			border-radius: 0 0 7rem 7rem;
			& > .box {
				$tileSize: 28rem;
				grid-column: 1/21;
				gap: 0.5rem;
				grid-template-columns: repeat(2, $tileSize);
				grid-template-rows: repeat(2, $tileSize);
			}
		}
	}
	@media (min-width: 900px) {
		.wrapper {
			border-radius: 0 0 9rem 9rem;
			& > .box {
				$tileSize: 36rem;
				grid-column: 1/21;
				gap: 0.5rem;
				grid-template-columns: repeat(2, $tileSize);
				grid-template-rows: repeat(2, $tileSize);
			}
		}
	}
	@media (min-width: 1300px) {
		.wrapper {
			& > .box {
				$tileSize: 51rem;
				grid-column: 1/21;
				gap: 0.5rem;
				grid-template-columns: repeat(2, $tileSize);
				grid-template-rows: repeat(2, $tileSize);
				transform: translateY(3rem);
			}
		}
	}
}
