@import '../../../../styles/Mixins.scss';
@import '../../../../styles/Variables.scss';

.wrapper {
  @include flex(center, center, row nowrap, 0.25rem);
  & > label {
    @include font(1.7rem, 500, 1, uppercase, -1px, center);
    color: $white;
  }
  & > button {
    @include flex(center, space-evenly, column);
    @include size(4rem, 4rem);
    padding: 0.25rem;
    position: relative;
    overflow: hidden;
    & > span {
      @include size(0.15rem, 90%);
      border-radius: 2rem;
      background-color: $white;
      transition: 0.15s linear transform;
    }
    &[data-expand='true'] {
      & > span {
        left: 50%;
        top: 50%;
        position: absolute;
        &:first-of-type {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:last-of-type {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
}
