@import "../../../../styles/Variables.module.scss";
.wrapper__contact {
	@include flex(flex-start, column-reverse, center);
	background-color: $tertiary;
	border-radius: 5px;
	color: $colorSecondary;
	cursor: text;
	font-size: 1.6rem;
	max-width: 90%;
	padding: 4px 15px 6px;
	transition: 0.3s;
	width: 45rem;
	&:focus-within,
	&:hover {
		background-color: $secondary;
	}
	& > * + label {
		color: $colorSecondary;
		cursor: text;
		font-size: 1.7rem;
		font-weight: 600;
		pointer-events: none;
		transform: translate(0, 50%) scale(1);
		transform-origin: left;
		transition: all 0.2s;
		user-select: none;
	}
	& > *:not(:placeholder-shown),
	& > *:focus {
		& + label {
			transform: translate(0, 0) scale(0.8);
		}
	}
	& > input,
	& > textarea {
		color: $colorSecondary;
		font-size: 1.6rem;
		padding: 3rem 0 1rem;
		transition: 0.2s all;
		margin: -3rem 0 -1rem;
		width: 100%;
		&::-moz-placeholder {
			color: transparent !important;
		}
		&::-webkit-input-placeholder {
			opacity: 0;
		}
	}
	& > textarea {
		height: 25rem;
	}
	@media only screen {
		@media (max-width: 475px) {
			width: 40rem;
		}
		@media (max-width: 420px) {
			width: 36rem;
		}
		@media (max-width: 375px) {
			width: 33rem;
		}
		@media (max-width: 325px) {
			width: 29rem;
		}
	}
}
