@import "../../../../styles/Variables.scss";

.wrapper {
	position: relative;
	& > .button {
		@include flex(center, center);
		@include size(5rem, 5rem);
		border-radius: 0.5rem 0.5rem 0 0;
		color: $white;
		font-size: 2rem;
		transition: 0.15s ease-in-out backgroud-color, 0.15s ease-in-out color;
	}
	& > .menu {
		@include flex(center, center);
		flex-flow: column;
		position: absolute;
		background-color: $gray;
		border-radius: 0 0 0.5rem 0.5rem;
		padding: 0.5rem 0;
		row-gap: 0.15rem;
		width: 100%;
		& > .item {
			@include size(4.25rem, 4.25rem);
			color: $black;
			transition: 0.15s ease-in-out background-color, 0.15s ease-in-out color;
			&,
			& > a {
				@include flex(center, center);
			}
			& > a {
				@include font(1.8rem, 600);
			}
			&[data-lang="true"] {
				background-color: $jet;
				color: $white;
			}
		}
	}
}
