@import '../../../../styles/Mixins.scss';
@import '../../../../styles/Variables.scss';

// PRIMARY  =================================================================

.primary__wrapper {
    display: grid;
    grid-template-columns: repeat(13,1fr);
    padding-top: 1rem;
    transition:.27s ease-in-out background-color;
    min-height: 30rem;
    width: 100%;
    position: relative;

    &::after,
    &::before {
        border-radius: 2rem;
        height: .5rem;
        top: 0;
        left: 0;
    }

    &::after {
        background-image:linear-gradient(to right,$blue, $darkBlue, rgba($aquamarine,.7));
        box-shadow:0 0 1rem rgba($blue,.5);
        transition:.67s ease-in-out width;
        width: 1%;
        z-index: 1;
    }

    &::before {
        background-color: rgba($taupeGray,.1);
        width: 100%;
        z-index: 0;
    }

    &:focus-within,
    &:hover {
        background-color: rgba($blue,.045);
        &::after {
            width: 100%;
        }
    }

}

.primary__details ,
.primary__content__box {
    padding: 2rem 1rem;
    grid-column: 1/-1;
}

.primary__details {
    @include flex(flex-start,flex-start,column,null,2rem);
    grid-row: 1/1;
}

.primary__content__box {
    grid-row: 2/5;
}

.primary__content {
    @include font(1.62rem,400,1.7,null,null,start,$monospace);
}

.primary__title {
    @include font(3.7rem,600,1.2,null,null,start);
}

.primary__image__box {
    @include flex(flex-start,center);
    display: none;
    grid-column: 7/-1;
    grid-row: 1/3;
}

.primary__image {
    @include size(92%, clamp(5rem,30rem,85%));
    position: relative;
}

.primary__categories{
    @include flex(center,flex-start,row wrap,1rem, 1rem);
}
.primary__categories__item {
    @include font(1.7rem,800,1,null,null,center);
    background-color: $black;
    color: $white;
    padding: .85rem 1.3rem;
}

@media only screen {
    @media (min-width:650px){
        .primary__details {
            grid-column: 1/9;
        }

        .primary__content__box {
            grid-column: 1/9;
        }

        .primary__content {
            font-size: 1.62rem;
        }

        .primary__title {
            font-size: 3.7rem;
        }

        .primary__image__box {
            display: flex;
            grid-column: 9/-1;
            grid-row: 1/5;
        }
    }
    @media (min-width:1100px){
        .primary__wrapper {
            min-height: 45rem;
        }

        .primary__content__box,
        .primary__details,
        .primary__image__box {
            grid-row: 1 !important;
        }

        .primary__content__box,
        .primary__details {
            padding: 2rem !important;
        }

        .primary__details {
            grid-column: 1/5;
        }

        .primary__content__box {
            grid-column: 10/-1;
        }

        .primary__content {
            font-size: 1.8rem;
        }

        .primary__title {
            font-size: 4.7rem;
        }

        .primary__image__box {
            grid-column: 5/10;
        }
    }
}


// SECONDARY  =================================================================
.secondary__wrapper {
    background-color:$erieBlack;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 10rem calc(100% - 27rem) 17rem;
    grid-template-rows: minmax(2rem,auto) auto;
    min-height: 10rem;
    padding: 1rem;
    transition: .12s linear filter;
    width: 100%;
    &:focus-within,
    &:hover {
        filter:brightness(125%);
    }
}

.secondary__image {
    aspect-ratio: 2/3;
    border-radius: 1rem;
    grid-column: 1;
    grid-row: 1/-1;
    overflow: hidden;
    position: relative;
}

.secondary__categories {
    @include flex(flex-start,flex-end,row,.2rem,.2rem);
    grid-column: 2/-1;
    grid-row: 1;
    padding: .24rem;
}

.secondary__category {
    @include font(1.5rem,800,1,null,null,center);
    background-color: $taupeGray;
    border-radius: 1rem;
    color: $erieBlack;
    padding: .85rem .6rem;
}

.secondary__title {
    @include font(2.45rem,500,1.2,null,null,start);
    grid-column: 2/-1;
    grid-row: 2;
    padding: 2rem 1rem 0 2rem;
}

@media only screen {
    @media (min-width:630px){
        .secondary__category {
            font-size: 1.58rem;
            padding: .85rem 1.2rem;
        }
        .secondary__title {
            font-size: 2.7rem;
            line-height: 1.1;
        }       
    }
    @media (min-width:925px){
        .secondary__wrapper {
            grid-template-columns: 10rem calc(100% - 35rem) 25rem;
            grid-template-rows:1fr;
        }
        .secondary__image {
            grid-row: 1;
        }
        .secondary__categories {
            @include flex(flex-end,flex-start,column,.7rem,.7rem);
            grid-column: 3;
            grid-row: 1;
        }
        .secondary__category {
            font-size: 1.6rem;
            padding: .72rem 1.6rem;
        }
        .secondary__title {
            font-size: 2.7rem;
            grid-column: 2;
            grid-row: 1;
            padding: 2rem ;
        }       
    }
}