@import '../../../../../../styles/Variables.scss';

.wrapper {
	& > ul {
		@include flex(flex-start, flex-start, column, null, 1rem);
		padding: 2rem;
	}
}

@media only screen {
	@media (min-width: 1050px) {
		.wrapper {
			position: relative;
			& > ul {
				background-color: $black;
				color: $white;
				position: absolute;
				border-radius: 0 0.2rem 0.2rem 0.2rem;
				box-shadow: 0 0 0.3rem rgba($platinum, 0.42);
				width: 30rem;
			}
		}
	}
}
