@import "../../../../../../styles/Variables.scss";

.wrapper {
	& > ul {
		@include flex(flex-start, flex-start, column, null, 1rem);
		padding: 2rem;
	}
}

@media only screen {
	@media (min-width: 1050px) {
		.wrapper {
			position: relative;
			& > ul {
				background-color: $black;
				border-radius: 1.2rem;
				box-shadow: 0 0 0.3rem rgba($platinum, 1);
				color: $white;
				left: -5rem;
				position: absolute;
				width: 25rem;
				z-index: 9999;
			}
		}
	}
}
