@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    display: grid;
    grid-template-columns: repeat(15,1fr);
    grid-template-columns: 1fr;
    margin:2rem auto;
    width:clamp(5rem,150rem,97%);
}

@media only screen {
    @media (min-width:950px){
        .wrapper {
            grid-template-columns: repeat(15,1fr);
        }       
    }
}