@import "../../../../styles/Variables.scss";

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	margin: 12rem auto 2rem;
	max-width: 95%;
	width: 210rem;
	& > .section {
		grid-column: 1/-1;
		grid-row: 1;
	}
	& > .cards {
		@include flex(baseline, flex-start);
		flex-flow: row nowrap;
		gap: 2rem;
		grid-column: 1/-1;
		grid-row: 2;
		margin-top: 2rem;
		overflow-x: scroll;
		&::-webkit-scrollbar {
			height: 0;
		}
	}
	@media only screen {
		@media (min-width: 850px) {
			& > .cards {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				overflow-x: visible;
			}
		}
		@media (min-width: 1250px) {
			& > .cards {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}
