@import "../../../../../styles/Variables.module.scss";
.wrapper {
	gap: 0.15rem;
	margin: 0.5rem auto 7rem;
	max-width: 95vw;
	width: 150rem;
	&,
	& > li {
		@include flex(center, row wrap, flex-start);
	}
	& > li {
		gap: 0.35rem;
		& > span {
			@include flexNoFlow(center, center);
			aspect-ratio: 1/1;
			font-size: 2rem;
			width: 2.45rem;
		}
		&:last-of-type {
			& > a {
				color: $primaryButtonColor;
			}
		}
	}
}
