<form action="">
	<input type="text" name="" id="login" placeholder="login" required />
	<input
		type="password"
		name=""
		id="password"
		placeholder="password"
		required
	/>
	<button type="submit">
		submit
	</button>
</form>