@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
  @include backgroundCover;
  background-color: color-mix(in srgb, $yellow 72%, $yellow3 28%);
  background-image: url("/assets/projects-background.svg");
  color:$black;
  padding: 4rem 1rem;
}

.container {
  @include flex(center, flex-start, row wrap, 1rem, 1rem);
}

.title {
  @include font(4.61rem, 900);
  margin: 0 auto 0 0;
}

.content {
  @include font(1.651rem, 400, 2.2);
}
