@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
  background-color: color-mix(in srgb, $yellow 5%, $yellow3 95%);
  padding: 4rem;
}

.card {
  background: purple;
  border-radius: 2rem;
  overflow: hidden;
  background-color: color-mix(in srgb, $white 70%, $yellow3 30%);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 60rem;
  margin: 2rem auto;
}

.card__content {
  @include flex(flex-start, flex-start, column, null, 1rem);
  padding: 4rem;
  color: $black;
  grid-column: 1/3;
}

.card__content__title {
  @include font(7rem, 900);
  text-wrap: balance;
}

.card__content__excerpt {
  @include font(2rem, 400, 1.9);
}

.card__content__categories {
  @include flex(flex-start, flex-start, row wrap, 1rem, 1rem);
}

.card__content__category {
  @include font(1.9rem, 600, 1, null, null, center);
  border: 2px solid $black;
  font-family: $special;
  padding: 0.8rem 1.2rem;
  position: relative;
  &::after {
    @include size(100%, 0%);
    background-color: rgba($black, 0.15);
    left: 0;
    top: 0;
    transition: 0.12s ease-in-out width;
  }
  &:focus-within,
  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.card__image {
  background: aqua;
  grid-column: 3/-1;
  position: relative;
  display: block;
}

.container {
  @include flex(center, flex-start, row wrap, 1rem, 1rem);
}

.title {
  @include font(10.25rem, 900);
  margin: 0 auto 0 0;
}

.content {
  @include font(2.2rem, 400, 2.2);
}
