@import "../../../../../styles/Variables.scss";

.wrapper {
	@include flex(center, center);
	@include size(4.75rem, 4.75rem);
	color: $platinum;
	font-size: 3.2rem;
	transition: 0.15s linear color;
	&:focus-within,
	&:hover {
		color: $white;
	}
}
@media only screen {
	@media (min-width: 1050px) {
		.wrapper {
			@include size(4rem, 4rem);
			font-size: 2.5rem;
		}
	}
}
