@import "../../../../styles/Variables.scss";

.wrapper {
	margin-top: 5rem;
	& > section {
		margin: 1rem auto 3rem;
		width: clamp(10rem, 190rem, 95%);
		& > header > h2 {
			@include font(8.5rem, 800, 1.2, $drukCyr, uppercase, 1px, center);
			&::first-letter {
				color: $yellow;
			}
		}
		& > div,
		& > p {
			margin: 1rem auto 3rem;
			width: clamp(10rem, 110rem, 95%);
		}
		& > p {
			@include font(2.3rem, 400, 1.9, inherit, null, -1px, start);
		}
	}
	& > ul {
		@include flex(center, center, column, null, 2rem, false);
		margin-top: 5rem;
		position: relative;
	}
}

@media only screen {
	@media (min-width: 550px) {
		.wrapper {
			& > section {
				& > header > h2 {
					font-size: 10rem;
				}
			}
		}
	}
	@media (min-width: 650px) {
		.wrapper {
			& > section {
				& > header > h2 {
					font-size: 13rem;
				}
			}
		}
	}
	@media (min-width: 800px) {
		.wrapper {
			& > section {
				& > header > h2 {
					font-size: 16rem;
				}
			}
		}
	}
	@media (min-width: 1000px) {
		.wrapper {
			& > section {
				& > header > h2 {
					font-size: 21rem;
				}
			}
		}
	}
	@media (min-width: 1500px) {
		.wrapper {
			& > section {
				& > header > h2 {
					font-size: 30rem;
				}
			}
		}
	}
	@media (min-width: 1800px) {
		.wrapper {
			& > section {
				& > header > h2 {
					font-size: 36rem;
				}
			}
		}
	}
	@media (min-width: 1900px) {
		.wrapper {
			& > section {
				& > header > h2 {
					font-size: 44rem;
				}
			}
		}
	}
}
