@import "../../../../styles/Variables.scss";
.wrapper {
	@include grid(null, 2rem, repeat(12, 1fr), null, 2rem, null);
	margin: 2rem auto 5rem;
	max-width: 95%;
	width: 70rem;
	& > aside {
		grid-column: 1/-1;
		position: relative;
		& > .cv {
			margin-bottom: 2rem;
			&,
			& > a {
				@include flex2(center, center, row wrap);
			}
			& > a {
				@include size(7rem, 35rem);
				border-radius: 1rem;
				background-color: $gray;
				gap: 1rem;
				transition: 0.25s ease-in-out background-color;
				& > * {
					@include font(2rem, 600);
					color: $black;
					transition: 0.25s ease-in-out color;
				}
				&:focus-within,
				&:hover {
					background-color: $citron;
				}
			}
		}

		& > .details {
			@include flex2(center, center, column, 0 2rem);
			background-color: $black;
			position: sticky;
			top: 10rem;
			& > * {
				width: 100%;
			}
			& > .address {
				display: grid;
				font-style: normal;
				& > .location {
					@include font2(center, 2rem, 700, 2);
					color: $gray;
				}
				& > .contact {
					@include flex2(center, center, column, 0.5rem);
					padding-bottom: 1rem;
					& > a {
						@include font2(center, 1.75rem, 700);
						&:focus-within,
						&:hover {
							color: $cyan;
						}
					}
				}
			}
			& > .map {
				@include flex(center, center);
				position: relative;
				& > iframe {
					@include size(40rem, 70%);
					border: none;
					object-fit: cover;
					object-position: center;
					outline: none;
				}
			}
		}
	}
	& > main {
		grid-column: 1/-1;
	}
	@media only screen {
		@media (min-width: 1250px) {
			width: 170rem;
			& > aside {
				grid-column: 1/5;
			}
			& > main {
				grid-column: 5/-1;
			}
		}
	}
}
