@import "../../../../../styles/Variables.scss";

.wrapper {
	margin: 2rem auto;
	width: clamp(10rem, 70rem, 90%);
}

.link {
	@include flex(center, center, column, null, 1rem);
	& > * {
		width: 100%;
	}
}

.image {
	border-radius: 2rem;
	height: 70rem;
	overflow: hidden;
	position: relative;
}

.box {
	padding: 0.5rem 1rem 1rem;
}
.socials {
	@include flex(center, space-around, row wrap, 1rem, 1rem, false);
	padding: 1rem 2rem;
}

.title {
	@include font(6.5rem, 600, 1.2, inherit, null, -1px, center);
	color: $antique;
}

.jobs,
.locations {
	@include font(3rem, 400, 1.4, inherit, null, -1px, center);
	margin-top: 0.15rem;
}
.locations {
	color: $silver;
}

.contact {
	padding: 0 3rem;
	& > .link {
		@include flex(center, center, row nowrap);
		margin: 0.15rem auto;
		transition: 0.15s linear color;
		&:focus-within,
		&:hover {
			color: $peach;
		}
		& > i {
			$size: 4rem;
			@include flex(center, center);
			@include size($size, $size);
			font-size: 3rem;
		}
		& > p {
			@include font(1.9rem, 500, 1, inherit, null, null, end);
			font-style: normal;
		}
	}
}
