@import "../../../../styles/Variables.module.scss";
.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	& > div {
		width: 100%;
		&:nth-of-type(1) {
			@include flex(start, column, flex-start);
			grid-column: 1/8;
			justify-content: center;
		}
		&:nth-of-type(2) {
			@include flexNoFlow(start, center);
			grid-column: 8/-1;
			position: relative;
		}
	}
	@media only screen {
		@media (max-width: 1175px) {
			& > div {
				&:nth-of-type(1) {
					grid-column: 1/7;
				}
				&:nth-of-type(2) {
					grid-column: 7/-1;
				}
			}
		}
		@media (max-width: 930px) {
			& > div {
				&:nth-of-type(1) {
					align-items: center;
				}
			}
		}
		@media (max-width: 820px) {
			& > div {
				&:nth-of-type(1) {
					grid-column: 1/6;
				}
				&:nth-of-type(2) {
					grid-column: 6/-1;
				}
			}
		}
		@media (max-width: 735px) {
			& > div {
				&:nth-of-type(1),
				&:nth-of-type(2) {
					grid-column: 1/-1;
				}
			}
		}
	}
}
