@import "../../../../styles/Variables.module.scss";
.wrapper {
	// min-height: calc(100vh - 10rem);
	// background: red;
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding: 1rem 2rem 1rem 3rem;

	& > .image {
		aspect-ratio: 1/1;
		border-radius: 50% 65% 50% 25%;
		overflow: hidden;
		width: 65rem;
		position: relative;
		margin: auto;
	}
	& > .content {
		// background: lime;
		@include flex(start, column, center);
		row-gap: 2rem;
		& > * {
			text-align: center;
			width: 100%;
		}
		& > .fullname {
			font-size: 5.25rem;
			font-weight: 800;
		}
		& > .jobs {
			// background: aqua;
			font-size: 3.2rem;
			opacity: 0.8;
		}
		& > .cities {
			// background: fuchsia;
			font-size: 2.7rem;
			opacity: 0.6;
		}
		& > .socials {
			@include flex(center, row wrap, center);
			// background: white;
			gap: 0.15rem;
			width: 100%;
			& > .social {
				aspect-ratio: 1/1;
				width: 3.65rem;
				& > a {
					@include flexNoFlow(center, center);
					// background: aqua;
					font-size: 2rem;
					height: 100%;
					width: 100%;
					& > * {
						transition: 0.2s linear scale;
					}
				}
				&:focus,
				&:focus-within,
				&:hover {
					& > a {
						& > * {
							scale: 1.7;
						}
					}
				}
			}
		}

		& > .contact {
			@include flex(center, row wrap, center);
			gap: 1rem;
			// background: violet;
			& > .contactItem {
				background-color: #6b748c;
				color: #f5f9ff;
				border-radius: 4rem;
				height: 4rem;
				width: 8rem;
				transition: 0.25s ease-in-out background-color,
					0.25s ease-in-out transform;
				& > a {
					@include flexNoFlow(center, center);
					font-size: 2.4rem;
					height: 100%;
					width: 100%;
					& > * {
						margin: auto;
					}
				}
				&:focus-within,
				&:hover {
					background-color: #585e6e;
				}
			}
		}
	}
}
