@import "../../../../styles/Variables.module.scss";
.wrapper {
	margin: 2rem auto 5rem;
	max-width: 90vw;
	row-gap: 3.2rem;
	width: 125rem;
	&,
	& > .details,
	& > .details > .socials {
		display: flex;
	}
	&,
	& > .details {
		flex-flow: column;
		justify-content: center;
	}
	& > .details {
		min-height: 25rem;
		padding: 1rem 0;
		row-gap: 1rem;
		& > .title {
			color: $primaryButtonColor;
			font-size: 5.75rem;
			font-weight: 800;
		}
		& > .socials {
			gap: 1rem;
			justify-content: flex-end;
			&,
			& > .social {
				align-items: center;
				display: flex;
			}
			& > .social {
				justify-content: center;
				& > * {
					aspect-ratio: 1/1;
					width: 3rem;
					&,
					& > * {
						align-items: center;
						display: flex;
						justify-content: center;
					}
					& > * {
						font-size: 2.4rem;
						transition: 0.25s ease-in-out color, 0.25s ease-in-out scale;
						&:focus,
						&:focus-within,
						&:hover {
							color: $secondaryButtonColor;
							scale: 1.2;
						}
					}
				}
			}
		}
		& > .reading,
		& > .release {
			padding: 0.25rem 0.3rem;
			text-align: end;
			width: 100%;
		}
		& > .release {
			font-size: 2.2rem;
		}
		& > .reading {
			column-gap: 0.5rem;
			font-size: 2rem;
			justify-content: flex-end;
			&,
			& > span {
				align-items: center;
				display: flex;
			}
			& > span {
				justify-content: center;
			}
		}
	}
	& > .image {
		aspect-ratio: 16/9;
		position: relative;
		width: 100%;
	}
	& > .excerpt {
		font-size: 1.86rem;
		font-weight: 600;
		line-height: 2;
		padding: 0.5rem;
	}
	@media only screen {
		@media (max-width: 815px) {
			& > .details {
				& > .title {
					font-size: 4.95rem;
				}
			}
		}
		@media (max-width: 625px) {
			& > .details {
				row-gap: 1.2rem;
				& > .title {
					font-size: 4.95rem;
				}
			}
			& > .excerpt {
				font-size: 1.75rem;
				line-height: 2;
			}
			& > .image {
				aspect-ratio: 16/11;
			}
		}
		@media (max-width: 400px) {
			& > .details {
				row-gap: 1.2rem;
				& > .title {
					font-size: 3.95rem;
				}
				& > .socials {
					& > .social {
						& > * {
							width: 3rem;
							& > * {
								font-size: 2.2rem;
							}
						}
					}
				}
				& > .release {
					font-size: 1.7rem;
				}
				& > .reading {
					font-size: 1.55rem;
				}
			}
			& > .excerpt {
				font-size: 1.6rem;
				line-height: 2;
			}
			& > .image {
				aspect-ratio: 4/5;
			}
		}
	}
}
