@import '../../../styles/Variables.scss';

.wrapper {
	@include flex(center, center, row nowrap, 0.8rem, null, true);
	@include positioning(null, null, 0, 0, null, null, null, 999, fixed);
	@include size(6rem, 100%);
	background-color: #fff;
	& > li {
		@include size(4.2rem, 4.2rem);
		&,
		& > a {
			@include flex(center, center);
		}
		& > a {
			@include size(100%, 100%);
			background: pink;
			color: $jet;
			font-size: 2.7rem;
		}
	}
}
