@import "../../../styles/Variables.scss";

.wrapper {
	@include flex(center, center);
	border-radius: 1rem;
	gap: 2rem;
	left: 50%;
	padding: 2rem 5rem;
	position: fixed;
	top: 15rem;
	transform: translate(-50%, -50%);
	transition: 0.2s ease-in-out all;
	user-select: none;
	z-index: 99;
	cursor: default;
	& > i {
		@include flex(center, center);
		font-size: 5rem;
	}
	& > p {
		@include font(4rem, 700);
		font-family: $openSans;
		text-transform: uppercase;
	}

	&[data-variant="none"] {
		display: none;
		opacity: 0;
		visibility: hidden;
	}
	&[data-variant="success"] {
		background-color: palegreen;
		color: $black;
	}
	&[data-variant="error"] {
		background-color: $cardinal;
		color: $white;
	}
	&[data-visible="true"] {
		opacity: 1;
		visibility: visible;
	}
	&[data-visible="false"] {
		opacity: 0;
		visibility: hidden;
	}
}
