@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    grid-column: 1/5;
    padding: 1rem;
    &,
    & > .cards {
        @include flex(flex-start,flex-start,column);
        width: 100%;
    }
}

.cards {
    background-color: $erieBlack;
    border-radius: 1rem;
    padding: 2rem;
}

.title {
    @include font(3rem,700,1.2,uppercase,1.2px,start);
    padding: 1rem;
}

.item {
    @include size(minmax(4rem, auto),100%);
    color:$taupeGray;
    display: grid;
    grid-template-columns: calc(100% - 4rem) 4rem;
    transition:.12s linear color;
    &:focus-within,
    &:hover {
        color:$white;
        &  > .icon {
            & > * {
                transform:translateY(0);
            }
        }
    }
}

.label {
    @include font(1.8rem,500,1,null,null,start,$monospace);
    @include flex(center,flex-start);
    padding: 0rem 1rem;
}

.icon {
    @include flex(center,center);
    @include size(4rem,4rem);
    position: relative;
    overflow: hidden;
    & > * {
        @include size(100%,100%);
        position: absolute;
        transition:.12s linear transform;
        transform:translateY(100%);
    }
}

@media only screen {
    @media (min-width:950px){
        .wrapper {
            grid-column: 1/7;
            border-right:2px solid $erieBlack;
        }

        .cards {
            background-color: unset;
        }
    }
    @media (min-width:1100px){
        .wrapper {
            grid-column: 1/6;
            border-right:2px solid $erieBlack;
        }

        .cards {
            background-color: unset;
            padding: 0.25rem;
        }

    }
    @media (min-width:1250px){
        .wrapper {
            grid-column: 1/5;
        }
    }
}        
