@import "../../../../styles/Variables.scss";

.wrapper {
	margin: 3rem auto;
	max-width: 99%;
	position: relative;
	width: 170rem;
	max-width: 90%;

	& > article {
		& > header {
			position: relative;
			& > h2 {
				font-family: $ibm;
				font-size: 3rem;
				padding: 0.75rem 0;
				position: relative;
			}
		}
		& > p {
			@include font(1.6rem, 600);
			line-height: 1.85;
			margin-top: 5rem;
			padding: 0.5rem;
		}
		& > div {
			@include flex(center, flex-end);
			margin-top: 2rem;
			& > a {
				@include flex(center, center);
				@include font(1.5rem, 600);
				padding: 1rem 1.2rem;
				text-align: center;
				max-width: 95%;
				background-color: $black;
				color: #fff;
				position: relative;
				text-transform: uppercase;
				transition: 0.2s ease-in-out all;
				z-index: 1;
				&::after,
				&::before {
					@include size(100%, 100%);
				}
				&::after {
					background-color: $black;
					transition: 0.2s ease-in-out all;
					z-index: -1;
				}
				&::before {
					background-color: $fuchsia;
					transform: translate(-1rem, -1rem);
					transition: 0.2s ease-in-out all;
					z-index: -2;
				}
				&:focus-within,
				&:hover {
					color: $black;
					&::after {
						background-color: $white;
					}
					&::before {
						background-color: $cardinal;
						filter: brightness(115%) hue-rotate(220deg);
						transform: translate(-0.5rem, -0.5rem);
					}
				}
			}
		}
	}
	& > div {
		& > ul {
			@include flex(flex-start, flex-end);
			flex-flow: row wrap;
		}
	}
	@media only screen {
		@media (min-width: 650px) {
			& > article {
				& > header {
					& > h2 {
						font-size: 6rem;
					}
				}
				& > p {
					font-size: 2.4rem;
				}
				& > div {
					margin-top: 2rem;
					& > a {
						font-size: 3rem;
						padding: 1.3rem 3rem;
					}
				}
			}
		}
		@media (min-width: 850px) {
			& > article {
				& > header {
					& > h2 {
						font-size: 5rem;
					}
				}
			}
			& > div {
				align-items: center;
				justify-items: end;
				& > ul {
					gap: 1rem;
					padding: 1.5rem;
				}
			}
		}
		@media (min-width: 1250px) {
			& > article {
				& > header {
					& > h2 {
						font-size: 7rem;
					}
				}
				& > p {
					font-size: 2.8rem;
					line-height: 2.55;
				}
			}
			& > div {
				& > ul {
					display: grid;
					grid-template-columns: repeat(4, 1fr);
				}
			}
		}
	}
}
