@import "../../../../styles/Variables.module.scss";

.wrapper {
	@include flexNoFlow(center, center);
	@include fullSize;
	position: fixed;
	background: rgba(0, 0, 0, 0.63);
	top: 0;
	padding: 1.15rem;
	left: 0;
	z-index: 99999999999999 !important;
}

.box {
	@include flex(center, column, center);
	background: orange;
	max-width: 95%;
	padding: 2.5rem 2rem;
	row-gap: 1.6rem;
	width: 95rem;
	& > * {
		width: 100%;
	}
	& > .title {
		background: pink;
		font-size: 2.85rem;
		line-height: 1.5;
	}

	& > .content {
		background: palegreen;
		font-size: 1.57rem;
		line-height: 1.8;
		font-weight: 500;
	}

	& > .permissions {
		@include flex(flex-start, column, center);
		background: yellow;
		row-gap: 0.5rem;
	}

	& > .buttons {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0.25rem;
		padding: 0.25rem;
		& > .button {
			@include flexNoFlow(center, center);
			& > button {
				@include fullSize;
				background: pink;
				height: 3.75rem;
				font-size: 1.45rem;
				font-weight: 600;
				padding: 0 1.25rem;
			}
		}
	}
}
