@import "../../../../styles/Variables.module.scss";

.wrapper {
	@include flexNoFlow(center, center);
	@include fullSize;
	position: fixed;
	background: rgba(0, 0, 0, 0.63);
	top: 0;
	padding: 1.15rem;
	left: 0;
	z-index: 99999999999999 !important;
	@media only screen {
		@media (max-width: 600px) {
			padding: 1.15rem 0.5rem;
		}
	}
}

.box {
	@include flex(center, column, center);
	background-color: $background;
	box-shadow: 0 0 2rem 1rem hsla(0, 100%, 0%, 0.5);
	max-width: 95%;
	padding: 2.5rem 2rem;
	row-gap: 1.6rem;
	width: 95rem;
	& > * {
		width: 100%;
	}
	& > .title {
		@include fontLine(1.5, 2.85rem, 500);
	}

	& > .content {
		@include fontLine(1.8, 1.55rem, 400);
		padding: 0 1rem;
	}

	& > .permissions {
		@include flex(flex-start, column, center);
		row-gap: 0.5rem;
	}

	& > .buttons {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0.25rem;
		padding: 0.25rem;
		& > .button {
			@include flexNoFlow(center, center);
			& > button {
				@include fullSize;
				height: 3.75rem;
				font-size: 1.45rem;
				font-weight: 600;
				padding: 0 1.25rem;
			}
		}
	}

	@media only screen {
		@media (max-width: 600px) {
			@include flex(center, column, center);
			background-color: $background;
			box-shadow: 0 0 2rem 1rem hsla(0, 100%, 0%, 0.5);
			max-height: 95vh;
			max-width: 98%;
			padding: 1.5rem 1.2rem;
			row-gap: 1.5rem;
			width: 97%;
			& > * {
				width: 100%;
			}
			& > .title {
				@include fontLine(1.5, 2.25rem, 500);
				text-align: center;
			}

			& > .content {
				@include fontLine(1.8, 1.49rem, 400);
				padding: 0 1rem;
			}

			& > .permissions {
				@include flex(flex-start, column, center);
				row-gap: 0.5rem;
			}

			& > .buttons {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 0.25rem;
				padding: 0.25rem;
				& > .button {
					@include flexNoFlow(center, center);
					& > button {
						@include fullSize;
						height: 3.75rem;
						font-size: 1.4rem;
						font-weight: 600;
						padding: 0 1.25rem;
					}
				}
			}
		}
		@media (max-width: 400px) {
			max-height: 95vh;
			max-width: 98%;
			padding: 1.5rem 0.6rem;
			row-gap: 1.15rem;
			width: 97%;
			& > * {
				width: 100%;
			}
			& > .title {
				@include fontLine(1.5, 1.6rem, 500);
				text-align: center;
			}

			& > .content {
				@include fontLine(1.8, 1.325rem, 400);
				padding: 0 0.15rem;
				text-align: center;
			}

			& > .permissions {
				@include flex(flex-start, column, center);
				row-gap: 0.15rem;
			}

			& > .buttons {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 0.15rem;
				padding: 0.25rem;
				& > .button {
					@include flexNoFlow(center, center);
					& > button {
						@include fullSize;
						height: 2.5rem;
						font-size: 1.4rem;
						font-weight: 600;
						padding: 0 1.25rem;
					}
				}
			}
		}
	}
}
