@import "../../../../../styles/Variables.scss";

.author {
	@include flex(center, center, row nowrap, 1.2rem, null);
	width: 100%;
	& > .authorImage {
		$size: 4rem;
		@include size($size, $size);
		border-radius: 50%;
		overflow: hidden;
		position: relative;
	}
	& > .authorContent {
		@include font(1.6rem, 400, null, inherit, null, null, end);
		transition: 0.15s linear color;
		&:focus-within,
		&:hover {
			color: $pictonBlue;
		}
	}
}

.content {
	& > * {
		margin-top: 0.8rem;
	}
	& > a > .title {
		@include font(2.2rem, 700, 1.25, inherit, null, -2px, center);
		transition: 0.12s ease-in-out color;
		&:focus-within,
		&:hover {
			color: hsl(208, 75%, 61%);
		}
	}
	& > .excerpt {
		@include font(1.45rem, 500, 1.4, inherit, null, -1px, center);
		margin: 0.5rem 0;
		color: hsla(0, 100%, 100%, 0.85);
	}
}

.details {
	@include flex(flex-end, space-between, column);
	gap: 2rem;
	grid-column: 1/-1;
	padding: 3rem 2rem;
	& > .info {
		@include flex(center, space-between, column, null, 1rem);
		width: 100%;
		& > .category,
		& > .release {
			@include font(1.5rem, 550, null, inherit, uppercase, 1px, center);
		}
		& > .category {
			background-color: hsla(0, 100%, 100%, 1);
			border-radius: 3rem;
			color: hsl(307, 72%, 37%);
			padding: 0.5rem 1.2rem;
			transition: 0.3s ease-in-out background-color;
			&:focus-within,
			&:hover {
				background-color: hsla(0, 100%, 100%, 0.8);
			}
		}
		& > .release {
			font-style: italic;
		}
	}
}
.featuredImage {
	@include flex(center, center);
	grid-column: 1/-1;
	border-radius: 1rem;
	overflow: hidden;
	& > .image {
		@include size(100%, 100%);
		position: relative;
	}
	min-height: 25rem;
	background: orangered;
	width: 100%;
	& > .image {
		background: red;
		margin: auto;
	}
}

.wrapper {
	@include size(clamp(10rem, 40rem, auto), clamp(15rem, 110rem, 95%));
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	border-bottom: 1.2px solid $jordyBlue;
}

@media only screen {
	@media (min-width: 650px) {
		.author {
			& > .authorImage {
				$size: 5rem;
				@include size($size, $size);
			}
			& > .authorContent {
				@include font(1.9rem, 400, null, inherit, null, null, end);
			}
		}

		.content {
			& > a > .title {
				font-size: 4.2rem;
			}
			& > .excerpt {
				font-size: 1.65rem;
			}
		}

		.details {
			padding: 3rem 2rem;
			& > .info {
				& > .category,
				& > .release {
					@include font(1.5rem, 600, null, inherit, uppercase, 1px, center);
				}
				& > .category {
					border-radius: 3rem;
					font-size: 1.5rem;
					padding: 0.5rem 2rem;
				}
			}
		}
	}
	@media (min-width: 950px) {
		.author {
			justify-content: flex-end;
			& > .authorImage {
				$size: 5rem;
				@include size($size, $size);
			}
			& > .authorContent {
				font-size: 1.7rem;
			}
		}

		.content {
			& > a > .title {
				@include font(3.7rem, 700, 0.95, inherit, null, -2px, end);
			}
			& > .excerpt {
				@include font(1.6rem, 500, 1.4, inherit, null, -1px, end);
			}
		}

		.details {
			grid-column: 5/-1;
			padding: 3rem 2rem;
			& > .info {
				flex-flow: row;
				justify-content: space-between;
				& > .category,
				& > .release {
					font-size: 1.5em;
				}
				& > .category {
					font-size: 1.75rem;
				}
			}
		}
		.featuredImage {
			grid-column: 1/5;
		}
	}
	@media (min-width: 1250px) {
		.wrapper {
			margin: 0.2rem auto 0.2rem 1rem;
		}
	}
}
