@import "../../../../styles/Variables.module.scss";
.wrapper {
	@include flex(center, row wrap, center);
	// background: lime;
	margin: 2rem auto;
	padding: 1rem;
	gap: 0.5rem;
	& > li {
		& > button {
			@include flexNoFlow(center, center);
			border-radius: 2rem;
			font-size: 2rem;
			font-weight: 700;
			padding: 0.5rem 1.95rem;
			transition: 0.3s ease-in-out background-color, 0.3s ease-in-out color;
		}
		&[data-checked="true"] {
			& > button {
				background-color: var(--senary);
				color: var(--background);
			}
		}
		&[data-checked="false"] {
			& > button {
				background-color: #dde1ef;
			}
		}
	}
}
