.wrapper {
	background: lime;
	& > div {
		display: grid;
		grid-template-columns: calc(100% - 55rem) 55rem;
		& > section {
			background-color: red;
		}
		& > div {
			background-color: aqua;
		}
	}
}
