@import "./Variables.module.scss";
.image_person_page {
	figure {
		aspect-ratio: 4/2;
		display: flex;
		position: relative;
		overflow: hidden;
		width: 100%;
		img {
			height: 100%;
			object-fit: contain;
			width: 100%;
		}
	}
	@media only screen {
		@media (max-width: 800px) {
			figure {
				aspect-ratio: 4/3;
			}
		}
		@media (max-width: 500px) {
			figure {
				aspect-ratio: 4/7;
			}
		}
	}
}

.mainHP {
	margin-top: 25rem;
	@media only screen {
		@media (max-width: 600px) {
			margin-top: 10rem;
		}
	}
}

.excerpt {
	display: block;
	margin-bottom: 5rem;
	font-size: 2.5rem;
	font-weight: 900;
	line-height: 2;
	@media only screen {
		@media (max-width: 465px) {
			margin-bottom: 5rem;
			font-size: 2.15rem;
			font-weight: 700;
		}
	}
}

.article--table {
	margin: 2rem auto;
	th,
	td {
		// border: 1px solid $color;
	}

	th {
		background-color: $primary;
		color: $white;
		font-size: 2.3rem;
		text-align: center;
		padding: 1rem 0;
	}
	td {
		border: 1px solid $secondary;
		padding: 0.5rem 1rem;
		& > * {
			color: $colorSecondary !important;
			font-size: 1.55rem !important;
			line-height: 2;
			text-align: center;
		}
	}
	tbody {
		tr {
		}
	}
	@media only screen {
		@media (max-width: 700px) {
			th {
				font-size: 1.7rem;
			}
			td {
				& > * {
					font-size: 1.2rem;
				}
			}
		}
	}
}
