@import "../../../../styles/Variables.scss";

.wrapper {
	padding: 0 1rem;
	margin: 5rem 0;
	& > ul {
		@include flex(center, center);
		flex-flow: row wrap;
		gap: 1rem;
	}
	@media only screen {
		@media (min-width: 850px) {
			padding: 0 5rem;
			& > ul {
				justify-content: flex-end;
				margin-top: 5rem;
			}
		}
		@media (min-width: 1250px) {
			padding: 0 9rem;
		}
	}
}
