@import "../../../../styles/Variables.module.scss";
.wrapper {
	@include flex(center, column, center);
	min-height: calc(100vh - 25rem);
	padding: 3rem 1rem;
	row-gap: 4rem;
	& > h1 {
		font-size: 8rem;
		max-width: 95%;
		text-align: center;
	}
	& > p {
		@include fontLine(2.2, 1.9rem, 400);
		max-width: 95%;
		width: 130rem;
	}
	@media only screen {
		@media (max-width: 1050px) {
			& > h1 {
				font-size: 6rem;
			}
			& > p {
				font-size: 1.7rem;
				line-height: 2;
			}
		}
		@media (max-width: 600px) {
			row-gap: 2rem;
			& > h1 {
				@include wrapText;
				font-size: 4rem;
			}
			& > p {
				@include fontLine(1.7, 1.6rem, 400);
			}
		}
	}
}
