@import "../../../../styles/Variables.scss";

.wrapper {
	@include flex(flex-start, flex-start, column, null, 0.1rem, true);
	@include size("normal", 100%, 100%);
	height: calc(100vh - 7.25rem);
	background: purple;
	padding: 3rem 2rem;
}
