@import "../../../../styles/Variables.scss";

.wrapper {
	@include flex(flex-start, flex-start, column, null, 0.1rem, true);
	@include size("normal", 0, 100%);
	padding: 0rem 2rem;
	overflow-y: scroll;
	transition: 0.15s all linear;
	&[data-open="true"] {
		height: calc(100vh - 7.25rem);
		padding: 3rem 2rem;
		transition: 0.15s all linear;
	}

	&::-webkit-scrollbar {
		height: 0;
		width: 0;
	}
}
