@import '../../../../../../../styles/Mixins.scss';
@import '../../../../../../../styles/Variables.scss';

.wrapper {
  background: lime;
  & > .return {
    @include flex(center, flex-start, row nowrap, 1rem);
    @include font(1.6rem, 450, null, uppercase, -2px, center);
    background: white;
    margin: 0 0 0 auto;
    padding: 1rem;
    border-radius: 0.55dvh;
    color: $dogwood-rose;
    transition: 0.15s linear color;
    &:focus-within,
    &:hover {
      color: $mexican-pink;
    }
  }
  & > .title {
    @include font(4rem, 800, 1, uppercase, -1.5px, start);
    margin: 1.5rem 0 1rem 0;
  }

  & > .menu {
    @include flex(flex-start, flex-start, column, null, 0.45rem);
    & > li {
      width: 100%;
      & > ul {
        @include flex(flex-start, flex-start, column, null, 0.25rem);
        padding: 1rem;
      }
    }
  }
}

@media only screen {
  @media (min-width: 375px) {
    .wrapper {
      & > .title {
        font-size: 6.15rem;
      }
    }
  }
}
