@import "../../../styles/Mixins.scss";
@import "../../../styles/Variables.scss";

.wrapper {
    @include grid(null, null, repeat(12, 1fr), null);
    @include size(clamp(7rem, 7rem, calc(100vh - 7rem)), 100%);
    position: fixed;
    transition: 0.15s linear height;
    top: 0;
    left: 0;
    z-index: 99;
    &[data-open="false"] > .menu {
        height: 0;
    }
    &[data-open="true"] {
        &,
        & > .menu {
            background-color: $black;
            transition: 0.15s linear background-color;
        }
    }
}

.brand,
.settings {
    align-items: center;
    display: flex;
    height: 7rem;
    grid-row: 1;
    padding: 0rem 3rem;
}

.brand {
    justify-content: flex-start;
    grid-column: 1/10;
}

.settings {
    justify-content: flex-end;
    grid-column: 10/-1;
}

.menu {
    grid-column: 1/-1;
    grid-row: 2;
    overflow: hidden;
    visibility: visible;
    opacity: 1;
    height: calc(100vh - 7rem);
    transition: 0.15s linear height;
}

.menu,
.wrapper {
    background-color: rgba($black, 0.85);
    color: $white;
}
