@import "../../../../styles/Variables.scss";

.wrapper {
	// background: red;
	display: grid;
	grid-template-columns: repeat(23, 1fr);
	margin: 2rem auto;
}

.content {
	border-radius: 5rem 0 0 5rem;
	background-image: linear-gradient(
		to left,
		hsla(240, 7%, 35%, 0.679),
		hsla(240, 20%, 48%, 0.227)
	);

	backdrop-filter: blur(1.2rem) brightness(115%);
	grid-column: 3/-1;
	& > section {
		padding: 5rem 1.5rem 2rem 4rem;
		& > header {
			& > h2 {
				@include font(6rem, 800, 0.75, inherit, null, 1.2px, start);
				width: 92%;
			}
		}
		& > p {
			@include font(1.8rem, 400, 1.6, inherit, null, -1.2px, start);
			margin-top: 4.5rem;
			width: 95%;
		}
		& > div {
			justify-content: flex-start;
			margin: 2rem 0;
		}
	}
}

.cards {
	border-radius: 2rem;
	box-shadow: 0 0 2rem 0.15rem hsla(0, 1%, 38%, 0.25);
	background-image: linear-gradient(
		to left,
		hsla(240, 7%, 35%, 0.62),
		hsla(240, 20%, 48%, 0.561)
	);

	backdrop-filter: blur(1.2rem) brightness(115%);
	transform: translateY(2.5rem) translateX(-4rem);
	width: clamp(90%, 200rem, 100vw - 50rem);
	padding: 2rem;
	& > ul {
		@include flex(start, flex-start, row nowrap, 1.25rem, null);
		overflow-x: scroll;
		&::-webkit-scrollbar {
			height: 0;
		}
	}
}

@media only screen {
	@media (min-width: 700px) {
		.content {
			grid-column: 4/-1;
			& > section {
				& > header {
					& > h2 {
						font-size: 9rem;
					}
				}
				& > p {
					font-size: 1.9rem;
				}
			}
		}
	}
	@media (min-width: 850px) {
		.content {
			grid-column: 4/-1;
			& > section {
				padding: 9rem 1.5rem 2rem 4rem;
				& > header {
					& > h2 {
						font-size: 9rem;
					}
				}
				& > p {
					font-size: 1.9rem;
				}
			}
		}
		.cards {
			transform: translateY(5rem) translateX(-7rem);
			width: clamp(100%, 200rem, 100vw - 50rem);
		}
	}
	@media (min-width: 1170px) {
		.cards {
			transform: translateY(5rem) translateX(-12rem);
			width: clamp(105%, 200rem, 100vw - 50rem);
		}
	}
	@media (min-width: 1250px) {
		.content {
			grid-column: 6/-1;
			& > section {
				& > header {
					& > h2 {
						font-size: 12rem;
					}
				}
				& > p {
					font-size: 2rem;
				}
			}
		}
	}
}
