@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 2rem auto 2rem 2rem;
  width: clamp(5rem, 130rem, 95%);
}

.title {
  @include font(12rem, 700, 1.1, null, null, start);
  grid-column: 1/-1;
  margin-bottom: 3rem;
}

.content {
  @include font(2rem, 500, 1.7, null, null, start);
}

.box {
  @include flex(flex-start, flex-start, column, null, 2rem);
  padding: 2rem;
  grid-column: 1/7;
}

.image {
  border-radius: 2rem;
  overflow: hidden;
  grid-column: 7/-1;
  position: relative;
  display: block;
}

.cards {
  @include flex(flex-start, flex-end, row wrap, 1rem);
}

@media only screen {
  @media (min-width: 1000px) {
    .cards {
      margin: 2rem 4rem 2rem auto;
    }
  }
}
