//  COLORS
$aquamarine:rgb(161, 237, 210);
$black:rgb(2, 1, 2);
$blue:rgb(68, 0, 255);
$claret:rgb(124, 36, 58);
$darkBlue:rgb(75, 3, 167);
$egyptianBlue:rgb(13, 50, 137);
$erieBlack:rgb(27, 27, 27);
$flashWhite:rgb(235, 235, 235);
$magnolia:rgb(249, 245, 255);
$oxfordBlue:rgb(17, 24, 46);
$richBlack:rgb(6, 1, 19);
$shipGray:rgb(155, 155, 140);
$taupeGray:rgb(150, 146, 151);
$white:rgb(255, 255, 255);
// FONTS
$montserrat:'Montserrat Alternates', sans-serif;
$monospace: 'Ubuntu Mono', monospace;
$poppins:'Poppins', sans-serif;
