@import "../../../../styles/Variables.module.scss";
.wrapper {
	@include flexNoFlow(center, center);
	aspect-ratio: 16/9;
	position: relative;
	margin: 10rem auto 5rem auto;
	width: 100%;
	& > video {
		@include fullSize;
		@include object;
		filter: contrast(125%);
	}
}
