@import "../../../../styles/Variables.scss";

.wrapper {
	@include grid(null, null, repeat(16, 1fr), null, null, null);
	margin: auto;
	scroll-behavior: smooth;
	width: 100%;
}

.content,
.table {
	grid-column: 1/-1;
	margin: 0 auto 0;
}
.table {
	@include flex(flex-start, center);
	position: relative;
	width: 100%;
}

.content {
	scroll-behavior: smooth;
	margin: auto;
	width: 95%;
}

@media only screen {
	@media (min-width: 720px) {
		.table {
			grid-column: 1/5;
		}
		.content {
			grid-column: 5/16;
		}
	}
}
