@import "../../../../styles/Variables.scss";

.wrapper {
	@include flex(center, flex-start);
	@include font(3rem, 900, 1, null, 0.7px, start, $font-color, null);
	@include size("normal", 100%, 100%);
	position: relative;
	transition: 0.13s ease-in-out color;
	&:focus-within,
	&:hover {
		color: $primary-lighten;
	}
	// background: red;
}
