@import "./Mixins.scss";
@import "./Variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(#000, 0);
}

::after,
::before {
    content: "";
    position: absolute;
}

::selection {
    background: rgba(#fff, 0.537);
}

:focus,
:focus-within {
    outline: none;
}

a {
    background: transparent;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    @include backgroundCover();
    background-color: $black;
    background-image: linear-gradient(to bottom, #010101, #000);

    font-size: 1.6rem;
    transition: 0.2s linear all;
    padding-bottom: 6rem;
}

html {
    font-size: 62.5%;
}

button,
input,
textarea {
    background: transparent;
    border: none;
    font-family: inherit;
    outline: none;
}

li,
ol,
ul {
    list-style: none;
}
