@mixin flex(
  $align,
  $justify,
  $flow: null,
  $columnGap: null,
  $rowGap: null,
  $shrink: false
) {
  align-items: $align;
  display: flex;
  justify-content: $justify;
  @if $columnGap != null {
    column-gap: $columnGap;
  }
  @if $flow != null {
    flex-flow: $flow;
  }
  @if $rowGap != null {
    row-gap: $rowGap;
  }
  @if $shrink != false {
    & > * {
      flex-shrink: 0;
    }
  }
}

@mixin font(
  $size,
  $weight: 400,
  $lineHeight: null,
  $textTransform: null,
  $letterSpacing: null,
  $align: null
) {
  font-size: $size;
  font-weight: $weight;
  @if $lineHeight != null {
    line-height: $lineHeight;
  }
  @if $textTransform != null {
    text-transform: $textTransform;
  }
  @if $letterSpacing != null {
    letter-spacing: $letterSpacing;
  }
  @if $align != null {
    text-align: $align;
  }
}
