@import "../../../../../styles/Variables.module.scss";
.expand,
.main {
	flex-flow: row nowrap;
	height: 3rem;
	&,
	& > * {
		@include flexNoFlow(center, center);
	}
	& > a {
		@include font(1.6rem, 700);
		color: $colorSecondary;
		height: 100%;
		min-width: 5rem;
		padding: 0 0.15rem;
		position: relative;
		&::before {
			background-color: $primary;
			bottom: 0;
			height: 0.15rem;
			left: 0;
			transition: 0.2s linear width;
			width: 0%;
		}
		&:focus,
		&:focus-within,
		&:hover {
			color: $primary;
			&::before {
				width: 100%;
			}
		}
	}
	@media only screen {
		@media (max-width: 850px) {
			justify-content: flex-start;
			width: 100%;
		}
	}
}
.expand {
	& > a {
		padding: 0 0.5rem 0 0;
	}
	& > button {
		aspect-ratio: 1/1;
		color: $colorSecondary;
		font-size: 2.25rem;
		height: 100%;
		transition: 0.2s linear color;
		& > * {
			transition: 0.2s linear scale;
		}
		&:focus,
		&:hover {
			color: $primary;
			& > * {
				scale: 1.2;
			}
		}
	}
}

.submenu {
	& > a {
		color: $white;
		font-weight: 600;
		position: relative;
		transition: 0.2s ease-in-out color;
		padding: 0 0.5rem;
		z-index: 0;
		&::before {
			background-color: $white;
			height: 100%;
			left: 0;
			transition: 0.2s ease-in-out width;
			width: 0%;
			z-index: -1;
		}
		&:focus,
		&:hover {
			color: $primary;
			&::before {
				width: 100%;
			}
		}
	}
}
