@import "../../../../../styles/Variables.scss";

.expand,
.regular {
	// height: 6rem;
	@include flex(center, flex-start);
	flex-flow: row nowrap;
	gap: 1.5rem;
	& > a {
		@include font(4rem, 200);
		position: relative;
		&::before {
			background-color: $cyan;
			bottom: 0;
			height: 1.2px;
			left: 0;
			width: 0;
			transition: 0.15s ease-in-out width;
		}
		&:focus,
		&:focus-within,
		&:hover {
			&::before {
				width: 100%;
			}
		}
	}
	& > button {
		@include flex(center, center);
		@include size(3.5rem, 3.5rem);
		color: $white;
		font-size: 3rem;
	}
}

.submenu {
	// background: purple;
	margin: 0.7rem 0 0.7rem 2rem;
	& > a {
		@include font(2.5rem, 200);
		position: relative;
		&::before {
			background-color: $cyan;
			bottom: 0;
			height: 1.2px;
			left: 0;
			width: 0;
			transition: 0.15s ease-in-out width;
		}
		&:focus,
		&:focus-within,
		&:hover {
			&::before {
				width: 100%;
			}
		}
	}
}

@media only screen {
	@media (min-width: 1050px) {
		.expand,
		.regular {
			gap: 1.15rem;
			min-width: 5rem;
			& > a {
				@include font(1.95rem, 300);
			}
			& > button {
				@include size(2rem, 2rem);
				font-size: 1.8rem;
			}
		}
		.submenu {
			// background: purple;
			margin: 0;
			& > a {
				font-size: 1.8rem;
			}
		}
	}
}
