@import "../../../../../styles/Variables.scss";

.wrapper {
	width: 100%;
	& > ul {
		@include flex(flex-start, flex-start, column, null, 0.25rem, true);
		margin: 0.5rem 0 0.5rem auto;
		width: 90%;
	}
}

@media only screen {
	@media (min-width: 1250px) {
		.wrapper {
			position: relative;
			width: auto;
			& > ul {
				background-color: $erie;
				border-radius: 0 2rem 1rem 2rem;
				margin: 0rem 0 0.5rem auto;
				min-width: 25rem;
				padding: 1.2rem;
				position: absolute;
				overflow: hidden;
			}
		}
	}
}
