@import "../../../../../styles/Variables.scss";
.wrapper {
	cursor: default;
	user-select: none;
	max-width: 60rem;
	width: 100%;
	& > .image {
		aspect-ratio: 16/14;
		border-radius: 1rem;
		overflow: hidden;
		position: relative;
	}
	& > .details {
		@include flex(center, space-between);
		padding: 0.75rem 1rem;
		a {
			transition: 0.12s ease-in color;
			&:focus,
			&:focus-within,
			&:hover {
				color: $cyan;
			}
		}
	}
	& > .content {
		padding-bottom: 2rem;
		& > .title {
			@include font(3rem, 700);
			font-family: $ibm;
		}
		& > .excerpt {
			@include font(1.5rem, 400);
			color: $gray;
			line-height: 1.4;
			margin: 1rem 0;
		}
		& > .button {
			@include flex(center, flex-end);
			& > a {
				@include size(4.5rem, 4.5rem);
				border: 2px solid $gray;
				border-radius: 50%;
				color: $gray;
				position: relative;
				transition: 0.3s linear border, 0.3s linear color;
				margin: 0 2rem 0 auto;
				& > i {
					@include flex(center, center);
					@include size(100%, 100%);
					font-size: 3rem;
					transition: 0.3s linear transform;
				}
				&:focus,
				&:focus-within,
				&:hover {
					border: 2px solid $cyan;
					color: $cyan;
					& > i {
						transform: translateX(0.8rem);
					}
				}
			}
		}
	}
}
