@import "../../../../../styles/Variables.module.scss";
.spacer {
	display: block;
	height: 4.5rem;
	width: 100%;
}
.wrapper {
	@include borderBottomTop(2px, hsla(0, 100%, 0%, 0.1));
	@include flex(center, row wrap-reverse, space-between);
	padding: 1rem 0;
	@media only screen {
		@media (max-width: 930px) {
			flex-flow: column-reverse;
			row-gap: 2rem;
			&,
			& > div {
				@include flexNoFlow(center, center);
			}
			& > div {
				display: flex;
				&:first-of-type {
					width: 100%;
				}
			}
		}
	}
}
