@import "../../../styles/Variables.module.scss";

.header {
	@include backgroundImage;
	background-image: $heroImage;
	background-attachment: fixed;
	padding: 12rem 0 5rem 0;
	min-height: calc(100vh - 10rem);
	height: auto;
	transition: 0.3s linear background-image;
}
