@import "./Variables.module.scss";

.w-md-editor {
	.w-md-editor-toolbar {
		& > ul {
			& > li {
				& > button {
					@include flex(center, center);
					@include size(2.75rem, 2.75rem);
					cursor: pointer;
					padding: 0.5rem;
					& > svg {
						@include size;
						flex-shrink: 0;
					}
				}
			}
		}
	}
}
