@import "./Variables.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	background-attachment: fixed;
	// background-image: url("https://cdn5-images.motherlessmedia.com/images/ECF1303.jpg");
	background-position: bottom left;
	// background-size: cover;
	background-repeat: no-repeat;
	font-size: 1.6rem;
}

html {
	font-family: "Inter", sans-serif;
	font-size: 62.5%;
}

a,
button {
	cursor: pointer;
}

button,
input,
textarea {
	background: none;
	border: none;
	outline: none;
}

input,
textarea {
	font-family: inherit;
}

li,
ol,
ul {
	list-style: none;
}
