// FONT ===================================

$kode: "Kode Mono", monospace;
$lato: "Lato", sans-serif;
$protest: "Protest Strike", sans-serif;
$roboto: "Roboto Mono", monospace;

// COLORS ===================================

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
