@import '../../../../../../styles/Mixins.scss';
@import '../../../../../../styles/Variables.scss';

.wrapper {
  @include size(100%, 100%);
  color: #000;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;
  }
  & > .main {
    & > h3 {
      @include font(7rem, 700, 1, uppercase, -4.5px, start);
    }
    & > div {
      @include flex(flex-start, flex-start, column, null, 0.45rem);
      margin-top: 2rem;
      padding: 2rem;
    }
  }
}
