@import '../../../styles/Mixins.scss';
@import '../../../styles/Variables.scss';

// HOME  =================================================================

@keyframes backgroundHomeVideo {
    from {
        filter: brightness(65%) hue-rotate(0deg);
    }
    to {
        filter: brightness(65%) hue-rotate(142deg);
    }
}

.home__wrapper {
    @include size(95dvh, 100%);
    display: grid;
    grid-template-areas: 'layer';
    position: relative;
    & > * {
        @include size(100%, 100%);
    }
}

.home__video {
    animation: backgroundHomeVideo 10s linear infinite alternate-reverse;
    // filter: brightness(65%);
    grid-area: 'layer';
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.home__content {
    @include flex(flex-start, flex-end, column, null, null, true);
    grid-area: 'layer';
    padding: 3rem 0.2rem;
    & > * {
        width: 95%;
    }
    & > *:not(.home__buttons) {
        cursor: default;
    }
}

.home__title {
    @include font(clamp(5rem, 10vw + 3rem, 23rem), 700, 1, null, null, start);
    margin-bottom: 2rem;
}

.home__slogan {
    @include font(clamp(3rem, 5vw + 1rem, 9rem), 600, 0.85, null, null, start);
}

.home__buttons {
    @include flex(center, flex-start, row wrap, 1rem, 1rem, true);
    margin-top: 3rem;
    padding: 1rem;
}

@media only screen {
    @media (min-width: 1100px) {
        .home__content {
            padding: 3rem 4rem 7rem;
        }
    }
}

// PERSON  =================================================================

.person__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: clamp(5rem, 190rem, 98%);
    margin: 12rem auto 5rem;
    padding: 2rem 3rem;
}

.person__title__wrapper {
    grid-column: 1/-1;
}

.person__title {
    @include font(5rem, 700, 1, null, null, start);
    // font-size: 5rem;
    text-wrap: balance;
}

.person__box {
    grid-row: 2;
    grid-column: 1/-1;
}

.person__box__work {
    margin-top: 3rem;
    @include font(clamp(1.5rem, 4vw + 4rem, 6rem), 700, 1, null, null, start);
    text-wrap: balance;
    font-size: 3rem;
}

.person__box__content {
    color: $taupeGray;
    margin-top: 1.5rem;
    @include font(1.9rem, 400, 2.4, null, null, start, null);
    font-size: 1.6rem;
}

.person__image {
    height: 30rem;
    margin-top: 3rem;
    grid-column: 1/-1;
    grid-row: 3;
    position: relative;
}

@media only screen {
    @media (min-width: 615px) {
        .person__box {
            grid-column: 1/7;
            grid-row: 2;
        }
        .person__image {
            grid-column: 7/-1;
            grid-row: 2;
        }
    }
    @media (min-width: 850px) {
        .person__title {
            font-size: 9rem;
        }
        .person__image {
            height: 40rem;
        }
    }
}

// ARTICLE  =================================================================

.article__wrapper {
    @include flex(flex-start, flex-end, column, null, 1.3rem);
    @include size(clamp(120rem, 80dvh, auto), 100%);
    color: $black;
    padding: 12rem 3rem 4rem;

    &[data-category='seo'] {
        background-color: rgb(254, 254, 156);
    }
    &[data-category='technology'] {
        background-color: #e8e1f9;
    }
    &[data-category='ads'] {
        background-color: #f9c6c6;
    }
    &[data-category='socials'] {
        background-color: #e4f9e2;
    }
    &[data-category='www'] {
        background-color: #d4fffc;
    }
}

.article__breadcrumbs {
    @include flex(center, flex-start, row wrap, 0.5rem, 0.5rem, true);
}

.article__breadcrumbs__item {
    @include font(1.8rem, 400, null, uppercase, null, start, $monospace);
    position: relative;
    &::after {
        @include size(1.5px, 0%);
        background-color: $black;
        border-radius: 2rem;
        bottom: 0;
        left: 0;
        transition: 0.15s ease-in-out width;
    }
    &:focus-within,
    &:hover {
        &::after {
            width: 100%;
        }
    }
}

.article__title {
    @include font(4rem, 700, 1, null, null, start, null);
}

.article__excerpt {
    @include font(1.4rem, 500, 1.7, null, null, start, null);
    width: clamp(1rem, 75ch, 90%);
}

.article__release,
.article__reading {
    @include flex(center, center, row wrap, 0.45rem, 0.45rem);
    @include font(1.54rem, 400, 1.12, null, null, center, $monospace);
    border: 1px solid $taupeGray;
    border-radius: 0.75rem;
    padding: 0.35rem 0.72rem;
    & > b {
        @include flex(center, center);
        @include size(2.22rem, 2.22rem);
    }
}

.article__details {
    @include flex(center, flex-end, row wrap, 1rem, 1rem);
    width: 100%;
}

.article__category {
    @include flex(center, center);
    background-color: $black;
    border-radius: 0.85dvh;
    color: $white;
    padding: 0.5rem 1rem;
    z-index: 0;
    margin-top: 1.3rem;
    transition: 0.15s ease-in-out background-color;
    &:focus-within,
    &:hover {
        background-color: rgba($richBlack, 0.8);
    }
}

@media only screen {
    @media (min-width: 600px) {
        .article__title {
            font-size: 6rem;
            width: 90%;
        }

        .article__excerpt {
            font-size: 1.8rem;
        }
    }
    @media (min-width: 900px) {
        .article__wrapper {
            padding: 14rem 3rem 4rem;
        }
        .article__title {
            font-size: 7.4rem;
            width: 80%;
        }

        .article__excerpt {
            font-size: 1.9rem;
        }
    }
}

// GLOSSARY  =================================================================

.glossary__wrapper {
    @include flex(center, center, column, null, 4rem, false);
    @include size(clamp(90rem, 85vh, auto), clamp(1rem, 80rem, 95%));
    margin: 12rem auto 0;
}

.glossary__title {
    @include font(4rem, 600, 1, null, null, center);
}

.glossary__content {
    @include font(1.45rem, 600, 1.2, null, -1px, center, null);
    color: $taupeGray;
}

@media only screen {
    @media (min-width: 570px) {
        .glossary__title {
            font-size: 5.25rem;
        }

        .glossary__content {
            font-size: 1.6rem;
            line-height: 2;
        }
    }
    @media (min-width: 1100px) {
        .glossary__title {
            font-size: 7rem;
        }

        .glossary__content {
            font-size: 1.7rem;
        }
    }
}

// PROJECT  =================================================================

.project__wrapper {
    @include size(95vh, 100%);
    display: grid;
    grid-template-areas: 'layer';
    & > * {
        grid-area: layer;
    }
}

.project__image {
    filter: brightness(50%);
    position: relative;
    z-index: -1;
}

.project__content {
    @include flex(center, center, column, null, 3rem);
}

.project__title {
    @include font(6.75rem, 700, null, null, null, center);
    text-wrap: pretty;
}

.project__release {
    @include font(2.7rem, 300, 1.2, null, null, center, $monospace);
}

@media only screen {
    @media (min-width: 1100px) {
        .project__title {
            font-size: 9rem;
        }
    }
}

// ABOUT US  =================================================================

.about_us__wrapper {
    display: grid;
    grid-template-areas: "layer";
    @include size(95dvh,100%);
}

.about_us__image {
    filter:brightness(60%);
    position: relative;
    grid-area: layer;
    z-index: -1;
}

.about_us__box {
    @include flex(flex-end,center,column,null,2rem);
    grid-area: layer;
    padding:7rem 5rem 2rem 10rem;
}

.about_us__title {
    @include font(14rem,500,1.4,null,null,end);
}

.about_us__content {
    @include font(1.7rem,600,1.9,null,2px,end);
}