@import '../../../../../../styles/Variables.scss';

.desktop {
	display: none;
}

.mobile {
	background: black;
	& > ul {
		@include flex(flex-start, flex-start, column, null, 1rem);
		padding: 2rem;
		& > li {
			width: 100%;
			& > ul {
				@include flex(flex-start, flex-start, column, null, 0.6rem);
				padding: 1.2rem;
			}
		}
	}
}
@media only screen {
	@media (max-width: 1050px) {
		.mobile {
			display: none;
		}
	}
	@media (min-width: 1050px) {
		.desktop {
			display: block;
			// position: relative;
		}
		.desktop__wrapper {
			background: violet;
			& > .desktop__menu {
				background: lime;
				display: none;
			}
		}

		// .d__menu {
		// 	position: fixed;
		// 	left: 0;
		// 	right: 0;
		// 	display: grid;
		// 	grid-template-columns: repeat(4, 1fr);
		// 	left: 0;
		// 	height: clamp(0, auto, calc(100vh - 8.5rem));
		// 	top: 8rem;
		// 	width: 100vw;
		// 	background: rgb(30, 30, 175);
		// 	padding: 2rem 3rem;

		// 	& > div:not(:last-of-type) {
		// 		background: pink;
		// 		row-gap: 1rem;
		// 		&,
		// 		& > ul {
		// 			@include flex(flex-start, flex-start, column);
		// 		}
		// 		& > ul {
		// 			row-gap: 0.75rem;
		// 			& > li {
		// 				background: orange;
		// 				& > a {
		// 					font-size: 1.55rem;
		// 				}
		// 			}
		// 		}
		// 	}
		// }
	}
}
