@import "../../../../styles/Variables.scss";

.wrapper {
	height: auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	margin-bottom: 10rem;

	& > .content {
		@include flex(flex-start, center);
		flex-flow: column;
		grid-column: 1/-1;
		row-gap: 1.5rem;
		grid-row: 1;
		padding: 1rem 2rem;
		width: 110rem;
		width: 100%;
		margin: 0rem auto 0;
		z-index: 1;
		& > .breadcrumbs {
			@include flex(center, flex-end);
			gap: 1rem;
			text-transform: uppercase;
			width: 100%;
			span {
				user-select: none;
			}
			a {
				@include font(1.75rem, 400);
				position: relative;
				color: $gray;
				opacity: 0.7;
				transition: 0.12s ease-in color, 0.12s ease-in opacity;
				&::after {
					@include size(1px, 0%);
					background-color: $fuchsia;
					bottom: 0;
					left: 0;
					transition: 0.12s ease-in width;
				}
				&:focus,
				&:focus-within,
				&:hover {
					color: $fuchsia;
					opacity: 1;
					&::after {
						width: 100%;
					}
				}
			}
		}
		& > .image {
			border-radius: 1rem;
			overflow: hidden;
			box-shadow: 0 0 1rem 0.1rem hsla(0, 100%, 0, 0.25);
			height: 30rem;
			position: relative;
			width: 100%;
		}
		& > .title {
			& > h1 {
				@include font(2.5rem, 700);
				text-align: start;
				color: #fff;
			}
		}
		& > .excerpt {
			@include font(1.55rem, 400);
			color: $gray;
			line-height: 1.7;
		}
		& > .line {
			@include size(2px, 100%);
			background-color: $jet;
			border-radius: 2rem;
		}
		& > .details {
			align-items: center;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			width: 100%;
			& > .release {
				@include font(1.75rem, 600);
				grid-column: 1;
				text-align: start;
			}
			& > .author {
				@include font(1.45rem, 600);
				text-align: end;
				transition: 0.12s ease-in color;
				&:focus,
				&:focus-within,
				&:hover {
					color: $cyan;
				}
			}
		}
	}
	& > .image {
		filter: brightness(50%) grayscale(10%);
		display: none;
		grid-column: 1/-1;
		grid-row: 1;
		height: 50%;
		z-index: -1;
		& > div {
			&,
			& > figure {
				@include size(100%, 100%);
			}
			& > figure {
				position: relative;
			}
		}
	}

	@media only screen {
		@media (min-width: 500px) {
			& > .content {
				padding: 1rem 2rem;
				width: 50rem;
				& > .breadcrumbs {
					a {
						font-size: 1.8rem;
					}
				}
				& > .image {
					height: 40rem;
				}
				& > .title {
					& > h1 {
						font-size: 3.5rem;
					}
				}
				& > .excerpt {
					font-size: 1.7rem;
					line-height: 2.2;
				}
				& > .line {
					height: 3px;
				}
				& > .details {
					& > .release {
						font-size: 2.2rem;
					}
					& > .author {
						font-size: 1.8rem;
					}
				}
			}
			& > .image {
				display: block;
				height: 40%;
			}
		}
		@media (min-width: 640px) {
			& > .content {
				padding: 0 2rem;
				margin-top: 5rem;
				width: 65rem;
				& > .breadcrumbs {
					margin-bottom: 1rem;
					a {
						font-size: 1.9rem;
					}
				}
				& > .image {
					height: 50rem;
				}
				& > .title {
					& > h1 {
						@include mainGlitchEffect();
						font-size: 4.5rem;
					}
				}
				& > .excerpt {
					font-size: 2rem;
				}
			}
			& > .image {
				height: 50%;
			}
		}
		@media (min-width: 840px) {
			& > .content {
				width: 95rem;
			}
		}
		@media (min-width: 1250px) {
			& > .content {
				width: 120rem;
				& > .image {
					@include size(unset, 100%);
					box-shadow: 0 -2rem 2rem hsla(0, 100%, 100%, 0.25);
					aspect-ratio: 16/9;
				}
				& > .title {
					& > h1 {
						font-size: 6.5rem;
					}
				}
			}
		}
	}
}
