@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./Variables.scss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::after,
::before {
	content: "";
	position: absolute;
}

:focus,
:focus-within {
	outline: none;
}

a {
	background: transparent;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

button {
	cursor: pointer;
}

body {
	background-image: linear-gradient(to top right, $raisinBlack, $darkPurple);
	background-attachment: fixed;
	color: $white;
	font-size: 1.6rem;
}

html {
	font-family: "Montserrat", sans-serif;
	font-size: 62.5%;
}

button,
input,
textarea {
	background: transparent;
	border: none;
	font-family: inherit;
	outline: none;
}

li,
ol,
ul {
	list-style: none;
}

.hero {
	margin-top: 7rem;
}
