// VARIABLES
$black: hsl(240, 7%, 3%);
$darkMagenta: hsl(307, 72%, 37%);
$darkPurple: hsl(266, 20%, 16%);
$jet: hsl(240, 6%, 21%);
$jordyBlue: hsl(229, 100%, 81%);
$pictonBlue: hsl(200, 90%, 55%);
$raisinBlack: hsl(240, 10%, 14%);
$sapphire: hsl(218, 99%, 41%);
$taupeGray: hsl(240, 2%, 59%);
$white: hsl(0, 0%, 100%);

// MIXINS

@mixin flex($align, $justify, $flow: null, $columnGap: null, $rowGap: null) {
	align-items: $align;
	display: flex;
	justify-content: $justify;
	@if $columnGap != null {
		column-gap: $columnGap;
	}
	@if $flow != null {
		flex-flow: $flow;
	}
	@if $rowGap != null {
		row-gap: $rowGap;
	}
}

@mixin font(
	$size,
	$weight: 400,
	$lineHeight: null,
	$family: inherit,
	$textTransform: null,
	$letterSpacing: null,
	$align: null
) {
	font-family: $family;
	font-size: $size;
	font-weight: $weight;

	@if $lineHeight != null {
		line-height: $lineHeight;
	}
	@if $textTransform != null {
		text-transform: $textTransform;
	}
	@if $letterSpacing != null {
		letter-spacing: $letterSpacing;
	}
	@if $align != null {
		text-align: $align;
	}
}

@mixin positioning(
	$top: null,
	$right: null,
	$bottom: null,
	$left: null,
	$translateY: null,
	$translateX: null,
	$rotate: null,
	$zIndex: null,
	$position: null
) {
	@if $top!=null {
		top: $top;
	}
	@if $right!=null {
		right: $right;
	}
	@if $bottom!=null {
		bottom: $bottom;
	}
	@if $left!=null {
		left: $left;
	}

	@if $translateX != null {
		transform: translateX($translateX);
	}
	@if $translateY != null {
		transform: translateY($translateY);
	}
	@if $rotate != null {
		transform: rotate($rotate);
	}
	@if $translateX != null && $translateY != null {
		transform: translate($translateX, $translateY);
	}
	@if $translateX != null && $translateY != null && $rotate != null {
		transform: translate($translateX, $translateY) rotate($rotate);
	}
	@if $zIndex != null {
		z-index: $zIndex;
	}
	@if $position != null {
		position: $position;
	}
}

@mixin size($height, $width) {
	height: $height;
	width: $width;
}
@mixin minSize($height: null, $width: null) {
	@if $height != null {
		min-height: $height;
	}
	@if $width != null {
		min-width: $width;
	}
}
