@import "../../../../styles/Variables.module.scss";
.wrapper__about {
	background-color: $secondary;
	max-width: 95%;
	width: 32.5rem;
	& > a {
		@include flex(flex-start, column, flex-start);
		@include fullSize;
		& > .image {
			aspect-ratio: 4/4;
			overflow: hidden;
			width: 100%;
			& > figure {
				@include fullSize;
				position: relative;
				transition: 0.2s linear transform;
			}
		}
		& > .content {
			@include flex(flex-start, column, center);
			min-height: 12rem;
			padding: 0.25rem 0.75rem;
			row-gap: 0.5rem;
			width: 100%;
			& > h3 {
				& > span {
					&:first-of-type {
						@include font(2.5rem, 900);
					}
					&:last-of-type {
						font-size: 2rem;
					}
				}
			}
			& > .jobs {
				font-size: 1.5rem;
				font-style: italic;
			}
			& > .cities {
				@include font(1.5rem, 900);
			}
		}
	}
	&:focus-within,
	&:hover {
		& > a {
			& > .image {
				& > figure {
					transform: translateY(2rem) scale(1.2);
				}
			}
		}
	}
	@media only screen {
		@media (max-width: 340px) {
			max-width: 90%;
			width: 20rem;
		}
	}
}

.wrapper__contact {
	flex-shrink: 0;
	max-width: 95%;
	user-select: none;
	width: 21rem;
	&,
	& > .content,
	& > .content > .description {
		@include flex(start, column, flex-start);
	}
	& > *,
	& > * > * {
		width: 100%;
	}
	& > .image {
		height: 24rem;
		position: relative;
	}
	& > .content {
		padding: 0.25rem 0.4rem;
		& > .description {
			border-bottom: $color;
			padding: 0 0 0.5rem;
			row-gap: 0.25rem;
			& > .fullname {
				& > a {
					@include font(1.85rem, 600);
					transition: 0.3s linear color;
					&:focus,
					&:focus-within,
					&:hover {
						color: $secondary;
					}
				}
			}
			& > .jobs {
				@include font(1.35rem, 400);
				opacity: 0.75;
			}
		}
		& > .contact {
			display: flex;
			& > .contactItem {
				@include flexNoFlow(center, center);
				cursor: pointer;
				flex-grow: 1;
				gap: 0.8rem;
				height: 3.5rem;
				transition: 0.3s;
				&:nth-of-type(1) {
					border-radius: 0 0 0 1rem;
				}
				&:nth-of-type(2) {
					border-radius: 0 0 1rem 0;
				}
				&:hover {
					background-color: $secondary;
				}
				& > i {
					& > span {
						@include flexNoFlow(center, center);
						aspect-ratio: 1/1;
						color: $colorSecondary;
						font-size: 1.75rem;
						width: 2.5rem;
					}
				}
			}
		}
	}
}

.wrapper__home {
	align-items: center;
	margin: 0 auto;
	transition: 0.2s linear box-shadow, 0.2s 0.1s linear transform;
	width: 30rem;
	& > a {
		& > div {
			aspect-ratio: 4/4.5;
			border-radius: 1rem 1rem 0 0;
			overflow: hidden;
			width: 100%;
			& > figure {
				height: 100%;
				position: relative;
				transition: 0.25s ease-in-out scale;
				width: 100%;
			}
		}
		& > section {
			@include flex(start, column, flex-start);
			border-radius: 0 0 1rem 1rem;
			background-color: $background;
			min-height: 10rem;
			padding: 1.15rem 0.5rem 1rem 0.5rem;
			row-gap: 0.7rem;
			& > h4 {
				font-size: 2rem;
			}
			& > p {
				font-size: 1.65rem;
			}
		}
	}
	&:focus,
	&:focus-within,
	&:hover {
		transform: translateY(-3rem);
		& > a {
			& > div {
				& > figure {
					scale: 1.2;
				}
			}
		}
	}
	@media only screen {
		@media (max-width: 965px) {
			width: 25rem;
		}
		@media (max-width: 810px) {
			width: 22rem;
			& > a {
				& > div {
					aspect-ratio: 4/5.5;
				}
				& > section {
					padding: 1.15rem 0.5rem 1rem 0.5rem;
					& > h4 {
						font-size: 1.8rem;
					}
					& > p {
						font-size: 1.5rem;
					}
				}
			}
		}
	}
}

.wrapper2 {
	background-color: $background;
	width: 50rem;
	& > figure {
		height: 70rem;
		position: relative;
	}
	& > section {
		@include flex(start, column, start);
		padding: 1.25rem 0.85rem 0.5rem 0.85rem;
		row-gap: 0.5rem;
		& > .fullname {
			font-size: 3.2rem;
		}
		& > .jobs,
		& > .cities {
			font-size: 1.6rem;
			font-weight: 400;
			line-height: 1.5;
		}

		& > .excerpt {
			font-size: 1.55rem;
			font-weight: 600;
			line-height: 1.5;
			margin-top: 1.5rem;
		}
		& > .button {
			@include flex(center, row, flex-end);
			margin-top: 2rem;
			width: 100%;
			& > a {
				background-color: transparent;
				border: 0.25rem solid $colorSecondary;
				border-radius: 0.75rem;
				height: 4rem;
				min-width: 12rem;
				padding-left: 2rem;
				transition: 0.2s linear, 0.13s linear background-color;
				&,
				& > i {
					@include flexNoFlow(center, center);
				}
				& > span,
				& > i {
					color: $colorSecondary;
					font-weight: 700;
					font-size: 1.7rem;
					transition: 0.2s linear, 0.13s linear color;
				}
				& > i {
					aspect-ratio: 1/1;
					opacity: 0;
					visibility: hidden;
					width: 2rem;
				}
				&:hover {
					padding-left: 0;
					& > i {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}
