@import "../../../../../styles/Variables.scss";

.wrapper {
	& > ul {
		@include flex(flex-start, flex-start, column, null, 1rem);
		background-image: linear-gradient(
			to left,
			hsla(228, 79%, 69%, 0.52),
			hsla(229, 55%, 64%, 0.5)
		);

		backdrop-filter: blur(2rem) brightness(120%);
		border-radius: 0 1rem 1rem 1rem;
		margin: 1rem 0 0 2rem;
		overflow: hidden;
		padding: 1rem 1rem;
	}

	@media only screen {
		@media (max-widh: 999.5px) {
			width: 100%;
		}
		@media (min-width: 1000px) {
			position: relative;
			& > ul {
				margin: 0 0 0 0;
				position: absolute;
				width: 25rem;
			}
		}
	}
}
