@import "../../../../../styles/Variables.scss";

.expand,
.regular[data-type="regular"] {
	@include flex(center, flex-start, row nowrap, 1rem, null);
	& > .button,
	& > .link {
		color: $white;
	}

	& > .link {
		@include font(2.5rem, 400, null, inherit, uppercase, null, start);
		position: relative;
		&::before {
			@include positioning(
				null,
				null,
				-0.5px,
				0,
				null,
				null,
				null,
				nul,
				absolute
			);
			@include size(1.5px, 0%);
			background-color: $white;
			transition: 0.2s ease-in-out width;
		}
		&:focus-within,
		&:hover {
			&::before {
				width: 100%;
			}
		}
	}
}

.expand {
	& > .button {
		@include flex(center, center, null, null, null);
		@include size(3.23rem, 3.23rem);
		display: flex;
		font-size: 3rem;
	}
}

.regular[data-type="submenu"] {
	@include flex(center, flex-start, row nowrap, 1rem, null);
	& > .link {
		@include font(1.75rem, 400, null, inherit, uppercase, null, start);
	}
}

@media only screen {
	@media (min-width: 1000px) {
		.expand,
		.regular[data-type="regular"] {
			@include flex(center, flex-start, row nowrap, 0.2rem, null);
			& > .link {
				@include font(1.75rem, 400, null, inherit, uppercase, null, start);
			}
		}
		.expand {
			& > .button {
				@include size(2.5rem, 2.5rem);
				& > * {
					transform: scale(1.2);
				}
			}
		}
	}
}
