@import "../../../../styles/Variables.scss";

.wrapper {
	display: grid;
	grid-template-columns: repeat(25, 1fr);
	margin: 5rem 0;
}

.box {
	background-color: #121212;
	border-radius: 1rem 0 0 1rem;
	grid-column: 2/-1;
	padding: 2rem 1rem;
}

.details {
	& > .title {
		& > h2 {
			@include font(7.5rem, 900, 1.2, $drukCyr, uppercase, 1px, start);
		}
	}
	& > .content {
		@include font(1.85rem, 400, 1.2, inherit, null, -1px, start);
		color: $silver;
		padding-right: 1.5rem;
	}
}

.cards {
	@include flex(flex-start, flex-start, column, null, 1rem, false);
	margin: 3rem auto 0 0;
	width: clamp(5rem, 85rem, 99%);
}

@media only screen {
	@media (min-width: 500px) {
		.box {
			grid-column: 4/-1;
			padding: 4rem 3rem;
		}
		.details {
			& > .title {
				& > h2 {
					font-size: 9rem;
				}
			}
			& > .content {
				font-size: 1.9rem;
				line-height: 1.5;
				padding-right: unset;
			}
		}
	}
	@media (min-width: 700px) {
		.box {
			grid-column: 6/-1;
		}
		.details {
			& > .title {
				& > h2 {
					font-size: 14rem;
					line-height: 0.8;
				}
			}
			& > .content {
				margin: 2rem 0 1rem 0;
			}
		}
	}
	@media (min-width: 900px) {
		.box {
			grid-column: 8/-1;
		}
		.details {
			width: 70%;
			& > .title {
				& > h2 {
					font-size: 14rem;
				}
			}
			& > .content {
				font-size: 2rem;
			}
		}
	}
	@media (min-width: 1250px) {
		.box {
			grid-column: 11/-1;
		}
	}
}
