@import "../../../../styles/Variables.module.scss";
.wrapper {
	@include flex(center, column, center);
	row-gap: 5rem;
	& > .socials {
		@include flex(center, row wrap, flex-end);
		column-gap: 1rem;
		width: 110rem;
		& > li {
			aspect-ratio: 1/1;
			background-color: $primary;
			color: $white;
			cursor: pointer;
			border-radius: 50%;
			transition: 0.3s ease-in-out filter;
			width: 4.5rem;
			&,
			& > * > * {
				@include flexNoFlow(center, center);
			}
			& > * > * {
				@include fullSize;
				font-size: 2.2rem;
			}
			& > * {
				transition: 0.2s ease-in-out scale;
			}
			&:focus,
			&:focus-within,
			&:hover {
				filter: brightness(115%);
				& > * {
					scale: 1.7;
				}
			}
		}
	}
	& > section {
		@include flex(center, column, center);
		width: 125rem;
		row-gap: 2rem;
		& > * {
			width: 100%;
		}
		& > h1 {
			font-size: 7.5rem;
			font-weight: 900;
			text-align: center;
		}
		& > div {
			@include flex(flex-end, column-reverse, center);
			min-height: 5rem;
			padding: 0.5rem 1rem;
			row-gap: 1rem;
			& > p {
				font-size: 2rem;
				font-weight: 700;
			}
		}
		& > .stacks {
			@include flex(center, row wrap, flex-end);
			& > .stack {
				@include flexNoFlow(center, center);
				aspect-ratio: 1/1;
				font-size: 2.5rem;
				user-select: none;
				width: 4rem;
			}
		}
		& > .website {
			@include flexNoFlow(center, center);
		}
	}
	& > figure {
		aspect-ratio: 16/10;
		bottom: -15rem;
		border-radius: 2rem;
		overflow: hidden;
		position: relative;
		width: 115rem;
		& > div {
			@include fullSize;
			position: relative;
		}
	}

	& > .socials,
	& > section,
	& > figure {
		max-width: 95%;
	}

	@media only screen {
		@media (max-width: 750px) {
			& > section {
				& > h1 {
					font-size: 5rem;
				}
			}
		}
	}
}
