@import "../../../../styles/Variables.module.scss";

.wrapper {
	background-color: $quinary;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-areas:
		"info info span menus menus"
		"info info span menus menus"
		"info info span menus menus"
		"info info span menus menus"
		"info info span menus menus"
		"info info span menus menus"
		"break break break break break"
		"settings settings settings settings settings";
	height: auto;
	min-height: calc(100vh - 10rem);
	padding: 0 2rem 1rem 2rem;
	& > .menu,
	& > .settings {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	& > .info {
		@include flex(start, column, center);
		grid-area: info;
		width: 70rem;
		max-width: 90%;
		margin: auto;
		row-gap: 2rem;
		& > h2 {
			@include font(7rem, 600);
			color: $colorSecondary;
		}
		& > p {
			@include fontLine(2.1, 1.85rem);
			text-align: justify;
		}
		& > address {
			@include flex(start, column, center);
			color: $colorSecondary;
			row-gap: 1rem;
			font-style: normal;
			& > * {
				@include flex(center, row, flex-start);
				gap: 1rem;
				& > span {
					font-size: 1.7rem;
					font-weight: 500;
				}
			}
			& > p {
				cursor: default;
			}
		}
	}
	& > .menu {
		align-items: center;
		grid-area: menus;
		justify-items: center;
		& > li {
			gap: 2rem;
			&,
			& > ul {
				@include flex(start, column, start);
			}
			& > h3 {
				@include font(2.4rem, 600);
				color: $colorSecondary;
			}
			& > ul {
				gap: 1.2rem;
				padding: 0.35rem;
				width: 100%;
			}
		}
	}
	& > .break {
		background-color: $color;
		grid-area: break;
		height: 1px;
		margin: auto;
		opacity: 0.25;
		width: 97%;
	}
	& > .settings {
		grid-area: settings;
		& > p {
			font-weight: 700;
			grid-column: 1;
			padding: 0.85rem;
			margin: auto 0;
		}
		& > div {
			@include flex(flex-end, column, center);
			grid-column: 2/-1;
			row-gap: 1.2rem;
			& > * {
				@include flex(center, row wrap, center);
			}
			& > .socials {
				gap: 1rem;
				& > li {
					aspect-ratio: 1/1;
					width: 3.5rem;
					& > a {
						@include flexNoFlow(center, center);
						@include fullSize;
						color: $color;
						font-size: 2.4rem;
						opacity: 0.75;
						transition: 0.2s ease-in-out color, 0.2s ease-in-out opacity;
						& > * {
							transition: 0.2s ease-in-out scale;
						}
						&:focus,
						&:focus-within,
						&:hover {
							color: $colorSecondary;
							opacity: 1;
							& > * {
								scale: 1.3;
							}
						}
					}
				}
			}
			& > .menu {
				gap: 2.15rem;
			}
		}
	}
}

.link {
	& > a {
		color: $color;
		font-weight: 500;
		position: relative;
		transition: 0.3s ease-in-out color;
		&::after {
			bottom: -0.25rem;
			background-color: $colorSecondary;
			height: 1.5px;
			left: 0;
			transition: 0.3s ease-in-out width;
			width: 0%;
		}
		&:focus,
		&:focus-within,
		&:hover {
			color: $colorSecondary;
			&::after {
				width: 100%;
			}
		}
	}
}

@media only screen {
	@media (max-width: 1535px) {
		.wrapper {
			grid-template-columns: repeat(5, 1fr);
			grid-template-areas:
				"info info menus menus menus"
				"info info menus menus menus"
				"info info menus menus menus"
				"info info menus menus menus"
				"info info menus menus menus"
				"info info menus menus menus"
				"break break break break break"
				"settings settings settings settings settings";
		}
	}
	@media (max-width: 1250px) {
		.wrapper {
			grid-template-columns: repeat(7, 1fr);
			grid-template-areas:
				"info info info info menus menus menus"
				"info info info info menus menus menus"
				"info info info info menus menus menus"
				"info info info info menus menus menus"
				"info info info info menus menus menus"
				"info info info info menus menus menus"
				"break break break break break break break"
				"settings settings settings settings settings settings settings";
			padding: 0 1.25rem 0.65rem 1.25rem;
			& > .info {
				max-width: auto;
				width: 95%;
				& > h2 {
					font-size: 5.65rem;
				}
				& > p {
					@include fontLine(1.7, 1.65rem);
					text-align: start;
				}
				& > address {
					row-gap: 0.76rem;
					& > * {
						gap: 0.65rem;
						& > span {
							font-size: 1.5rem;
						}
					}
				}
			}
		}
	}
	@media (max-width: 995px) {
		.wrapper {
			grid-template-areas:
				"info info info menus menus menus menus"
				"info info info menus menus menus menus"
				"info info info menus menus menus menus"
				"info info info menus menus menus menus"
				"info info info menus menus menus menus"
				"info info info menus menus menus menus"
				"break break break break break break break"
				"settings settings settings settings settings settings settings";
		}
	}
	@media (max-width: 750px) {
		.wrapper {
			grid-template-columns: repeat(3, 1fr);
			grid-template-areas:
				"info info info "
				"info info info "
				"info info info "
				"menus menus menus"
				"menus menus menus"
				"break break break"
				"settings settings settings";

			& > .settings {
				grid-template-columns: repeat(5, 1fr);
				& > p {
					grid-column: 1/3;
					padding: 0.25rem;
				}
				& > div {
					grid-column: 3/-1;
					row-gap: 0.8rem;
					& > .socials {
						gap: 1rem;
						& > li {
							width: 2.5rem;
							& > a {
								font-size: 1.6rem;
							}
						}
					}
					& > .menu {
						gap: 1.55rem;
					}
				}
			}
		}
	}
	@media (max-width: 555px) {
		.wrapper {
			grid-template-columns: repeat(3, 1fr);
			grid-template-areas:
				"info info info "
				"info info info "
				"info info info "
				"menus menus menus"
				"menus menus menus"
				"break break break"
				"settings settings settings";
			& > .menu {
				@include flex(center, row, space-evenly);
				& > li {
					gap: 1rem;
					& > h3 {
						font-size: 1.9rem;
						text-align: center;
						width: 100%;
					}
					& > ul {
						gap: 0.4rem;
						padding: 0.35rem;
						& > .link {
							& > a {
								@include font(1.4rem, 500);
							}
						}
					}
				}
			}
			& > .info {
				row-gap: 1.5rem;
				& > h2 {
					font-size: 4rem;
				}
				& > p {
					@include font(2.1, 1.5rem);
				}
				& > address {
					row-gap: 0.75rem;
					& > * {
						gap: 0.75rem;
						& > span {
							@include font(1.45rem, 500);
						}
					}
					& > p {
						cursor: default;
					}
				}
			}
			& > .settings {
				grid-template-columns: repeat(2, 1fr);
				& > p {
					grid-column: 1/-1;
					grid-row: 2;
					text-align: center;
				}
				& > div {
					grid-column: 1/-1;
					grid-row: 1;
					justify-content: center;
					& > * {
						justify-content: center;
						width: 100%;
					}
					& > .socials {
						gap: 1rem;
						& > li {
							width: 2.5rem;
							& > a {
								font-size: 1.6rem;
							}
						}
					}
					& > .menu {
						gap: 1.55rem;
					}
				}
			}
		}
	}
	@media (max-width: 400px) {
		.wrapper {
			padding: 0 0.45rem 0.65rem 0.45rem;
		}
	}
	@media (max-width: 385px) {
		.wrapper {
			& > .info {
				padding: 1.25rem 0 0.5rem 0;
				& > address {
					row-gap: 0.75rem;
					& > * {
						gap: 0.75rem;
						& > span {
							@include font(1.1rem, 600);
						}
					}
					& > p {
						cursor: default;
					}
				}
			}
			& > .menu {
				flex-flow: column;
				padding: 1rem 0;
				row-gap: 1rem;
				& > li {
					max-width: 95%;
					width: 20rem;
				}
			}
			& > .settings {
				& > div {
					padding: 1rem 0;
				}
			}
		}
	}
}
