@import "../../../../../styles/Variables.scss";
.wrapper {
	cursor: default;
	user-select: none;
	max-width: 60rem;
	width: 100%;
	& > .image {
		aspect-ratio: 16/14;
		border-radius: 1rem;
		overflow: hidden;
		position: relative;
	}
	& > .details {
		@include flex(center, space-between);
		border-radius: 1rem;
		background-color: $cyan;
		color: $black;
		font-size: 1.7rem;
		font-weight: 600;
		text-transform: uppercase;
		margin: 0.5rem 0;
		padding: 0.75rem 1rem;
	}
	& > .content {
		padding-bottom: 2rem;
		& > .title {
			@include font(3rem, 700);
			font-family: $ibm;
		}
		& > .excerpt {
			@include font(1.5rem, 400);
			color: $gray;
			line-height: 1.4;
			margin: 1rem 0;
		}
		& > .button {
			@include flex(center, flex-end);
			& > a {
				@include size(4.5rem, 4.5rem);
				border: 2px solid $gray;
				border-radius: 50%;
				color: $gray;
				position: relative;
				transition: 0.3s linear border, 0.3s linear color;
				margin: 0 2rem 0 auto;
				& > i {
					@include flex(center, center);
					@include size(100%, 100%);
					font-size: 3rem;
					transition: 0.3s linear transform;
				}
				&:focus,
				&:focus-within,
				&:hover {
					border: 2px solid $cyan;
					color: $cyan;
					& > i {
						transform: translateX(0.8rem);
					}
				}
			}
		}
	}

	@media only screen {
		@media (min-width: 1250px) {
			& > .image {
				aspect-ratio: unset;
				height: 50rem;
			}
			& > .details {
				@include flex(center, space-between);
				padding: 1rem 2rem;
				font-size: 2rem;
			}
			& > .content {
				& > .title {
					font-size: 3.85rem;
				}
				& > .excerpt {
					@include font(1.8rem, 400);
					line-height: 2.2;
				}
			}
		}
	}
}
