@import "../../../../styles/Variables.scss";

.input {
	& > input {
		height: 6rem;
		padding: 0 2rem;
	}
}

.textarea {
	// background: aqua;
	& > textarea {
		height: 30rem;
		line-height: 1.5;
		padding: 1rem 2rem;
		resize: none;
	}
}

.input,
.textarea {
	@include flex(flex-start, flex-start);
	flex-flow: column;
	margin: 1rem auto;
	max-width: 95%;
	width: 75rem;
	row-gap: 2rem;
	& > * {
		width: 100%;
	}
	& > label {
		@include font(3rem, 600);
	}
	& > input,
	& > textarea {
		font-size: 2rem;
		font-weight: 600;
		border-radius: 1rem;
		border: 2px solid $gray;
		color: $gray;
		transition: 0.2s ease-in-out;
		&::placeholder {
			color: $gray;
		}
		&:focus,
		&:focus-within,
		&:hover {
			border: 2px solid $cyan;
			color: $white;
			box-shadow: inset 0 0 0.5rem $white, 0 0.2rem 1.5rem 0.25rem $cyan;
		}
	}
}
