@import "../../../../styles/Variables.scss";

.wrapper {
	width: 95%;
	padding: 0 1rem;
	row-gap: 2rem;
	&,
	& > li,
	& > li > ul {
		@include flex(flex-start, flex-start);
		flex-flow: column;
	}
	& > li,
	& > li > ul,
	& > li > ul > li {
		width: 100%;
	}
	& > li {
		margin-top: 0.5rem;
		& > h5 {
			@include font(2rem, 800);
			margin-bottom: 2rem;
		}
		& > ul {
			row-gap: 1rem;
			& > li {
				@include font(1.8rem, 200);
				height: 2rem;
				margin: 0.2rem 0;
				& > a {
					position: relative;
					transition: 0.15s ease-in-out color;
					&::after {
						@include size(1px, 0%);
						background-color: $cyan;
						border-radius: 2rem;
						bottom: 0;
						transition: 0.15s ease-in-out width;
						left: 0;
					}
					&:focus,
					&:focus-within,
					&:hover {
						color: $cyan;
						&::after {
							width: 100%;
						}
					}
				}
			}
		}
	}

	@media only screen {
		@media (min-width: 850px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: 1150px) {
			grid-column: 1/10;
			& > li {
				& > h5 {
					font-size: 2.5rem;
				}
				& > ul {
					row-gap: 1.5rem;
					& > li {
						font-size: 1.9rem;
						height: auto;
					}
				}
			}
		}
		@media (min-width: 1250px) {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
		}
	}
}
