@import "../../../../styles/Variables.scss";

.wrapper {
	@include size(100%, 100%);
	// background: red;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 1rem;
}

.column {
	@include flex(center, center, column);
	& > .title {
		@include font(2.4rem, 600, null, inherit, uppercase, -1px, center);
		border-bottom: 1px solid $peach;
		color: $peach;
	}
	& > .menu {
		@include flex(center, center, column, null, 0.3rem);
		padding: 0.7rem 0 0.4rem 0;
		& > .item {
			@include font(1.7rem, 500, null, inherit, null, -1px, center);
			& > a {
				color: $silver;
				transition: 0.15s ease-in-out color;
				&:focus,
				&:focus-within,
				&:hover {
					color: $white;
				}
			}
		}
	}
}

@media only screen {
	@media (min-width: 620px) {
		.wrapper {
			grid-template-columns: repeat(2, 1fr);
			gap: 2rem;
		}
		.column {
			@include flex(flex-start, flex-start, column);
			& > .title {
				border-bottom: 1.3px solid $peach;
				text-align: start;
			}
			& > .menu {
				@include flex(flex-start, flex-start, column, null, 0.3rem);
				& > .item {
					text-align: start;
				}
			}
		}
	}
	@media (min-width: 800px) {
		.column {
			& > .title {
				font-size: 3rem;
			}
			& > .menu {
				font-size: 1.9rem;
			}
		}
	}
	@media (min-width: 1020px) {
		.column {
			& > .title {
				font-size: 3.4rem;
			}
			& > .menu {
				font-size: 2rem;
			}
		}
	}
}
