@import "../../../../styles/Variables.module.scss";
.wrapper {
	&[data-disabled="true"] {
		cursor: default;
		opacity: 0.5;
		&:hover {
			padding-left: 2rem;
			& > i {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	@include flexNoFlow(center, center);
	margin-top: 2.5rem;
	background-color: transparent;
	border: 0.25rem solid $colorSecondary;
	border-radius: 0.75rem;
	height: 5rem;
	min-width: 14rem;
	padding-left: 2rem;
	transition: 0.2s linear, 0.13s linear background-color;
	&,
	& > i {
		@include flexNoFlow(center, center);
	}
	& > span,
	& > i {
		color: $colorSecondary;
		font-weight: 700;
		font-size: 1.7rem;
		transition: 0.2s linear, 0.13s linear color;
	}
	& > i {
		aspect-ratio: 1/1;
		opacity: 0;
		visibility: hidden;
		width: 2rem;
	}
	&:hover {
		padding-left: 0;
		& > i {
			opacity: 1;
			visibility: visible;
		}
	}
}
