@import "../../../../../styles/Variables.scss";

.wrapper {
	cursor: default;
	flex-shrink: 0;
	// margin: 2rem auto;
	width: 26rem;
}

.image {
	aspect-ratio: 4/4.35;
	border-radius: 1rem;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.info {
	@include flex(flex-start, flex-start, column, null, 1rem);
	padding: 0.8rem;
}

.author {
	@include flex(center, flex-start, row nowrap, 1rem, null);
	& > figure {
		$size: 3.5rem;
		@include size($size, $size);
		border-radius: 50%;
		overflow: hidden;
		position: relative;
	}
	& > div {
		@include flex(center, center);
		& > a {
			@include font(1.5rem, 600);
			color: $pictonBlue;
		}
	}
}

.content {
	& > h3 {
		@include font(2.5rem, 600, 0.995, inherit, null, 1px, start);
		color: $jordyBlue;
	}
	& > p {
		@include font(1.45rem, 500, 1.5, inherit, null, -0.5px, start);
		margin: 1rem 0;
	}
	& > div {
		@include flex(center, flex-end);
		& > a {
			@include flex(center, center);
			@include font(1.6rem, 500, null, inherit, lowercase, null, center);
			@include minSize(null, 7rem);
			padding: 0.5rem 0.7rem;
			position: relative;
			&::after {
				@include positioning(
					null,
					null,
					0px,
					0px,
					null,
					null,
					null,
					null,
					absolute
				);
				@include size(1.2px, 0%);
				background-color: $white;
				transition: 0.2s ease-in-out width;
			}
			&:focus-within,
			&:hover {
				&::after {
					width: 100%;
				}
			}
		}
	}
}

@media only screen {
	@media (min-width: 700px) {
		.wrapper {
			width: 29.5rem;
		}
		.content {
			& > h3 {
				font-size: 2.68rem;
			}
			& > p {
				font-size: 1.5rem;
			}
			& > div {
				& > a {
					font-size: 1.69rem;
				}
			}
		}
	}
	@media (min-width: 850px) {
		.wrapper {
			width: 32rem;
		}
	}
	@media (min-width: 1050px) {
		.wrapper {
			width: 36rem;
		}
	}
	@media (min-width: 1250px) {
		.wrapper {
			width: 40rem;
		}
	}
}
