@import "../../../../styles/Variables.module.scss";
.wrapper {
	max-width: 95%;
	min-height: 50rem;
	padding: 0.9rem;
	row-gap: 1.25rem;
	width: 65rem;
	&,
	& > address {
		@include flex(start, column, center);
	}
	& > h2 {
		color: $colorSecondary;
		font-size: 4.65rem;
	}
	& > p {
		font-size: 1.8rem;
		line-height: 1.5;
	}
	& > address {
		font-style: normal;
		justify-content: flex-start;
		row-gap: 0.75rem;
		& > p:first-of-type {
			@include font(1.6rem, 600);
			line-height: 2;
		}
		& > ul {
			flex-flow: row wrap;
			gap: 1.2rem;
			&,
			& > a {
				@include flexNoFlow(center, flex-start);
			}
			& > a {
				border: 1px solid $secondary;
				border-radius: 5px;
				padding: 0 1rem 0 0;
				transition: 0.25s ease-in-out background-color;
				&:focus,
				&:focus-within,
				&:hover {
					background-color: $secondary;
				}
				& > i {
					& > span {
						@include flexNoFlow(center, center);
						aspect-ratio: 1/1;
						font-size: 1.6rem;
						width: 3.5rem;
					}
				}
				& > p {
					font-size: 1.5rem;
				}
			}
		}
	}
}
