@import "../../../../styles/Variables.module.scss";
.wrapper {
	border: $searchBorder;
	border-radius: 3rem;
	display: grid;
	grid-template-columns: calc(100% - 10rem) 10rem;
	height: 5rem;
	outline: $searchOutline;
	overflow: hidden;
	margin: auto;
	max-width: 90%;
	transition: 0.3s;
	&:focus-within {
		outline: 1px solid $primary;
	}
	& > input {
		border: 0;
		font-size: 1.7rem;
		height: 100%;
		outline: 0;
		padding: 1.2rem 1.6rem;
		text-indent: 2rem;
	}
	& > span {
		@include flexNoFlow(center, start);
		color: $color;
		height: 100%;
		line-height: 0;
		padding: 0 10px;
		text-decoration: none;
		user-select: none;
		& > * {
			font-size: 2.5rem;
			margin: auto;
		}
	}
	@media only screen {
		@media (max-width: 550px) {
			grid-template-columns: calc(100% - 5.5rem) 5.5rem;
			& > input {
				text-indent: 1rem;
				font-size: 1.5rem;
				padding: 1.2rem 1.6rem;
			}
			& > span {
				& > * {
					font-size: 2.1rem;
				}
			}
		}
	}
}
