@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    @include flex(flex-start,flex-start,column,null,2rem);
    margin:5rem auto;
    width:clamp(5rem,150rem,90%);
}

.title {
    @include font(5rem,400,1.4,null,1.6px,start);
}

.cards {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.card {
    border-top:2px solid $taupeGray;
    display: grid;
    grid-template-columns:1fr;
}

.card__title {
    @include font(2.15rem,700,1.2,uppercase,null,start);
    padding: 2rem;
}

.card__content {
    @include font(1.6rem,400,2,null,null,start,$monospace);
    padding: 2rem;
}

@media only screen {
    @media (min-width:750px){
        .title {
            font-size: 6.2rem;
        }

        .cards {
            grid-template-columns: repeat(2,1fr);
        }

        .card {
            grid-template-columns:30rem calc(100% - 30rem);
            grid-template-columns:1fr;
        }     
    }
    @media (min-width:1550px){
        .card {
            grid-template-columns:30rem calc(100% - 30rem);
        }     
    }
}