@import '../../../../../styles/Mixins.scss';
@import '../../../../../styles/Variables.scss';

.wrapper {
  @include size(100%, 100%);
  @include grid(null, null, repeat(3, 1fr), calc(100% - 12rem) 12rem, null, 0.8rem);
  padding: 4rem;
}

.menu {
  @include size(100%, 100%);
  grid-column: 1/-1;
  grid-row: 1;
}

.articles {
  display: none;
}

.socials {
  @include flex(center, center);
  grid-column: 1/-1;
  grid-row: 2;
  height: 6rem;
  margin: auto 0;
}
