@import '../../../../../styles/Mixins.scss';
@import '../../../../../styles/Variables.scss';

.wrapper {
  @include size(100%, 100%);
  @include grid(null, null, repeat(3, 1fr), calc(100% - 7rem) 7rem, null, 0.8rem);
  padding: 1.2rem 1.2rem 2.24rem 1.2rem;
}

.menu {
  @include gridSize(null, 1/-1, 1);
  @include size(100%, 100%);
}

.articles {
  display: none;
}

.socials {
  @include gridSize(null, 1/-1, 2);
}

@media only screen {
  @media (min-width: 375px) {
    .wrapper {
      padding: 1.75rem 2.1rem 1.9rem;
    }
  }
}
