@import "../../../styles/Variables.scss";

.wrapper {
	background-color: $black;
	display: grid;
	grid-template-columns: repeat(25, 1fr);
	backdrop-filter: brightness(10%);
	padding-top: 5rem;
	position: relative;
	z-index: 0;
	&::before {
		$size: 10rem;
		@include size($size, $size);
		background-color: $black;
		left: 4rem;
		top: calc($size / 2 * -1);
		rotate: 45deg;
		z-index: -1;
	}
}

.brand,
.menu {
	// grid-row: 1;
	grid-column: 1/-1;
	padding: 0 1rem;
}

.brand {
	min-height: 30rem;
}

// .menu {
// 	grid-column: 13/-1;
// }

.author,
.socials {
	grid-row: 3;
	padding: 2rem 4rem;
}

.author {
	grid-column: 1/7;
}
.socials {
	grid-column: 7/-1;
}

@media only screen {
	@media (min-width: 960px) {
		.brand {
			min-height: 45rem;
		}
	}
	@media (min-width: 1340px) {
		.brand,
		.menu {
			grid-row: 1;
		}
		.brand {
			grid-column: 1/13;
			min-height: unset;
		}

		.menu {
			grid-column: 13/-1;
		}
	}
}
