@import "../../../../../styles/Mixins.scss";
@import "../../../../../styles/Variables.scss";

.wrapper {
    align-items: end;
    display: grid;
    grid-template-columns: 9rem calc(100% - 18rem) 9rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin:3rem auto;
    padding: 0rem 2rem;
    width: 100%;
  }
  
  
  .button {
    grid-row: 2;
    $size:5.2rem;
    @include flex(center,center);
    @include size($size,$size);
    border: 2px solid rgba($black, .38);
    border-radius: .5dvw;
    font-size: calc($size * 91 / 100);
    margin:1rem auto;
    overflow: hidden;
    position: relative;
    &::after {
      @include size(0,0);
      border-radius: 50%;
      background-image: radial-gradient(rgba($black, .03), rgba($black, .21));
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%,-50%);
      transition:.12s ease-in-out  height, .12s ease-in-out width;
    }
    & >* {
      transition:.12s linear  transform;
    }
  
    &:focus,
    &:hover {
      &::after {
        @include size($size * 1.3,$size * 1.3);
      }
      & > *  {
        transform: scale(.9);
      }
    }
  }
  

  .cards {
    background: red;
    grid-column: 1/-1;
    grid-row: 1;
    overflow-x: hidden;
  }