@import '../../../../../styles/Mixins.scss';
@import '../../../../../styles/Variables.scss';

.expand {
  color: white !important;
  button {
    border: 2px solid pink;
    color: pink;
    font-size: 3rem;
  }
  //   background: red;
}

.regural {
  //   background: blue;
  color: aqua;
}

.small {
  background: purple;
}

.submenu {
  background: green;
}
