@import '../../../../../styles/Mixins.scss';
@import '../../../../../styles/Variables.scss';

.expand,
.regural {
  @include flex(center, flex-start, row nowrap, 0.15rem, null, false);
  @include size(3rem, 100%);
  & > a {
    @include flex(center, center);
    @include font(1.75rem, 500, 1.2, uppercase, -0.2px, center);
    color: #000;
    padding: 0rem 0.2rem;
    position: relative;
    transition: 0.25s linear color;
    &:focus-within,
    &:hover {
      color: #fff;
      &::before {
        width: 100%;
      }
    }
    &::before {
      @include size(2px, 0);
      background-color: #fff;
      bottom: 0;
      left: 0;
      position: absolute;
      transition: 0.25s linear width;
    }
  }
}

.expand {
  & > button {
    @include flex(center, center);
    aspect-ratio: 1/1;
    font-size: 2.15rem;
    height: 100%;
    & > * {
      transition: 0.12s linear transform;
    }
    &:focus-within,
    &:hover {
      & > * {
        transform: scale(1.2);
      }
    }
  }
  //   background: red;
}

.regural {
  //   background: blue;
}

.small {
  background: purple;
}

.submenu {
  @include flex(center, flex-start, row nowrap, 0.15rem, null, false);
  height: 2rem;
  & > a {
    @include flex(center, center);
    @include font(1.55rem, 400, 1.2, uppercase, -0.2px, center);
  }
}

@media only screen {
  @media (min-width: 375px) {
    .expand,
    .regural {
      height: 3.75rem;
      & > a {
        font-size: 2.45rem;
        line-height: 0.8;
        text-align: start;
      }
    }

    .expand {
      & > button {
        font-size: 2.95rem;
      }
    }

    .submenu {
      height: 2.3rem;
      & > a {
        font-size: 1.7rem;
      }
    }
  }
}
