@import "../../../../styles/Variables.scss";

.wrapper {
	@include flex(center, flex-start);
	@include font(3.1rem, 900, 0.8, null, null, start, $white, null);
	@include size(100%, 100%);
	padding: 0.5rem 1rem;
	&:focus-within,
	&:hover {
		color: $platinum;
	}
}
@media only screen {
	@media (min-width: 1050px) {
		.wrapper {
			font-size: 2.7rem;
		}
	}
}
