.wrapper {
	position: sticky;
	top: 10rem;
	row-gap: 2rem;
	width: 95%;
	&,
	& > form,
	& > form > div:first-of-type {
		align-items: center;
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
	}
	& > form {
		row-gap: 1.5rem;
		& > div:first-of-type {
			row-gap: 0.85rem;
		}
	}
}
