@import "../../../../styles/Variables.scss";

.wrapper {
	border-radius: 5rem;
	background-color: $peach;
	color: $black;
	margin: 0 auto;
	width: clamp(10rem, 170rem, 95%);
	overflow: hidden;
	padding: 6rem 1rem 3rem 1rem;
	& > section {
		margin: auto;
		width: 85%;
		& > header {
			& > h2 {
				@include font(9.25rem, 800, 0.8, $drukCyr, uppercase, 1px, start);
			}
		}
	}

	& > ul {
		align-items: start;
		display: grid;
		justify-items: center;
		margin: 5rem auto;
		grid-template-columns: repeat(1, 1fr);
		gap: 1.2rem;
		width: 90%;
	}
}

@media only screen {
	@media (min-width: 450px) {
		.wrapper {
			& > section {
				& > header {
					& > h2 {
						font-size: 12rem;
					}
				}
			}

			& > ul {
				margin: 3.5rem auto;
			}
		}
	}
	@media (min-width: 600px) {
		.wrapper {
			& > section {
				& > header {
					& > h2 {
						font-size: 15rem;
					}
				}
			}
			& > ul {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
	@media (min-width: 980px) {
		.wrapper {
			& > section {
				& > header {
					& > h2 {
						font-size: 18rem;
					}
				}
			}
			& > ul {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
	@media (min-width: 1150px) {
		.wrapper {
			& > ul {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}
