@import "../../../styles/Variables.scss";

.wrapper {
	@include positioning(0, null, null, 0, null, null, null, 9999, sticky);
	@include size("normal", auto, 100vw);
	background-color: $grayLight;
	border-bottom: $grayDark 1px solid;
	backdrop-filter: blur(1.2rem);
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	padding: 0.25rem 0.9rem;
}

.brand,
.settings {
	@include flex(center, center);
	@include size("normal", 100%, 100%);
	grid-row: 1;
	height: 6rem;
}

.brand {
	grid-column: 1/8;
}

.menu {
	@include flex(flex-start, center);
	grid-column: -1/1;
}
.settings {
	grid-column: 8/-1;
}
