@import "../../../styles/Variables.scss";

.wrapper {
	@include flex(flex-start, flex-start, column);
	// background-color: red;
	margin: 2rem auto 3rem;
	width: clamp(10rem, 85rem, 95%);
	& > * {
		width: 100%;
	}
	& > h2 {
		@include font(12rem, 900, 0.8, $drukCyr, uppercase, -1px, center);
		color: $silver;
		&::first-line {
			color: $white;
		}
	}
	& > p {
		@include font(2.5rem, 500, 1.7, inherit, null, null, start);
		margin-top: 3.5rem;
	}
	& > form {
		@include flex(center, flex-start, column, null, 1rem);
		margin: 2rem 0;
		padding: 0.2rem;
	}
}
