@import "../../../../styles/Variables.module.scss";

.wrapper__home {
	display: flex;
	position: relative;
	& > .image {
		overflow: hidden;
		&,
		& > div {
			@include fullSize;
			position: relative;
		}
		& > div {
			transition: 0.2s linear transform;
		}
	}
	& > .content {
		background-color: var(--white);
		bottom: 0;
		opacity: 0;
		position: absolute;
		transform: translateY(110%);
		transition: 0.2s ease-in-out opacity, 0.2s ease-in-out transform,
			0.2s ease-in-out visibility;
		visibility: hidden;
		width: 100%;
		& > .category {
			justify-content: flex-start;
			&,
			& > p {
				align-items: center;
				display: flex;
			}
			& > p {
				background-color: var(--primary);
				color: var(--white);
				font-weight: 700;
				justify-content: center;
				min-width: 10rem;
				padding: 0 1.7rem;
				text-transform: capitalize;
			}
		}
		& > .title {
			font-weight: 700;
			line-height: 1.7;
		}
	}
	&:focus,
	&:focus-within,
	&:hover {
		& > .image {
			& > div {
				transform: scale(1.2);
			}
		}
		& > .content {
			opacity: 1;
			transform: translateY(0);
			visibility: visible;
		}
	}
	&[data-size="big"] {
		height: 100%;
		min-height: 50rem;
		overflow: hidden;
		& > .content {
			padding: 1rem 2rem 3rem 2rem;
			& > .category {
				justify-content: flex-start;
				&,
				& > p {
					align-items: center;
					display: flex;
				}
				& > p {
					border-radius: 1rem;
					min-height: 2.7rem;
				}
			}
			& > .title {
				font-size: 2.5rem;
			}
			& > .excerpt {
				@include fontLine(1.5, 1.55rem, 400);
				color: var(--quatenary);
				padding: 0.25rem 0;
			}
		}
		&:focus,
		&:focus-within,
		&:hover {
			& > .image {
				& > div {
					transform: scale(1.2);
				}
			}
			& > .content {
				opacity: 1;
				transform: translateY(0);
				visibility: visible;
			}
		}
	}
	&[data-size="small"] {
		height: 100%;
		min-height: 15rem;
		& > .content {
			@include flex(center, column, center);
			height: 100%;
			padding: 0.5rem 2.2rem 1rem 2.2rem;
			& > .category {
				justify-content: flex-start;
				&,
				& > p {
					align-items: center;
					display: flex;
				}
				& > p {
					border-radius: 1.5rem;
					font-size: 1.47rem;
					min-height: 2.2rem;
				}
			}
			& > .title {
				font-size: 1.85rem;
			}
		}
		@media only screen {
			@media (max-width: 500px) {
				min-height: 35rem;
				&:last-of-type,
				&:nth-last-of-type(2) {
					display: none;
				}
			}
		}
	}
}

.wrapper__page {
	margin: auto;
	max-width: 95%;
	width: 35rem;
	& > .image {
		aspect-ratio: 3/3.4;
		width: 100%;
		border-radius: 1rem;
		overflow: hidden;
		position: relative;
		& > figure {
			@include fullSize;
			transition: 0.3s linear transform;
		}
	}
	& > .content {
		@include flex(start, column, start);
		padding: 0.5rem 1.15rem 0.8rem;
		row-gap: 0.4rem;
		& > .release {
			font-size: 1.5rem;
			font-weight: 600;
			text-align: end;
			width: 100%;
		}
		& > .title {
			font-size: 2.4rem;
			font-weight: 800;
		}
		& > .excerpt {
			font-size: 1.55rem;
			font-weight: 500;
			line-height: 1.5;
		}
	}

	&:focus,
	&:focus-within,
	&:hover {
		& > .image {
			& > figure {
				transform: scale(1.1) rotate(1deg);
			}
		}
	}

	@media only screen {
		@media (max-width: 740px) {
			width: 32rem;
		}
		@media (max-width: 675px) {
			width: 27rem;
		}
		@media (max-width: 585px) {
			width: 25rem;
			& > .image {
				aspect-ratio: 3/4;
				width: 100%;
			}
			& > .content {
				padding: 0.5rem 0.55rem 0.8rem;
				& > .release {
					font-size: 1.5rem;
					font-weight: 600;
					text-align: end;
					width: 100%;
				}
				& > .title {
					font-size: 2.2rem;
					font-weight: 800;
				}
				& > .excerpt {
					font-size: 1.45rem;
					font-weight: 500;
					line-height: 1.2;
				}
			}
		}
	}
}

.wrapper2 {
	column-gap: 1rem;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	height: 65rem;
	margin: 2rem auto;
	max-width: 97%;
	width: 150rem;
	& > section {
		@include flex(start, column, center);
		color: $color;
		grid-column: 1/4;
		padding: 0.5rem 2rem;
		row-gap: 1rem;
		& > .stack {
			gap: 0.5rem;
			@include flex(center, row wrap, flex-start);
			& > li {
				@include flex(center, row wrap, center);
				aspect-ratio: 1/1;
				font-size: 4rem;
				width: 3.7rem;
			}
		}
		& > .release {
			font-size: 1.8rem;
			font-style: italic;
		}
		& > .title {
			color: $colorSecondary;
			font-size: 6rem;
			font-weight: 700;
		}

		& > .excerpt {
			font-size: 1.9rem;
			font-weight: 500;
			line-height: 2;
		}
		& > .button {
			@include flexNoFlow(center, center);
			margin-top: 2.5rem;
			& > a {
				background-color: transparent;
				border: 0.25rem solid $colorSecondary;
				border-radius: 0.75rem;
				height: 5rem;
				min-width: 14rem;
				padding-left: 2rem;
				transition: 0.2s linear, 0.13s linear background-color;
				&,
				& > i {
					@include flexNoFlow(center, center);
				}
				& > span,
				& > i {
					color: $colorSecondary;
					font-weight: 700;
					font-size: 1.7rem;
					transition: 0.2s linear, 0.13s linear color;
				}
				& > i {
					aspect-ratio: 1/1;
					opacity: 0;
					visibility: hidden;
					width: 2rem;
				}
				&:hover {
					padding-left: 0;
					& > i {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
	& > div {
		aspect-ratio: 3/2;
		grid-column: 4/-1;
		margin: auto;
		width: 100%;
		& > figure {
			border-radius: 3rem;
			height: 100%;
			overflow: hidden;
			position: relative;
			width: 100%;
		}
	}

	@media only screen {
		@media (max-width: 1000px) {
			height: auto;
			min-height: 45rem;
			& > section {
				padding: 0.5rem 0.5rem 0.5rem 2rem;
				& > .stack {
					& > li {
						font-size: 2.8rem;
						width: 3rem;
					}
				}
				& > .release {
					font-size: 1.6rem;
				}
				& > .title {
					font-size: 3.7rem;
				}

				& > .excerpt {
					font-size: 1.7rem;
					line-height: 1.7;
				}
				& > .button {
					margin-top: 1.5rem;
					& > a {
						height: 4.5rem;
						min-width: 13rem;
						& > span,
						& > i {
							font-size: 1.5rem;
						}
					}
				}
			}
			& > div {
				@include fullSize;
				aspect-ratio: unset;
				& > figure {
					border-radius: 1rem;
				}
			}
		}

		@media (max-width: 800px) {
			height: auto;
			margin: 1rem auto;
			width: 55rem;
			& > div,
			& > section {
				grid-column: 1/-1;
			}
			& > section {
				padding: 0.5rem 1rem;
				row-gap: 0.6rem;
				grid-row: 2;
				margin-top: 2rem;
				& > .stack {
					gap: 0.35rem;
					& > li {
						font-size: 3.1rem;
						width: 3.2rem;
					}
				}
				& > .release {
					font-size: 1.65rem;
				}
				& > .title {
					font-size: 4.5rem;
					font-weight: 700;
				}

				& > .excerpt {
					font-size: 1.75rem;
					line-height: 1.7;
				}
				& > .button {
					margin-top: 2.5rem;
					& > a {
						padding-left: 2rem;
						& > span,
						& > i {
							font-size: 1.7rem;
						}
						& > i {
							width: 2rem;
						}
					}
				}
			}
			& > div {
				grid-row: 1;
				min-height: 35rem;
				& > figure {
					border-radius: 0.5rem;
				}
			}
		}
		@media (max-width: 350px) {
			& > section {
				& > .title {
					font-size: 3.75rem;
				}
				& > .excerpt {
					font-size: 1.55rem;
					line-height: 1.7;
				}
				& > .button {
					margin-top: 1.25rem;
				}
			}
		}
	}
}
