@import "./Variables.scss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba($black, 0);
}

::after,
::before {
	content: "";
	position: absolute;
}

::selection {
	background: rgba($white, 0.537);
}

:focus,
:focus-within {
	outline: none;
}

a {
	background: transparent;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

button {
	cursor: pointer;
}

body {
	background-color: $rich-black;
	background-attachment: fixed;
	color: $white;
	font-size: 1.6rem;
	transition: 0.2s linear all;
}

html {
	font-size: 62.5%;
}

button,
input,
textarea {
	background: transparent;
	border: none;
	font-family: inherit;
	outline: none;
}

li,
ol,
ul {
	list-style: none;
}
