@import "../../../../../styles/Variables.module.scss";
.wrapper {
	@include flex(center, column, center);
	row-gap: 2rem;
	width: 85%;
	& > * {
		width: 100%;
	}
	& > h1 {
		@include font(7.2rem, 900);
		text-align: left;
	}
	& > p {
		@include font(2rem, 500);
		line-height: 2;
		padding: 0.2rem;
	}
	& > ul {
		@include flex(center, row wrap, flex-start);
		gap: 3.5rem;
		padding: 0.15rem 2rem;
	}
	@media only screen {
		@media (max-width: 1170px) {
			width: 95%;
		}
		@media (max-width: 1050px) {
			row-gap: 1rem;
			& > h1 {
				font-size: 5.8rem;
			}
			& > p {
				font-size: 1.6rem;
			}
			& > ul {
				gap: 3.2rem;
			}
		}
		@media (max-width: 950px) {
			row-gap: 1rem;
			& > h1 {
				font-size: 5rem;
			}
			& > p {
				font-size: 1.5rem;
				line-height: 1.5;
				padding: 0.15rem;
			}
			& > ul {
				padding: 0.1rem;
			}
		}
		@media (max-width: 735px) {
			row-gap: 1rem;
			& > h1 {
				@include font(4rem, 900);
				text-align: center;
			}
			& > p {
				font-size: 1.45rem;
				line-height: 1.5;
				padding: 0;
			}
			& > ul {
				padding: 0.1rem;
			}
		}
		@media (max-width: 670px) {
			min-height: calc(100vh - 30rem);
			row-gap: 3rem;
			& > h1 {
				font-size: 6rem;
			}
			& > p {
				font-size: 1.55rem;
				line-height: 1.7;
				padding: 0;
			}
			& > ul {
				justify-content: center;
				flex-flow: row wrap;
			}
		}
		@media (max-width: 400px) {
			row-gap: 2rem;
			& > h1 {
				font-size: 4rem;
			}
			& > p {
				font-size: 1.45rem;
				line-height: 1.5;
			}
			& > ul {
				justify-content: center;
				gap: 3rem;
			}
		}
	}
}
