@import "../../../../styles/Variables.module.scss";
.wrapper {
	@include flex(center, row, center);
	height: 40rem;
	position: relative;
	margin: 2rem auto 0 auto;
	max-width: 100vw;
	width: 100%;
	& > iframe {
		all: unset;
		@include fullSize;
		@include object;
	}
}
