@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    @include backgroundCover;
    @include size(100vh, 100%);
    display: grid;
    grid-template-areas: "layer";
    z-index: 0;
    & > * {
        @include size(100%, 100%);
        grid-area: layer;
    }
}

.buttons {
    margin-top: 1rem;
}

.movie {
    position: relative;
    z-index: -1;
    & > video {
        @include size(100%, 100%);
        object-fit: cover;
        object-position: center;
    }
}

.container {
    @include flex(flex-start, center, column, 1rem);
    color: $white;
    margin: auto;
    padding: 0 1.6rem;
}

.slogan,
.title {
    text-shadow: 1rem 1rem 2.12rem hsla(0, 100%, 0, 0.6);
    width: 100%;
}

.title {
    @include font(clamp(5rem, 10rem, 17rem), 900, 1, null, -1rem, start);
}
.slogan {
    @include font(clamp(3.5rem, 5rem, 11rem), 900, 0.95, null, -0.2rem, start);
}

.buttons {
    @include flex(center, flex-start, row wrap, 1rem, 1rem);
}

@media only screen and (orientation: landscape) and (max-width: 1050px) {
    .title {
        font-size: clamp(5rem, 8dvw, 12rem);
    }
    .slogan {
        font-size: clamp(3.15rem, 5dvw, 9rem);
    }
}
