@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    @include backgroundCover;
    @include size(101dvh, 100%);
    display: grid;
    grid-template-areas: "layer";
}
.container {
    @include flex(flex-start, center, column, 1rem);
    @include size(95%, clamp(10rem, 1300rem, 95%));
    color: #fff;
    // background: lime;
    margin: auto;
    padding: 0 1rem;
}

.slogan,
.title {
    text-shadow: 1rem 1rem 3rem hsla(0, 100%, 0, 0.6);
    width: 100%;
}

.title {
    @include font(clamp(5rem, 23dvw, 20rem), 900, 1, null, -1rem, start);
}
.slogan {
    @include font(clamp(3.15rem, 7dvw, 9rem), 900, 1, null, -0.2rem, start);
    // @include font(9rem, 900, 1, null, -0.5rem, start);
}

.buttons {
    @include flex(center, flex-start, row wrap, 1rem, 1rem);
}
