@import "../../../../styles/Variables.scss";
.wrapper {
	margin: auto;
	max-width: 90%;
	padding: 1rem 1rem;
	width: 210rem;
	& > ul {
		@include grid(start, 1rem, repeat(1, 1fr), center, 1rem, null);
		width: 100%;
	}

	@media only screen {
		@media (min-width: 500px) {
			& > ul {
				grid-template-columns: repeat(2, 1fr);
			}
		}
		@media (min-width: 1200px) {
			& > ul {
				grid-template-columns: repeat(3, 1fr);
			}
		}
		@media (min-width: 1500px) {
			& > ul {
				gap: 3rem;
			}
		}
	}
}
