@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
  @include flex(center, center);
}

.wrapper[data-theme="hero"] {
  @include size(3.7rem, 3.7rem);
  color: $platinum;
  font-size: 2.7rem;
  transition: 0.15s linear color;
  &:focus-within,
  &:hover {
    color: $yellow;
  }
}
