@import "../../../../styles/Variables.module.scss";
.progress {
	background-image: linear-gradient(
		to right,
		$tertiaryButtonColor,
		$secondaryButtonColor
	);
	height: 0.2rem;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999999;
}
.wrapper {
	background-color: $background;
	display: grid;
	grid-template-columns: 20rem calc(100% - 20rem);
	height: 7rem;
	position: sticky;
	transition: 0.2s linear background-color, 0.2s linear box-shadow,
		0.2s linear height;
	top: 0;
	z-index: 99999;
	&[data-scrolled="true"] {
		box-shadow: 0 0.5rem 0.2rem hsla(0, 100%, 0%, 0.1);
		height: 6rem;
	}
	& > * {
		@include fullSize;
	}
	& > .settings {
		display: none;
	}
	@media only screen {
		@media (max-width: 1000px) {
			grid-template-columns: 15rem calc(100% - 15rem);
			height: 7rem;
			&[data-scrolled="true"] {
				height: 5rem;
			}
		}
		@media (max-width: 850px) {
			grid-template-columns: 2fr 1fr;
			grid-template-rows: 5rem auto;
			height: auto;
			&[data-scrolled="true"] {
				box-shadow: 0 0.5rem 0.2rem hsla(0, 100%, 0%, 0.1);
				height: auto;
			}
			& > .brand {
				grid-column: 1;
				grid-row: 1;
			}
			& > .menu {
				grid-column: 1/-1;
				grid-row: 2;
				&[data-open="false"] {
					display: none;
					overflow: hidden;
					visibility: hidden;
				}
			}
			& > .settings {
				grid-column: 2;
				grid-row: 1;
				display: flex;
			}
			&[data-scrolled="true"] {
				height: 5rem;
			}
		}
	}
}
