@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
  border-radius: 2rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  margin: 2rem auto 3rem;
  width: clamp(2rem, 160rem, 97%);
}

.image {
  display: flex;
  position: relative;
  padding: 2rem;
  overflow: hidden;
  height: 32vh;
  border-radius: 2rem;
  grid-column: 1/2;
  grid-column: 1/-1;
  grid-row: 1;
}

.container {
  @include flex(flex-start, flex-end, column, null, 1rem);
  border-radius: 2rem;
  min-height: 85vh;
  min-height: 50vh;
  height: auto;
  // background-color: $blue-polynesian;
  background-image: radial-gradient(
    color-mix(in srgb, $blue-polynesian 95%, $blue-oxford 5%),
    $blue-polynesian
  );
  padding: 3rem;
  padding: 2rem;
  grid-column: 2/-1;
  grid-column: 1/-1;
  grid-row: 2;
}

.title {
  @include font(17rem, 900, 1, null, null, start);
  font-size: 6rem;
}

.slogan {
  @include font(4.15rem, 700, 1.4, null, null, start);
  font-size: 2.24rem;
  text-wrap: balance;
}

.buttons {
  @include flex(flex-start, flex-start, row wrap, 0.57rem, 0.57rem);
  margin-top: 4rem;
  margin-top: 2rem;
}
