@import './Variables.scss';

body {
    --black:hsl(0,0%,0%);
    --gray-dark:hsla(0, 0%, 100%, 0.122);
	--gray-regular:hsla(0, 0%, 100%, 0.04);
	--gray-light:hsl(264,3%,63%);
    --white-dark:hsl(240, 2%, 90%)
    --white-darker:hsla(240,3%,94%)
    --white-regular:hsl(0, 0%, 100%);
}

body[data-theme="light"] {
	--background: red;
    --font-color:$black;
	--primary-lighten:hsl(277, 100%, 79%);
	--primary-regular:hsl(279, 60%, 68%);
	--primary-dark:hsl(277, 42%, 43%);
	--primary-darker:hsl(261, 42%, 38%);
	--secondary-dark:hsl(251, 48%, 95%);
	--secondary-light:hsl(257, 47%, 6%);
	--secondary-regular:hsl(249, 45%, 99%);
}
body[data-theme="dark"] {
	--background: red;
    --font-color:$white;
	--primary-lighten:hsl(277, 100%, 79%);
	--primary-regular:hsl(279, 60%, 68%);
	--primary-dark:hsl(277, 42%, 43%);
	--primary-darker:hsl(261, 42%, 38%);
	--secondary-dark:hsl(251, 48%, 5%);
	--secondary-light:hsl(257, 47%, 6%);
	--secondary-regular:hsl(249, 45%, 9%);

}