@import "../../../../../styles/Variables.scss";

.wrapper {
	& > h3 {
		@include font(2.2rem, 600, null, inherit, uppercase, null, center);
		color: $pictonBlue;
		padding: 0.5rem 0.75rem;
	}
	& > ul {
		@include flex(flex-start, flex-start, column, null, 0.85rem);
		padding: 0.7rem;
		& > li {
			& > a {
				@include font(1.6rem, 400, null, inherit, null, null, start);
				color: hsl(0, 1%, 73%);
				transition: 0.2s ease-in-out color;
				&:focus-within,
				&:hover {
					color: hsla(0, 100%, 100%);
				}
			}
		}
	}
}
@media only screen {
	@media (min-width: 650px) {
		.wrapper {
			& > h3 {
				font-size: 2.7rem;
			}
			& > ul {
				& > li {
					& > a {
						font-size: 1.8rem;
					}
				}
			}
		}
	}
}
