@import "../../../../styles/Variables.scss";

.wrapper {
	background-color: $electric-indigo-light;
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	margin-top: 10rem;
}

.container {
	background: $fuchsia;
	grid-column: 2/12;
}

.device__wrapper {
	@include flex(center, center);
	background-color: $blue-ncs;
	grid-column: 13/-1;
	padding: 2rem;
	position: relative;
	overflow: hidden;
	& > .device {
		transform: rotate(12deg);
	}
	.media {
		transition: 0.3s linear transform;
		@include size(100%, 100%);
		position: relative;
		&:hover {
			transform: scale(1.5);
		}
	}
}
