@import '../../../../styles/Mixins.scss';
@import '../../../../styles/Variables.scss';

// PRIMARY  =================================================================


.primary__wrapper {
height: 100%;
width: 100%;
flex-shrink: 0;
}

.primary__box{

}

.primary__box__details {

}

.primary__box__details__title {

}

.primary__box__image {

}
.primary__box__details__content {

}

.primary__cards {

}

.primary__card__wrapper {

}

.primary__card__image {

}

.primary__card__title {

}