@import "../../../../../styles/Variables.module.scss";
.wrapper {
	flex-flow: column;
	row-gap: 5rem;
	&,
	& > ul {
		align-items: center;
		display: flex;
		justify-content: center;
	}
	& > ul {
		flex-flow: row;
		gap: 3rem;
	}
	@media only screen {
		@media (max-width: 865px) {
			& > ul {
				gap: 1rem;
			}
		}
		@media (max-width: 800px) {
			& > ul {
				flex-flow: column;
			}
		}
	}
}
