@import "../../../styles/Variables.scss";

.wrapper {
	@include positioning(0, null, null, null, null, null, null, 9999999, sticky);
	background-color: $yellow;
	color: $black;
	display: grid;
	grid-template-columns: repeat(17, 1fr);
	height: 6rem;
	padding: 0 0.8rem 0.15rem 0.8rem;
	row-gap: 1rem;
	transition: 0.3s ease-in-out all;
	& > .brand,
	& > .settings {
		grid-row: 1;
		height: 6rem;
	}

	& > .brand {
		grid-column: 1/11;
	}
	& > .menu {
		@include size(calc(100vh - 6rem - 2rem), 100%);
		grid-row: 2;
		opacity: 0;
		transition: 0.3s ease-in-out all;
		visibility: hidden;
	}
	& > .settings {
		grid-column: 11/-1;
	}

	&[data-open-menu="true"] {
		height: 100vh;
		& > .menu {
			grid-column: 1/-1;
			opacity: 1;
			overflow-y: scroll;
			visibility: visible;
			&::-webkit-scrollbar {
				width: 0;
			}
		}
	}
}

@media only screen {
	@media (min-width: 1250px) {
		.wrapper {
			background-color: $black;
			color: $white;
			grid-template-rows: 6.25rem;
			height: auto;
			padding: 0 3rem 0.1rem 3rem;
			& > .brand,
			& > .menu {
				grid-row: 1;
				height: 100%;
			}

			& > .brand {
				grid-column: 1/4;
			}
			& > .menu {
				@include size(100%, 100%);
				grid-column: 4/-1;
				grid-row: 1;
				opacity: 1;
				visibility: visible;
			}
			& > .settings {
				display: none;
			}

			&[data-open-menu="true"] {
				height: 100%;
				& > .menu {
					grid-column: 6/-1;
					overflow-y: visible;
				}
			}
		}
	}
	@media (min-width: 1850px) {
		.wrapper {
			grid-template-rows: 7.5rem;
		}
	}
}
