@import "../../../../styles/Variables.scss";

.wrapper {
	margin: 10rem auto 4rem;
}
.box {
	display: grid;
	grid-template-columns: repeat(25, 1fr);
}
.image {
	border-radius: 0 1rem 1rem 0;
	display: none;
	grid-column: 1/23;
	grid-row: 1;
	overflow: hidden;
	position: relative;
	z-index: -1;
}
.content {
	@include flex(start, start, column, null, 2rem);
	backdrop-filter: blur(7rem);
	background-image: linear-gradient(
		to left,
		hsla(240, 26%, 47%, 0.02),
		hsla(240, 22%, 37%, 0.059)
	);
	border-radius: 0 2.5rem 2.5rem 0;
	grid-column: 1/-1;
	grid-row: 1;
	padding: 5rem 1rem 5rem 1rem;
	position: relative;
	z-index: 0;
	& > .background {
		@include positioning(50%, null, null, 50%, -50%, -50%, null, -1, absolute);
		@include size(100%, 100%);
		filter: blur(12rem) brightness(40%);
	}
	& > header {
		& > h2 {
			@include font(7rem, 700, 0.9, inherit, null, 1px, start);
		}
	}
	& > p {
		@include font(1.7rem, 300, 1.5, inherit, null, -1px, start);
	}
}

.cards {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(1, 1fr);
	gap: 1rem;
	transform: translateY(2.5rem);
	padding: 2rem 1.15rem;
}

@media only screen {
	@media (min-width: 800px) {
		.image {
			display: block;
		}
		.content {
			border-radius: 2.5rem 0 0 2.5rem;
			grid-column: 5/-1;
			padding: 5rem 1rem 5rem 4rem;
			transform: translateY(20rem);
		}
		.cards {
			transform: translateY(18rem);
		}
	}
	@media (min-width: 950px) {
		.image {
			display: block;
			grid-column: 1/17;
		}
		.content {
			grid-column: 12/-1;
		}
	}
	@media (min-width: 1300px) {
		.content {
			padding: 5rem 3rem 5rem 9rem;
			row-gap: 3rem;
			transform: translateY(30rem);
			& > header {
				& > h2 {
					font-size: 13rem;
				}
			}
			& > p {
				font-size: 2.2rem;
			}
		}
		.cards {
			grid-template-columns: repeat(3, 1fr);
			margin: 10rem auto 24rem;
			padding: 2rem 5rem;
			& > *:nth-of-type(1) {
				transform: translateY(-5rem);
			}
			& > *:nth-of-type(2) {
				transform: translateY(5rem);
			}
		}
	}
}
