@import "../../../../../styles/Variables.scss";

.expand {
	@include flex(center, flex-start, null, null, null, false);
	& > .button {
		@include flex(center, center);
		aspect-ratio: 1/1;
		color: $black;
		height: 100%;
	}
}

.submenu {
	height: 2.85rem;
	& > .link {
		@include font(2.15rem, 400, null, inherit, uppercase, -0.5px, start);
	}
}

.expand,
.regular,
.submenu {
	width: 100%;
}
.expand,
.regular {
	height: 3.5rem;
	& > .link {
		@include font(2.5rem, 500, null, inherit, uppercase, -0.5px, start);
		padding: 0 0.5rem;
		position: relative;
	}
}

@media only screen {
	@media (min-width: 1250px) {
		.expand {
			& > .button {
				color: $white;
			}
		}
		.expand,
		.regular {
			height: 2.5rem;
			width: auto;
			& > .link {
				@include font(1.85rem, 500, null, inherit, uppercase, -0.5px, start);
				padding: 0 0.45rem;
				transition: 0.3s ease-in-out color;
				&::after {
					@include size(1.2px, 0%);
					background-color: $yellow;
					bottom: 0;
					left: 0;
					transition: 0.3s ease-in-out width;
				}
				&:focus,
				&:focus-within,
				&:hover {
					color: $yellow;
					&::after {
						width: 100%;
					}
				}
			}
		}

		.submenu {
			height: 2.85rem;
			& > .link {
				font-size: 1.7rem;
				transition: 0.3s ease-in-out opacity;
				&:focus,
				&:focus-within,
				&:hover {
					opacity: 0.7;
				}
			}
		}
	}
}
