@import "./Variables.module.scss";
.image_person_page {
	figure {
		aspect-ratio: 4/2;
		display: flex;
		position: relative;
		overflow: hidden;
		width: 100%;
		img {
			height: 100%;
			object-fit: contain;
			width: 100%;
		}
	}
	@media only screen {
		@media (max-width: 800px) {
			figure {
				aspect-ratio: 4/3;
			}
		}
		@media (max-width: 500px) {
			figure {
				aspect-ratio: 4/7;
			}
		}
	}
}

.mainHP {
	margin-top: 25rem;
	@media only screen {
		@media (max-width: 600px) {
			margin-top: 10rem;
		}
	}
}

.excerpt {
	display: block;
	margin-bottom: 5rem;
	font-size: 2.5rem;
	font-weight: 900;
	line-height: 2;
	@media only screen {
		@media (max-width: 465px) {
			margin-bottom: 5rem;
			font-size: 2.15rem;
			font-weight: 700;
		}
	}
}

.article--table {
	margin: 2rem auto;
	th,
	td {
		// border: 1px solid $color;
	}

	th {
		background-color: $primary;
		color: $white;
		font-size: 2.3rem;
		text-align: center;
		padding: 1rem 0;
	}
	td {
		border: 1px solid $secondary;
		padding: 0.5rem 1rem;
		& > * {
			color: $colorSecondary !important;
			font-size: 1.55rem !important;
			line-height: 2;
			text-align: center;
		}
	}
	tbody {
		tr {
		}
	}
	@media only screen {
		@media (max-width: 700px) {
			th {
				font-size: 1.7rem;
			}
			td {
				& > * {
					font-size: 1.2rem;
				}
			}
		}
	}
}

.article {
	h2 {
		font-size: 3.2rem;
	}

	h3 {
		font-size: 2.8rem;
	}

	h4 {
		font-size: 2.4rem;
	}
	h2,
	h3,
	h4 {
		color: $colorSecondary !important;
		margin: 1.5rem 0 0.5rem 0;
		text-align: start;
	}

	table {
		// background: gray;
	}

	img {
		aspect-ratio: 4/3;
		border-radius: 2rem;
		margin: 8rem auto;
		min-height: 40rem;
		overflow: hidden;
		position: relative;
		width: 95%;
	}

	b,
	strong {
		color: $colorSecondary;
		font-weight: 700;
	}

	em,
	i {
		font-style: italic;
	}

	ol {
		li {
			list-style: decimal;
		}
	}

	ul {
		li {
			list-style: disc;
		}
	}

	ol,
	ul {
		padding: 2rem 3rem;
		li {
			font-size: 1.7rem;
			line-height: 1.8;
			list-style-position: inside;
		}
	}

	a {
		color: $primary;
		text-decoration: underline;
		transition: 0.3s ease-in-out color;
		&:focus,
		&:focus-within,
		&:hover {
			color: $quatenary;
		}
	}

	p {
		color: $color !important;
		font-size: 1.7rem;
		line-height: 1.8;
		margin: 1.15rem 0;
	}

	@media only screen {
		@media (max-width: 465px) {
			h2 {
				font-size: 3rem;
			}

			h3 {
				font-size: 2.7rem;
			}

			h4 {
				font-size: 2.25rem;
			}

			p {
				font-size: 1.7rem;
				line-height: 1.6;
			}
			ol,
			ul {
				padding: 1rem 1.5rem;
				li {
					font-size: 1.7rem;
					line-height: 1.6;
				}
			}
			img {
				min-height: 25rem;
				width: 97%;
			}
		}
		@media (max-width: 315px) {
			h2,
			h3,
			h4 {
				text-align: center;
			}
		}
	}
}
