    @import "../../../../../styles/Mixins.scss";
@import "../../../../../styles/Variables.scss";

.cards {
    margin-top: 2rem;
    display: grid;
    // grid-template-columns: 10rem calc(100% - 20rem) 10rem;
    grid-template-areas: 
        "cards cards cards cards"
        "buttonLeft buttonRight span span"
    ;
}


.cards__box {
    grid-area: cards;
}

.cards__buttons {
    @include flex(center,flex-start,row,1rem);
    width:calc(5.12rem * 2 + 1rem);
}

.cards__button{
    @include flex(center,center);
    @include size(5.12rem,5.12rem);
    font-size: 3.7rem;
    margin: auto auto auto 0;
    color: rgba($magnolia,.5);
    transition:.12s linear color;
    &[data-direction="left"]{
        grid-area: buttonLeft;
    }
    &[data-direction="right"]{
        grid-area: buttonRight;
    }
    &:focus-within,
    &:hover {
        color: rgba($magnolia,.85);
    }
}

@media only screen {
    @media (min-width:1000px){
        .cards__button{
            @include size(6.12rem,6.12rem);
            width:calc(6.12rem * 2 + 1rem);
        }       
    }
    @media (min-width:1600px){
        .cards__button{
            @include size(7.22rem,7.22rem);
            font-size: 4.1rem;
            width:calc(7.22rem * 2 + 1rem);
        }       
    }
}