@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(11,1fr);
    margin: auto;
    padding: 4rem 2.5rem;
    width: clamp(5rem,130rem,95%);
    & > * {
        grid-column: 1/-1;
    }
}

.title {
    grid-row: 1;
    & > h2 {
        @include font(3rem,200,1.2,null,null,start,$monospace);
        border-bottom: 1px solid $white;
        padding: 1rem 1.5rem;

    }
}

.content {
    grid-row: 2;
    & > p {
        @include font(1.45rem,400,2.2,null,1px,start);
        color:$taupeGray;
        padding: 3rem;
    }
}

@media only screen {
    @media (min-width:1200px){
        .title {
            grid-column: 1/4;
            grid-row: 1;

        }
        .content {
            grid-column: 4/-1;
            grid-row: 1;
            & > p {
                font-size: 1.62rem;
            }
        }
    }
}