@import '../../../../../../styles/Mixins.scss';
@import '../../../../../../styles/Variables.scss';

.wrapper {
  @include flex(center, flex-end, row nowrap, 0.24rem, 0.24rem, false);
  @include size(100%, 100%);
  & > a {
    position: relative;
    z-index: 0;
    &::after,
    &::before {
      border: 2px solid red;
      border-radius: 1.4dvh;
      left: 50%;
      opacity: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      transition:
        0.12s linear height,
        0.12s linear width;
      z-index: -1;
    }

    &::after {
      @include size(0, 100%);
      border-left: 2px solid red;
      border-right: 2px solid red;
    }

    &::before {
      @include size(100%, 0%);
      border-top: 2px solid red;
      border-bottom: 2px solid red;
    }

    &:focus-within,
    &:hover {
      &::after {
        height: 100%;
        opacity: 1;
      }
      &::before {
        opacity: 1;
        width: 100%;
      }
    }
    & > i {
      @include flex(center, center);
      @include size(4rem, 4rem);
      color: #000;
      font-size: 3rem;
    }
    & > span {
      display: none;
    }
  }
}
