@import '../../../../../../styles/Mixins.scss';
@import '../../../../../../styles/Variables.scss';

.wrapper {
  @include flex(center, space-evenly, row nowrap, 1rem, null, true);
  width: 100%;
  &,
  & > a,
  & > a > i {
    height: 100%;
  }

  & > a {
    &:focus-within,
    &:hover {
      & > i {
        & > * {
          transform: scale(1.2);
        }
      }
    }
    & > i {
      @include flex(center, center);
      aspect-ratio: 1/1;
      font-size: 3.5rem;
      & > * {
        transition: 0.12s linear transform;
      }
    }
    & > span {
      display: none;
    }
  }
}
