@import '../../../../../../styles/Mixins.scss';
@import '../../../../../../styles/Variables.scss';

.wrapper {
  @include grid(null, null, repeat(4, 1fr), null, 0.1rem);
  @include size(100%, 100%);

  & > a {
    &:focus-within,
    &:hover {
      & > i {
        & > * {
          transform: scale(1.2);
        }
      }
    }
    &,
    & > i {
      @include flex(center, center);
      @include size(100%, 100%);
    }
    & > i {
      font-size: 2.9rem;
      & > * {
        transition: 0.12s linear transform;
      }
    }
    & > span {
      display: none;
    }
  }
}
