@import "../../../../../styles/Variables.scss";

.wrapper {
	border: 2px solid $gray;
	margin-left: auto;
	margin-top: 2rem;
	max-width: 95%;
	user-select: none;
	width: 31rem;
	& > div {
		aspect-ratio: 1/1;
		position: relative;
		width: 100%;
		& > ul {
			@include flex(center, flex-start);
			flex-flow: row wrap;
			gap: 1rem;
			left: 0;
			padding: 1.2rem;
			position: absolute;
			top: 1rem;
			width: 100%;
			& > li {
				& > a {
					border-radius: 1rem;
					background-color: $citron;
					color: $black;
					font-weight: 600;
					padding: 0.5rem 1.5rem;
					transition: 0.13s ease-in-out background-color;
					&:focus,
					&:focus-within,
					&:hover {
						background-color: $cyan;
					}
				}
			}
		}
	}
	& > section {
		align-items: center;
		display: grid;
		gap: 1rem;
		grid-template-columns: calc(100% - 5rem) 5rem;
		min-height: 8rem;
		padding: 1rem 2rem 0.5rem;
		& > h3 {
			@include font(3rem, 600);
			font-family: $ibm;
			opacity: 0.6;
		}
		& > div {
			@include flex(center, center);
			flex-shrink: 0;
			& > a {
				@include size(4.5rem, 4.5rem);
				border: 2px solid $gray;
				border-radius: 50%;
				color: $gray;
				flex-shrink: 0;
				position: relative;
				transition: 0.3s linear border, 0.3s linear color;
				& > i {
					@include flex(center, center);
					@include size(100%, 100%);
					font-size: 3rem;
					transition: 0.3s linear transform;
				}
				&:focus,
				&:focus-within,
				&:hover {
					border: 2px solid $fuchsia;
					color: $fuchsia;
					& > i {
						transform: translateX(0.8rem);
					}
				}
			}
		}
	}
	@media only screen {
		@media (min-width: 850px) {
			margin-left: unset;
			margin-top: unset;
			& > div {
				aspect-ratio: unset;
				height: 45rem;
			}
		}
		@media (min-width: 1250px) {
			max-width: 99%;
			width: 100%;
			margin: 0 auto auto auto;
			& > div {
				aspect-ratio: unset;
				height: 55rem;
				width: 100%;
			}
		}
	}
}
