@import "../../../../styles/Variables.scss";

.wrapper {
	@include flex(flex-start, center, column, null, 2rem);
	@include size(100%, 100%);
	padding: 0 1rem;
	& > h2 {
		@include font(4.5rem, 800, 0.8, inherit, null, null, start);
	}
	& > h3 {
		@include font(2.15rem, 500, 1, inherit, null, null, start);
		color: $jordyBlue;
	}
}

@media only screen {
	@media (min-width: 650px) {
		.wrapper {
			& > h2 {
				font-size: 12rem;
			}
			& > h3 {
				font-size: 4.85rem;
			}
		}
	}
	@media (min-width: 960px) {
		.wrapper {
			& > h2 {
				font-size: 16rem;
			}
			& > h3 {
				font-size: 6rem;
			}
		}
	}
	@media (min-width: 1340px) {
		.wrapper {
			& > h2 {
				font-size: 11rem;
			}
			& > h3 {
				font-size: 4rem;
			}
		}
	}
}
