.wrapper {
	// background: orange;
	align-items: center;
	align-self: center;
	justify-self: center;
	justify-items: center;
	column-gap: 0.2rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0.2em;
	@media only screen {
		@media (max-width: 1000px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 850px) {
			column-gap: 0.12rem;
		}
		@media (max-width: 625px) {
			grid-template-columns: repeat(1, 1fr);
			row-gap: 2rem;
		}
	}
}
