@import "../../../../styles/Variables.module.scss";
.wrapper {
	@include flex(center, column, center);
	background-color: $summaryBackground;
	border: $summaryBorder;
	border-radius: 1rem;
	color: $color;
	max-width: 95%;
	padding: 2.5rem 3.5rem;
	row-gap: 2.5rem;
	width: 85rem;
	& > * {
		margin: auto;
		width: 100%;
	}
	& > h2 {
		@include font(2.75rem, 900);
		line-height: 1.7;
	}
	& > p {
		@include font(1.7rem, 600);
		color: $quatenary;
		line-height: 1.6;
	}
	& > ul {
		& > li {
			margin: 0.65rem 0;
			line-height: 1.9;
			list-style: square inside;
		}
	}
	@media only screen {
		@media (max-width: 500px) {
			padding: 1.85rem 2rem;
			row-gap: 1.25rem;
		}
	}
}
