@import "../../../../../styles/Variables.scss";

.wrapper {
	@include size(45rem, 100%);
	position: sticky;
	top: 5rem;
	z-index: 1;
	& > .imageWrapper {
		@include positioning(
			50%,
			null,
			null,
			50%,
			-50%,
			-50%,
			null,
			null,
			absolute
		);
		z-index: -3;
		&,
		& > .image {
			@include size(100%, 100%);
		}
		& > .image {
			position: relative;
		}
	}

	& > .content {
		@include size(100%, 100%);
		background-image: linear-gradient(
			to right,
			hsla(0, 6%, 17%, 0.641),
			hsla(0, 0%, 0%, 0.584)
		);
		display: grid;
		grid-template-rows: 7rem calc(100% - 7rem);
		padding: 2rem 4rem;
		grid-template-columns: repeat(15, 1fr);
		& > .info {
			@include flex(flex-start, center, column, null, 1.5rem);
			grid-column: 1/15;
			& > .title {
				@include font(4.15rem, 700, 0.8, inherit, null, 1px, start);
				word-wrap: break-word;
			}
			& > .excerpt {
				@include font(1.65rem, 300, 1.4, inherit, null, -1px, start);
			}
			& > .button {
				@include flex(center, flex-end);
				margin-top: 3rem;
				width: 100%;
				& > a {
					@include flex(center, center);
					@include font(1.9rem, 400, null, null, uppercase, 1px, center);
					padding: 0 0.8rem;
					position: relative;
					&::after,
					&::before {
						background-color: $white;
						bottom: -3px;
						height: 2px;
						position: absolute;
						transition: 0.15s ease-in-out width;
					}
					&::after {
						left: 0;
						width: 0%;
					}
					&::before {
						right: 0;
						width: 100%;
					}
					&:focus-within,
					&:hover {
						&::after {
							width: 80%;
						}
						&::before {
							width: 10%;
						}
					}
				}
			}
		}
	}
}
.categories {
	@include flex(center, flex-end, row wrap, 1rem, 1rem);
	grid-column: 1/-1;
}
.category {
	&,
	& > a {
		@include flex(center, center);
	}
	& > a {
		@include font(1.5rem, 500, null, inherit, uppercase, null, center);
		background-color: $sapphire;
		border-radius: 5rem;
		padding: 0.25rem 2rem;
		transition: 0.12s ease-in-out filter;
		&:focus-within,
		&:hover {
			filter: brightness(115%);
		}
	}
}

@media only screen {
	@media (min-width: 750px) {
		.wrapper {
			@include size(55rem, 100%);
			& > .content {
				& > .info {
					grid-column: 1/15;
					& > .title {
						font-size: 6.5rem;
					}
					& > .excerpt {
						font-size: 1.9rem;
					}
					& > .button {
						margin-top: 1.2rem;
					}
				}
			}
		}

		.category {
			& > a {
				font-size: 1.85rem;
				padding: 0.5rem 2.2rem;
			}
		}
	}
	@media (min-width: 950px) {
		.wrapper {
			@include size(63rem, 100%);
			& > .content {
				& > .info {
					& > .title {
						font-size: 10.5rem;
					}
					& > .excerpt {
						font-size: 2.1rem;
					}
					& > .button {
						margin-top: 1.2rem;
						& > a {
							font-size: 2rem;
						}
					}
				}
			}
		}

		.category {
			& > a {
				font-size: 1.85rem;
				padding: 0.5rem 2.2rem;
			}
		}
	}
	@media (min-width: 1250px) {
		.wrapper {
			@include size(69rem, 100%);
			& > .content {
				& > .info {
					& > .title {
						font-size: 14.5rem;
					}
					& > .excerpt {
						font-size: 2.3rem;
						width: 85%;
					}
					& > .button {
						margin-top: 1.2rem;
						& > a {
							font-size: 2.7rem;
						}
					}
				}
			}
		}

		.category {
			& > a {
				font-size: 2.15rem;
			}
		}
	}
	@media (min-width: 1550px) {
		.wrapper {
			@include size(80rem, 100%);
			& > .content {
				& > .info {
					& > .title {
						font-size: 16.5rem;
					}
					& > .excerpt {
						font-size: 2.7rem;
					}
					& > .button {
						margin-top: 0.5rem;
						& > a {
							font-size: 2.9rem;
						}
					}
				}
			}
		}

		.category {
			& > a {
				font-size: 2.15rem;
			}
		}
	}
}
