@import "../../../../../styles/Variables.module.scss";
.wrapper {
	display: none;
	@media only screen and (max-width: 850px) {
		@include flex(center, column, space-evenly);
		aspect-ratio: 1/1;
		overflow: hidden;
		position: relative;
		width: 3rem;
		& > span {
			background-color: $colorSecondary;
			height: 0.2rem;
			transition: 0.2s linear opacity, 0.2s linear transform,
				0.2s linear visibility;
			width: 100%;
		}
		&[data-active="true"] {
			& > span {
				left: 50%;
				position: absolute;
				top: 50%;
				&:nth-of-type(1) {
					transform: translate(-50%, -50%) rotate(-45deg);
				}
				&:nth-of-type(2) {
					opacity: 0;
					visibility: hidden;
				}
				&:nth-of-type(3) {
					transform: translate(-50%, -50%) rotate(45deg);
				}
			}
		}
	}
}
