@import "../../../../styles/Variables.scss";
.wrapper {
	display: grid;
	grid-template-columns: repeat(21, 1fr);
}

.cards {
	grid-column: 1/-1;
	grid-row: 2;
}

.details {
	grid-column: 1/-1;
	grid-row: 1;
	position: relative;
	.box {
		@include flex(flex-start, center, column);
		backdrop-filter: blur(1rem) brightness(100%);
		background-image: linear-gradient(
			to right,
			hsla(240, 83%, 66%, 0.176),
			hsla(240, 24%, 38%, 0.159)
		);
		border-radius: 1rem;
		min-height: 10rem;
		padding: 2.5rem 0 2.5rem 1.4rem;
		position: sticky;
		top: 8.5rem;
		width: 100%;
	}
}

@media only screen {
	@media (min-width: 1150px) {
		.cards {
			grid-column: 1/14;
			grid-row: 1;
		}
		.details {
			grid-column: 14/-1;
			grid-row: 1;
			& > .box {
				min-height: 20rem;
				padding: 2.5rem 0 2.5rem 1.7rem;
			}
		}
	}
}
