@import "../../../../styles/Variables.module.scss";
.wrapper {
	border-radius: 3rem;
	overflow: hidden;
	min-height: 25rem;
	display: grid;
	grid-template-columns: 18rem calc(100% - 18rem);
	& > .date {
		@include flex(center, column, space-around);
		background-color: $quinary;
		& > p {
			color: $white;
			font-weight: 900;
		}
	}
	& > .content {
		display: grid;
		grid-template-rows: 10rem calc(100% - 10rem);
		& > * {
			@include flex(center, column, center);
		}
		& > .heading {
			background-color: $senary;
			color: $background;
			display: flex;
			padding: 0.5rem 0.25rem;
			row-gap: 1rem;
			& > h3 {
				font-size: 3rem;
			}
			& > h4 {
				font-size: 2rem;
			}
		}
		& > .description {
			background-color: $background;
			& > p {
				font-size: 1.7rem;
				line-height: 2;
				text-align: center;
				max-width: 95%;
			}
		}
	}
	@media only screen {
		@media (max-width: 725px) {
			grid-template-columns: 14rem calc(100% - 14rem);
			& > .date {
				& > p {
					@include font(1.45rem, 700);
					text-align: center;
				}
			}
			& > .content {
				grid-template-rows: 8rem calc(100% - 8rem);
				& > .heading {
					row-gap: 1rem;
					& > h3 {
						font-size: 2.2rem;
					}
					& > h4 {
						font-size: 1.7rem;
					}
				}
				& > .description {
					& > p {
						font-size: 1.5rem;
						line-height: 1.7;
					}
				}
			}
		}
		@media (max-width: 550px) {
			@include flex(center, column, center);
			max-width: 95%;
			width: 40rem;
			& > * {
				width: 100%;
			}
			& > .date {
				min-height: 7rem;
				padding: 0.2rem 0.5rem;
				& > p {
					font-size: 1.5rem;
				}
			}
			& > .content {
				@include flex(center, column, center);
				& > * {
					width: 100%;
				}
				& > .heading {
					min-height: 10rem;
					& > h3 {
						font-size: 2.2rem;
					}
					& > h4 {
						font-size: 1.7rem;
					}
				}
				& > .description {
					padding: 1rem 0.5rem;
					& > p {
						font-size: 1.5rem;
						line-height: 1.7;
					}
				}
			}
		}
	}
}
