$primaryButtonColor: #045aff;
$secondaryButtonColor: #474bb2;
$tertiaryButtonColor: #4c1690;
$quatenaryButtonColor: #515151;
$background: #fff;
$white: #f7f7f7;
$color: #000;
$latoFont: "Lato", sans-serif;
$grayGradient: linear-gradient(to right bottom, $background, #f7f7f7);
