$background: var(--background);
$primary: var(--primary);
$secondary: var(--secondary);
$tertiary: var(--tertiary);
$quatenary: var(--quatenary);
$quinary: var(--quinary);
$senary: var(--senary);
$septenary: var(--septenary);

$white: var(--white);
$color: var(--color);
$socialFooter: var(--socialFooter);
$googleMaps: var(--googleMaps);
$progressScroll: var(--progressScroll);
$codeBackground: var(--codeBackground);
$codeColor: var(--codeColor);
$summaryBackground: var(--summaryBackground);
$summaryBorder: var(--summaryBorder);
$contactInformationBorder: var(--contactInformationBorder);
$contactInformationBackground: var(--contactInformationBackground);
$termsBackground: var(--termsBackground);
$slideBackround: var(--slideBackground);
$personHeroContactItem: var(--personHeroContactItem);
$personHeroWebsiteBackground: var(--personHeroWebsiteBackground);
$personHeroWebsiteBackgroundHover: var(--personHeroWebsiteBackgroundHover);
$personHeroWebsiteShadow: var(--personHeroWebsiteShadow);
$buttonTertiaryShadow: var(--buttonTertiaryShadow);
$buttonTertiaryHoverShadow: var(--buttonTertiaryHoverShadow);
$blogCardBlogPageBackground: var(--blogCardBlogPageBackground);
$blogCardBlogPageHoverBackground: var(--blogCardBlogPageHoverBackground);
$missionCardHoverShadow: var(--missionCardHoverShadow);
$missionCardHoverOutline: var(--missionCardHoverOutline);
$personContactPageBorder: var(--personContactPageBorder);
$personContactPageContentHover: var(--personContactPageContentHover);
$personHomePageShadowHover: var(--personHomePageShadowHover);
$projectPageCard: var(--projectPageCard);
$testimonialShadow: var(--testimonialShadow);
$contactFieldBackground: var(--contactFieldBackground);
$contactFieldBackgroundHover: var(--contactFieldBackgroundHover);
$contactFieldLabelColor: var(--contactFieldLabelColor);
$contactFieldInputBackground: var(--contactFieldInputBackground);
$contactFieldInputColor: var(--contactFieldInputColor);
$searchBorder: var(--searchBorder);
$searchOutline: var(--searchOutline);
//
//

$primaryButtonColor: var(--primaryButtonColor);
$secondaryButtonColor: var(--secondaryButtonColor);
$tertiaryButtonColor: var(--tertiaryButtonColor);
$quatenaryButtonColor: var(--quatenaryButtonColor);

$latoFont: var(--latoFont);
$grayGradient: var(--grayGradient);

$navShadow: var(--navShadow);
$backgroudGoogleMaps: var(--backgroudGoogleMaps);
$buttonSecondaryOutline: var(--buttonSecondaryOutline);

@mixin borderBottomTop($color, $size) {
	border-bottom: $size solid $color;
	border-top: $size solid $color;
}
@mixin flex($align, $flow, $justify) {
	@include flexNoFlow($align, $justify);
	flex-flow: $flow;
}
@mixin flexNoFlow($align, $justify) {
	align-items: $align;
	display: flex;
	justify-content: $justify;
}
@mixin font($size, $weight: 400) {
	font-size: $size;
	font-weight: $weight;
}
@mixin fontLine($line, $size, $weight: 400) {
	@include font($size, $weight);
	line-height: $line;
}
@mixin fullSize {
	height: 100%;
	width: 100%;
}
@mixin list($style, $position) {
	list-style: $style;
	list-style-position: $position;
}
@mixin object($fit: cover, $position: center) {
	object-fit: $fit;
	object-position: $position;
}
@mixin wrapText {
	word-break: break-all;
	word-wrap: break-word;
}
