@import "../../../../styles/Variables.scss";

.wrapper {
	margin: auto;
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	width: 100%;
	scroll-behavior: smooth;
}

.content,
.table {
	grid-column: 1/-1;
	margin: 0 auto 0;
}
.table {
	@include flex(flex-start, center);
	position: relative;
	width: 100%;
}

.content {
	scroll-behavior: smooth;
	width: 95%;
	margin: auto;
}

@media only screen {
	@media (min-width: 720px) {
		.table {
			grid-column: 1/5;
		}
		.content {
			grid-column: 5/16;
		}
	}
}
