@import "./Variables.module.scss";
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
// CSS VARIABLES
:root {
	--latoFont: "Lato", sans-serif;
}
::after,
::before {
	content: "";
	position: absolute;
}
// ::selection {
// 	background-color: var(--tertiary);
// }
a {
	color: inherit;
	text-decoration: none;
}
a,
button {
	cursor: pointer;
}
body {
	background-color: var(--background);
	color: var(--color);
	font-family: var(--latoFont);
	font-size: 1.6rem;
	transition: 0.3s linear background-color, 0.3s linear color;
}
button,
input,
textarea {
	background: none;
	border: none;
	outline: none;
}
html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
li {
	list-style: none;
}
main {
	margin: 5rem auto 15rem;
	max-width: 95vw;
	width: 120rem;
	&.homepage > * {
		margin: 15rem auto;
		&:first-of-type {
			margin: 0 auto 15rem;
		}
	}
	& > .section {
		margin: 6rem auto;
		&:first-of-type {
			margin: 0 auto 6rem;
		}
	}
	&.article {
		max-width: 92vw;
		width: 105rem;
		& > * {
			margin: 3rem auto;
			&:first-of-type {
				margin: 0 auto 3rem;
			}
		}
	}
}
textarea {
	font-family: inherit;
	resize: none;
}
