@import "../../../../../styles/Variables.scss";

.wrapper {
	@include size(50rem, 50rem);
	border-radius: 1.5rem;
	max-width: 95%;
	overflow: hidden;
	position: relative;
	user-select: none;
	& > .image {
		@include size(100%, 100%);
		position: relative;
		transition: 0.25s ease-in filter, 0.3s linear transform;
	}
	& > .content {
		@include size(100%, 100%);
		background-color: hsla(0, 100%, 0%, 0.5);
		left: 50%;
		opacity: 0;
		position: absolute;
		padding: 8rem 4rem;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: 0.15s ease-in-out opacity, 0.15s ease-in-out visibility;
		visibility: hidden;
		cursor: default;
		& > .fullname {
			font-family: $ibm;
			font-size: 6rem;
		}
		& > .jobs {
			font-size: 2.2rem;
			margin-top: 3rem;
			opacity: 0.8;
		}
		& > .button {
			@include flex(center, flex-end);
			margin-top: 6rem;
			& > a {
				@include flex(center, center);
				@include size(5rem, 5rem);
				font-size: 5rem;
				transition: 0.15s linear color;
				&:focus,
				&:focus-within,
				&:hover {
					color: $cyan;
				}
			}
		}
	}

	&:focus,
	&:focus-within,
	&:hover {
		& > .content {
			opacity: 1;
			visibility: visible;
		}
		& > .image {
			filter: blur(5px);
			transform: scale(1.4);
		}
	}
	@media only screen {
		@media (min-width: 550px) {
			@include size(55rem, 45rem);
		}
		@media (min-width: 1150px) {
			&[data-variant="small"] {
				@include size(75rem, 45rem);
			}
		}
		@media (min-width: 1250px) {
			@include size(85rem, 65rem);
		}
	}
}
