@import "../../../../styles/Variables.module.scss";
.wrapper {
	cursor: pointer;
	&[data-variant="primary"] {
		border: 2px solid var(--senary);
		color: var(--senary);
		font-size: 1.6rem;
		padding: 0.6rem 2.2rem;
		position: relative;
		text-decoration: none;
		text-align: center;
		transition: 0.5s;
		&::after,
		&::before {
			border: inherit;
			height: 4rem;
			transition: 0.5s;
			width: 4rem;
		}
		&::after {
			border-width: 0 2px 2px 0;
			bottom: -1rem;
			right: -1rem;
		}
		&::before {
			border-width: 2px 0 0 2px;
			left: -1rem;
			top: -1rem;
		}
		&:focus,
		&:focus-within,
		&:hover {
			&::after,
			&::before {
				height: calc(100% + 1.8rem);
				width: calc(100% + 1.8rem);
			}
		}
	}
	&[data-variant="secondary"],
	&[data-variant="tertiary"] {
		@include flexNoFlow(center, center);
		@include font(1.65rem, 600);
	}
	&[data-variant="secondary"] {
		background-color: transparent;
		border: none;
		border-radius: 0.4rem;
		color: var(--color);
		height: 4.5rem;
		min-width: 13rem;
		outline: 0.2rem solid var(--senary);
		position: relative;
		transition: 0.3s;
		user-select: none;
		&::after {
			@include fullSize;
			background-color: var(--senary);
			left: 0;
			top: 0;
			transform: scaleY(0);
			transform-origin: bottom;
			transition: 0.3s;
			z-index: -1;
		}
		&:focus,
		&:focus-within,
		&:hover {
			color: var(--white);
			outline: 0.2rem solid var(--quinary);
			&::after {
				transform: scale(1, 1);
			}
		}
	}
	&[data-variant="tertiary"] {
		background-color: var(--senary);
		border-radius: 1rem;
		box-shadow: var(--senary);
		color: var(--white);
		height: 3.5rem;
		min-width: 10rem;
		outline: none;
		transition: 0.3s;
		&:focus,
		&:focus-within,
		&:hover {
			box-shadow: var(--buttonTertiaryHoverShadow);
			transform: scaleY(0.5rem);
		}
	}
}
