@import "../../../../../styles/Variables.module.scss";
.wrapper {
	background-color: var(white);
	max-width: 95%;
	width: 32.5rem;
	& > a {
		@include flex(flex-start, column, flex-start);
		@include fullSize;
		& > .image {
			aspect-ratio: 4/4;
			overflow: hidden;
			width: 100%;
			& > figure {
				@include fullSize;
				position: relative;
				transition: 0.2s linear transform;
			}
		}
		& > .content {
			@include flex(flex-start, column, center);
			min-height: 12rem;
			padding: 0.25rem 0.75rem;
			row-gap: 0.5rem;
			width: 100%;
			& > h3 {
				& > span {
					&:first-of-type {
						@include font(2.5rem, 900);
					}
					&:last-of-type {
						font-size: 2rem;
					}
				}
			}
			& > .jobs {
				font-size: 1.5rem;
				font-style: italic;
			}
			& > .cities {
				@include font(1.5rem, 900);
			}
		}
	}
	&:focus-within,
	&:hover {
		& > a {
			& > .image {
				& > figure {
					transform: translateY(2rem) scale(1.2);
				}
			}
		}
	}
	@media only screen {
		@media (max-width: 340px) {
			max-width: 90%;
			width: 20rem;
		}
	}
}
