@import "./Variables.scss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;400&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Righteous&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::after,
::before {
	content: "";
	position: absolute;
}

:focus,
:focus-within {
	outline: none;
}

a {
	background: transparent;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

button {
	cursor: pointer;
}

body {
	background-color: $black;
	color: $white;
	font-family: $ibm;
	font-size: 1.6rem;
}

html {
	font-size: 52.5%;
}

button,
input,
textarea {
	background: transparent;
	border: none;
	font-family: inherit;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $righteous;
}

li,
ol,
ul {
	list-style: none;
}
.language {
}

.headerWrapper {
	margin-top: 7rem;
	@media only screen {
		@media (min-width: 600px) {
			margin-top: 9rem;
		}
		@media (min-width: 1050px) {
			margin-top: 8rem;
		}
	}
}
