@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500&display=swap");
@import "./Variables.scss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::after,
::before {
	content: "";
	position: absolute;
}

::selection {
	background: hsla(0, 100%, 0%, 0);
	color: $salmon;
}

:focus,
:focus-within {
	outline: none;
}

a {
	background: transparent;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

button {
	cursor: pointer;
}

body {
	background-color: $black;
	color: $seasalt;
	font-family: $poppins;
	background-attachment: fixed;
	font-size: 1.6rem;
}

html {
	font-family: "Montserrat", sans-serif;
	font-size: 62.5%;
}

button,
input,
textarea {
	background: transparent;
	border: none;
	font-family: inherit;
	outline: none;
}

li,
ol,
ul {
	list-style: none;
}

.hero {
	margin-top: 7rem;
}
