// fonts
$ibm: "IBM Plex Mono", monospace;
$openSans: "Open Sans", sans-serif;
$righteous: "Righteous", cursive;
// colors

$black: #020202;
$jet: #3e3c41;
$white: #fdfefe;
$cardinal: #cc0f39;
$cyan: #0ffbf9;
$gray: #c2bfcc;
$pink: #c36b93;
$citron: #ebe23c;
$fuchsia: #e93cf0;

//  keyframes

@keyframes glitchHeadingBefore {
	0% {
		clip: rect(132px, auto, 101px, 30px);
	}
	5% {
		clip: rect(17px, auto, 94px, 30px);
	}
	10% {
		clip: rect(40px, auto, 66px, 30px);
	}
	15% {
		clip: rect(87px, auto, 82px, 30px);
	}
	20% {
		clip: rect(137px, auto, 61px, 30px);
	}
	25% {
		clip: rect(34px, auto, 14px, 30px);
	}
	30% {
		clip: rect(133px, auto, 74px, 30px);
	}
	35% {
		clip: rect(76px, auto, 107px, 30px);
	}
	40% {
		clip: rect(59px, auto, 130px, 30px);
	}
	45% {
		clip: rect(29px, auto, 84px, 30px);
	}
	50% {
		clip: rect(22px, auto, 67px, 30px);
	}
	55% {
		clip: rect(67px, auto, 62px, 30px);
	}
	60% {
		clip: rect(10px, auto, 105px, 30px);
	}
	65% {
		clip: rect(78px, auto, 115px, 30px);
	}
	70% {
		clip: rect(105px, auto, 13px, 30px);
	}
	75% {
		clip: rect(15px, auto, 75px, 30px);
	}
	80% {
		clip: rect(66px, auto, 39px, 30px);
	}
	85% {
		clip: rect(133px, auto, 73px, 30px);
	}
	90% {
		clip: rect(36px, auto, 128px, 30px);
	}
	95% {
		clip: rect(68px, auto, 103px, 30px);
	}
	100% {
		clip: rect(14px, auto, 100px, 30px);
	}
}

@keyframes glitchHeadingAfter {
	0% {
		clip: rect(129px, auto, 36px, 30px);
	}
	5% {
		clip: rect(36px, auto, 4px, 30px);
	}
	10% {
		clip: rect(85px, auto, 66px, 30px);
	}
	15% {
		clip: rect(91px, auto, 91px, 30px);
	}
	20% {
		clip: rect(148px, auto, 138px, 30px);
	}
	25% {
		clip: rect(38px, auto, 122px, 30px);
	}
	30% {
		clip: rect(69px, auto, 54px, 30px);
	}
	35% {
		clip: rect(98px, auto, 71px, 30px);
	}
	40% {
		clip: rect(146px, auto, 34px, 30px);
	}
	45% {
		clip: rect(134px, auto, 43px, 30px);
	}
	50% {
		clip: rect(102px, auto, 80px, 30px);
	}
	55% {
		clip: rect(119px, auto, 44px, 30px);
	}
	60% {
		clip: rect(106px, auto, 99px, 30px);
	}
	65% {
		clip: rect(141px, auto, 74px, 30px);
	}
	70% {
		clip: rect(20px, auto, 78px, 30px);
	}
	75% {
		clip: rect(133px, auto, 79px, 30px);
	}
	80% {
		clip: rect(78px, auto, 52px, 30px);
	}
	85% {
		clip: rect(35px, auto, 39px, 30px);
	}
	90% {
		clip: rect(67px, auto, 70px, 30px);
	}
	95% {
		clip: rect(71px, auto, 103px, 30px);
	}
	100% {
		clip: rect(83px, auto, 40px, 30px);
	}
}

@keyframes glitch {
	0% {
		text-shadow: 0.05em 0 0 $cyan, -0.03em -0.04em 0 $fuchsia,
			0.025em 0.04em 0 $citron;
	}
	15% {
		text-shadow: 0.05em 0 0 $cyan, -0.03em -0.04em 0 $fuchsia,
			0.025em 0.04em 0 $citron;
	}
	16% {
		text-shadow: -0.05em -0.025em 0 $cyan, 0.025em 0.035em 0 $fuchsia,
			-0.05em -0.05em 0 $citron;
	}
	49% {
		text-shadow: -0.05em -0.025em 0 $cyan, 0.025em 0.035em 0 $fuchsia,
			-0.05em -0.05em 0 $citron;
	}
	50% {
		text-shadow: 0.05em 0.035em 0 $cyan, 0.03em 0 0 $fuchsia,
			0 -0.04em 0 $citron;
	}
	99% {
		text-shadow: 0.05em 0.035em 0 $cyan, 0.03em 0 0 $fuchsia,
			0 -0.04em 0 $citron;
	}
	100% {
		text-shadow: -0.05em 0 0 $cyan, -0.025em -0.04em 0 $fuchsia,
			-0.04em -0.025em 0 $citron;
	}
}

// mixins

@mixin background2(
	$color: null,
	$image: null,
	$position: null,
	$attachment: null,
	$repeat: null,
	$size: null,
	$blend: null
) {
	@if $color != null {
		background-color: $color;
	}
	@if $image != null {
		background-image: $image;
	}
	@if $position != null {
		background-position: $position;
	}
	@if $attachment != null {
		background-attachment: $attachment;
	}
	@if $repeat != null {
		background-repeat: $repeat;
	}
	@if $size != null {
		background-size: $size;
	}
	@if $blend != null {
		background-blend-mode: $blend;
	}
}

@mixin flex2($align, $justify, $flow: null, $gap: null) {
	align-items: $align;
	display: flex;
	justify-content: $justify;
	@if $flow != null {
		flex-flow: $flow;
	}

	@if $gap != null {
		gap: $gap;
	}
}

@mixin font2(
	$align: start,
	$size,
	$weight: 400,
	$line: null,
	$textTransform: null,
	$fontVariant: null,
	$fontPosition: null
) {
	text-align: $align;
	font-size: $size;
	font-weight: $weight;
	@if $line != null {
		line-height: $line;
	}
	@if $textTransform != null {
		text-transform: $textTransform;
	}
	@if $fontVariant != null {
		font-variant: $fontVariant;
	}
	@if $fontPosition != null {
		font-variant-position: $fontPosition;
	}
}

@mixin grid(
	$align: null,
	$columnGap: null,
	$columns: null,
	$justify: null,
	$rowGap: null,
	$rows: null
) {
	display: grid;
	@if $align != null {
		align-items: $align;
	}
	@if $columnGap!= null {
		column-gap: $columnGap;
	}

	@if $columns!= null {
		grid-template-columns: $columns;
	}
	@if $justify!= null {
		justify-content: $justify;
	}
	@if $rowGap!= null {
		row-gap: $rowGap;
	}

	@if $rows != null {
		grid-template-rows: $rows;
	}
}

@mixin size2($height, $width) {
	height: $height;
	width: $width;
}

@mixin textWrap2($break: break-all, $wrap: break-word) {
	word-break: $break;
	word-wrap: $wrap;
}
//
@mixin backgroundImage($color, $blend) {
	background-color: $color;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
}

@mixin flex($align, $justify) {
	align-items: $align;
	display: flex;
	justify-content: $justify;
}

@mixin font($size, $weight: 300) {
	font-size: $size;
	font-weight: $weight;
}

@mixin size($height, $width) {
	height: $height;
	width: $width;
}

@mixin textGradient($color1, $color2) {
	background-attachment: fixed;
	background-image: linear-gradient(45deg, $color1, $color2);
	background-repeat: repeat;
	background-size: 100%;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin socialMediaEffect($color) {
	border: 3.5px solid $color;
	border-radius: 5% 25% 5% 25%;
	box-shadow: 0 0 2rem $color, 0 0 1rem $white;
	color: $color;
	text-shadow: 0 0 20px $color;
}

@mixin mainGlitchEffect($font: $righteous) {
	animation: glitch 1000ms infinite;
	position: relative;
	text-shadow: 0.05em 0 0 $cyan, -0.03em -0.04em 0 $fuchsia,
		0.025em 0.04em 0 $citron;
	&,
	&::after,
	&::before {
		font-weight: 900;
	}
	&::after,
	&::before {
		content: attr(data-text) !important;
		color: $white;
		left: 0;
		top: 0;
	}
	&::after {
		animation: glitch 800ms infinite;
		clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
		opacity: 0.5;
		transform: translate(-0.02em, -0.01em);
	}
	&::before {
		animation: glitch 600ms infinite;
		clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
		opacity: 0.75;
		transform: translate(0.02em, 0.01em);
	}
}

@mixin glitchHeadingEffect() {
	&::after,
	&::before {
		@include size(100%, 100%);
		background-color: $black;
		color: $white;
		overflow: hidden;
		position: absolute;
		top: 0;
	}
	&::after {
		left: -3px;
		text-shadow: -2px 0 $fuchsia;
		animation: glitch-2 2s linear infinite reverse;
	}
	&::before {
		left: 3px;
		text-shadow: -2px;
		animation: glitch-1 2s infinite reverse;
	}
}
