@import "../../../../../styles/Variables.module.scss";
.wrapper {
	@media only screen {
		@media (max-width: 850px) {
			align-items: center;
			display: flex;
			justify-content: flex-end;
			padding: 0 1rem;
			width: 100%;
		}
	}
}
