@import "../../../../../styles/Variables.scss";

.expand[data-level="1"],
.regural {
	& > a {
		@include font(2.7rem, 700);
	}
}

.expand {
	@include flex(center, flex-start, row nowrap, 1rem);
	& > button {
		@include flex(center, center);
		@include size(2.65rem, 2.65rem);
		color: #fff;
		font-size: 2.4rem;
	}
}

.regural {
	background: green;
}

.submenu {
	& > a {
		@include font(2.1rem, 500);
	}
}
