@import "../../../styles/Mixins.scss";
@import "../../../styles/Variables.scss";

//  BUTTON PRIMARY ============================================

.primary {
  // background: pink;
  @include flex(center, flex-start, row nowrap, 1rem);
  height: 3.2rem;
  position: relative;
  &::after {
    @include size(2px, 0%);
    background-color: #eee;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: 0.12s linear width;
  }
  &:focus-within,
  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.primary__label {
  // background: #222;
  @include font(2.7rem, 300, 1.1, null, null, center);
}

.primary__icon {
  @include flex(center, center);
  @include size(3.2rem, 3.2rem);
  // background: blue;
  font-size: 2.5rem;
}
