@import "../../../../../styles/Mixins.scss";
@import "../../../../../styles/Variables.scss";

.expand,
.dropdown_expand {
    @include flex(center, flex-start, row nowrap);
    & > button {
        @include flex(center, center);
        aspect-ratio: 1/1;
        color: $white;
        height: 100%;
    }
}

.submenu,
.dropdown_expand,
.dropdown_submenu {
    @include flex(center, flex-start, row nowrap);
    height: 2.8rem;
    & > a {
        @include font(2rem, 500, 1, null, null, start);
        padding: 0rem 0.5rem;
    }
}

.expand,
.regural {
    height: 3.6rem;
    & > a {
        @include font(2.7rem, 500, 1, null, null, start);
        padding: 0rem 0.75rem;
    }
}

.expand {
    & > button {
        font-size: 3rem;
    }
}

.regural {
    &,
    & > a {
        @include flex(center, center);
    }
}

.dropdown_expand {
    & > button {
        font-size: 2.5rem;
    }
}
