@import "../../../../styles/Variables.module.scss";
.progress {
	background-image: var(--progressScroll);
	height: 0.2rem;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999999;
}
.wrapper {
	display: grid;
	grid-template-columns: 20rem calc(100% - 20rem);
	height: 7rem;
	transition: 0.2s linear background-color, 0.2s linear box-shadow,
		0.2s linear height;
	top: 0;
	position: fixed;
	width: 100vw;
	z-index: 99999;
	&[data-scrolled="true"] {
		background-color: var(--background);
		box-shadow: var(--navShadow);
		height: 6rem;
	}

	// & > .menu {
	// 	background: red;
	// }

	& > * {
		@include fullSize;
	}
	& > .settings {
		display: none;
	}
	@media only screen {
		@media (max-width: 1000px) {
			grid-template-columns: 15rem calc(100% - 15rem);
			height: 7rem;
			&[data-scrolled="true"] {
				height: 5rem;
			}
		}
		@media (max-width: 850px) {
			grid-template-columns: 2fr 1fr;
			grid-template-rows: 5rem auto;
			height: auto;
			&[data-scrolled="true"] {
				box-shadow: var(--navShadow);
				height: auto;
			}
			& > .brand {
				grid-column: 1;
				grid-row: 1;
			}
			& > .menu {
				grid-column: 1/-1;
				grid-row: 2;
				&[data-open="false"] {
					display: none;
					overflow: hidden;
					visibility: hidden;
				}
				&[data-open="true"] {
					// background: lime;
					background-color: var(--background);
					box-shadow: var(--navShadow);
				}
			}
			& > .settings {
				grid-column: 2;
				grid-row: 1;
				display: flex;
			}
			&[data-open="true-menu"] {
				// background: lime;
				background-color: var(--background);
				box-shadow: var(--navShadow);
			}
			// &[data-scrolled="true"] {
			// 	height: 5rem;
			// }
		}
	}
}
