@import "../../../../styles/Variables.module.scss";
.progress {
	display: none;
}
.wrapper {
	display: grid;
	grid-template-columns: 15rem calc(100% - 22rem) 7rem;
	height: 7rem;
	transition: 0.2s linear background-color, 0.2s linear box-shadow,
		0.2s linear height;
	top: 0;
	position: fixed;
	width: 100vw;
	z-index: 99999;
	&[data-scrolled="true"] {
		background-color: $background;
		box-shadow: 0 5px 2px $navShadow;
		height: 6rem;
	}

	& > * {
		@include fullSize;
	}
	& > .settings {
		// background: orange;
		// display: none;
	}
	@media only screen {
		@media (max-width: 1000px) {
			grid-template-columns: 15rem calc(100% - 25rem) 10rem;
			height: 7rem;
			&[data-scrolled="true"] {
				height: 5rem;
			}
		}
		@media (max-width: 850px) {
			grid-template-columns: 2fr 1fr;
			grid-template-rows: 5rem auto;
			height: auto;
			&[data-scrolled="true"] {
				box-shadow: 0 5px 2px $navShadow;
				height: auto;
			}
			& > .brand {
				grid-column: 1;
				grid-row: 1;
			}
			& > .menu {
				grid-column: 1/-1;
				grid-row: 2;
				&[data-open="false"] {
					display: none;
					overflow: hidden;
					visibility: hidden;
				}
				&[data-open="true"] {
					background-color: $background;
					box-shadow: 0 5px 2px $navShadow;
				}
			}
			& > .settings {
				grid-column: 2;
				grid-row: 1;
				display: flex;
			}
			&[data-open="true-menu"] {
				background-color: $background;
				box-shadow: 0 5px 2px $navShadow;
			}
		}
		@media (max-width: 400px) {
			grid-template-columns: 50% 50%;
		}
	}
}
