@import "../../../../styles/Variables.module.scss";
.wrapper {
	hr {
		background-image: linear-gradient(
			to top right,
			$white,
			$white,
			$white,
			$quatenaryButtonColor,
			$white,
			$white,
			$white
		);
		border: none;
		display: block;
		height: 0.5rem;
		margin: 2rem auto;
		opacity: 0.3;
		width: 90%;
	}
	& > h2,
	& > h3 {
		font-weight: 700;
		line-height: 2.2;
	}
	& > h2 {
		color: $tertiaryButtonColor;
		font-size: 3rem;
	}
	& > h3 {
		font-size: 2.7rem;
	}
	& > p {
		color: $quatenaryButtonColor;
		font-size: 1.7rem;
		line-height: 1.7;
		a {
			color: $primaryButtonColor;
			text-decoration: underline;
			transition: 0.3s linear color;
			&:focus,
			&:focus-within,
			&:hover {
				color: #3772df;
			}
		}
		a,
		b,
		strong {
			font-weight: 600;
		}
	}
	ol,
	ul {
		display: flex;
		flex-flow: column;
		margin: 0 auto;
		width: 90%;
		& > li {
			line-height: 1.7;
		}
	}
	ol {
		& > li {
			list-style: decimal;
		}
	}
	ul {
		& > li {
			list-style: circle;
		}
	}
	@media only screen {
		@media (max-width: 350px) {
			& > h2,
			& > h3 {
				line-height: 1.7;
			}
			& > h2 {
				color: $tertiaryButtonColor;
				font-size: 2.7rem;
			}
			& > h3 {
				font-size: 2.2rem;
			}
			& > p {
				font-size: 1.55rem;
				line-height: 1.7;
			}
			ol,
			ul {
				width: 85%;
				& > li {
					font-size: 1.55rem;
					line-height: 1.7;
				}
			}
		}
	}
}
