@import "../../../../styles/Variables.module.scss";
.wrapper {
	@include flex(start, column, flex-start);
	row-gap: 3rem;
	& > * {
		width: 100%;
	}
	h2 {
		@include font(3.5rem, 900);
		color: $tertiaryButtonColor;
		line-height: 2.5;
	}
	h3 {
		@include font(2.7rem, 700);
		color: $secondaryButtonColor;
		line-height: 2;
	}
	p {
		@include font(1.9rem);
		line-height: 2;
	}
	b {
		@include font(1.9rem);
		line-height: 2;
	}
	ul {
		padding: 1.5rem;
		li {
			@include list(circle, inside);
			font-size: 1.9rem;
			line-height: 1.7;
			b,
			strong {
				font-weight: 600;
				line-height: 1.7;
				display: inline-block;
			}
		}
	}
	pre {
		background: black;
		color: #fff;
		margin: 2rem auto;
		text-align: start;
		padding: 2rem 1.5rem;
		width: 95%;
	}
	code {
		font-family: inherit;
		font-style: normal;
		text-align: start;
		line-height: 1.7;
		width: 100%;
	}
}
