@import "../../../styles/Variables.scss";

.wrapper {
	@include size(auto, 100%);
	@include positioning(0, null, null, 50%, null, -50%, null, 9999999, fixed);
	background-image: linear-gradient(
		to left,
		hsla(229, 100%, 91%, 0.2),
		hsla(229, 100%, 81%, 0.21)
	);

	backdrop-filter: blur(2rem) brightness(120%);
	display: grid;
	grid-template-columns: repeat(23, 1fr);
	padding: 0 1rem;
	transition: 0.2s ease-in-out height;
	& > .brand,
	& > .settings {
		// background: red;
		height: 7rem;
	}
	& > .brand {
		grid-column: 1/20;
		grid-row: 1;
	}
	& > .menu {
		grid-column: 1/-1;
		transition: 0.2s ease-in-out height;
		overflow-y: hidden;
		transition: 0.3s ease-in height;
		grid-row: 2;
	}
	& > .settings {
		grid-column: 20/-1;
		grid-row: 1;
	}
	&[data-open="false"] {
		& > .menu {
			height: 0;
		}
	}
	&[data-open="true"] {
		& > .menu {
			height: calc(100vh - 7rem);
		}
	}

	@media only screen {
		@media (min-width: 1000px) {
			& > .brand {
			}
			& > .menu {
				grid-row: 1;
				grid-column: 6/-1;
				overflow-y: visible;
			}
			& > .settings {
				display: none;
			}

			&[data-open="false"],
			&[data-open="true"] {
				& > .menu {
					height: 7rem;
				}
			}
		}
		@media (min-width: 1200px) {
			padding: 0.25rem 2rem;
		}
	}
}
