@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

//  HOME PAGE ============================================

.home__wrapper {
  @include flex(flex-start, flex-start, column);
  background-color: #000;
  &,
  & > * {
    width: 100%;
  }
}

.home__box {
  height: 65rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem;
}

.home__box__buttons {
  @include flex(flex-end, center, row wrap, 1rem, 1rem);
  // background: red;
}

.home__box__headings {
  @include flex(flex-start, flex-end, column);
}

.home__box__title {
  @include font(17rem, 900, 1.2, null);
}

.home__box__slogan {
  @include font(6.15rem, 500, 1.2, null);
  color: hsla(0, 100%, 100%, 0.85);
  text-wrap: balance;
}

.home__media {
  aspect-ratio: 16/8;
  position: relative;
}

.home__media__video {
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  width: 100%;
  z-index: 0;
}

.home__media__socials {
  @include flex(center, flex-end, row nowrap, 2rem);
  position: absolute;
  background-color: #000;
  top: 0;
  right: 0;
  padding: 1.5rem 3rem 1.5rem 3rem;
  z-index: 1;
}

.home__media__social {
  @include flex(center, center);
  font-size: 4rem;
  color: #fff;
  position: relative;
  transition: 0.12s linear opacity;
  &:focus-within,
  &:hover {
    opacity: 0.7;
  }
}
