@import "../../../../styles/Variables.scss";

.wrapper {
	&,
	& > address {
		@include flex(center, center, column);
	}
	& > .title {
		@include font(10rem, 900, 1.2, $drukCyr, null, -1px, center);
		color: $yellow;
	}
	& > .slogan {
		@include font(3.15rem, 900, 1, inherit, null, -1px, center);
	}
	& > address {
		margin-top: 2rem;
		row-gap: 0.7rem;
		& > * {
			@include font(1.7rem, 400, 1.2, inherit, null, -1px, center);
			font-style: normal;
			color: $silver;
		}
	}
}

@media only screen {
	@media (min-width: 620px) {
		.wrapper {
			& > .title {
				font-size: 18rem;
			}
			& > .slogan {
				font-size: 3.7rem;
			}
			& > address {
				& > * {
					font-size: 1.82rem;
				}
			}
		}
	}
	@media (min-width: 1290px) {
		.wrapper {
			& > .title {
				font-size: 14rem;
			}
		}
	}
	@media (min-width: 1750px) {
		.wrapper {
			& > .title {
				font-size: 20rem;
			}
			& > .slogan {
				font-size: 4.7rem;
			}
		}
	}
}
