@import "../../../../styles/Variables.scss";

.wrapper {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 1rem;
}

@media only screen {
	@media (min-width: 650px) {
		.wrapper {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
