$aqua: rgb(166, 227, 249);
$black: rgb(0, 0, 0);
$blue: rgb(49, 134, 235);
$dogwood-rose: rgb(206, 22, 109);
$erie: rgb(24, 24, 24);
$federal-blue: rgb(1, 11, 97);
$mexican-pink: rgb(235, 16, 135);
$midnight-blue: rgb(6, 31, 112);
$royal-purple: rgb(112, 81, 163);
$steel-pink: rgb(193, 64, 194);
$white: rgb(255, 255, 255);
$zaffre: rgb(1, 27, 159);
