@import "../../../../styles/Variables.module.scss";
.wrapper {
	row-gap: 4rem;
	&,
	& > section {
		@include flex(start, column, flex-start);
	}
	& > section {
		row-gap: 2rem;
		& > h2 {
			font-size: 5rem;
		}
		& > p {
			@include font(2rem);
			line-height: 2;
		}
	}
	& > ul {
		@include flex(start, row wrap, center);
		gap: 1.5rem;
		width: 100%;
	}
}
