@import "../../../../../styles/Mixins.scss";
@import "../../../../../styles/Variables.scss";

.wrapper {
  background-color: color-mix(
    in srgb,
    rgba($black, 0.6) 65%,
    rgba($onyx, 0.6) 35%
  );
  background-color: $white;
  color: $black;
  border-radius: 0.4rem;
  width: clamp(5rem, 40rem, 90%);
  padding: 0.5rem 0.4rem 1rem;
}

.image__wrapper {
  height: 35rem;
  width: 100%;
}

.image {
  @include size(100%, 100%);
  display: block;
  position: relative;
}
.container {
  @include flex(flex-start, flex-start, column, null, 0.12rem);
  padding: 0.45rem 1.2rem;
}

.title,
.works {
  text-wrap: balance;
}

.title {
  @include font(3.1rem, 700, 1.2, null, null, start);
}

.works {
  @include font(1.63rem, 800, 1.6, null, null, start);
  color: color-mix(in srgb, $black 35%, $onyx 65%);
}

.line {
  @include size(1.2px, 100%);
  border-radius: 0.75rem;
  background-color: rgba($onyx, 0.6);
}

.overview {
  color: $onyx;
  @include font(1.55rem, 300, 1.7, null, null, start);
  font-family: $special;
  margin-top: 0.45rem;
  margin-bottom: 0.7rem;
}
