@import "../../../styles/Variables.scss";

.wrapper {
	@include size(8rem, 100%);
	background-color: $black;
	display: grid;
	grid-template-columns: repeat(21, 1fr);
	top: 0;
	position: sticky;
	transition: 0.12s linear height;
	&[data-open="true"] {
		position: fixed;
		height: 100vh;
	}
}

.brand,
.settings {
	grid-row: 1;
	height: 8rem;
}

.brand {
	grid-column: 1/11;
}

.menu {
	display: grid;
	grid-column: 1/-1;
	grid-template-rows: calc(100% - 20rem) 20rem;
	grid-row: 2;
	height: calc(100vh - 8rem);
	transition: 0.3s linear all;
	&[data-open="false"] {
		height: 0;
		overflow-y: hidden;
		transition: 0.13s linear all;
	}
}

.settings {
	grid-column: 11/-1;
}
