@import "../../../styles/Variables.scss";

.wrapper {
	@include size(auto, 100%);
	background-color: #f00fdd;
	color: #fff;
	display: grid;
	grid-template-columns: repeat(21, 1fr);
	top: 0;
	position: sticky;
}

.brand,
.settings {
	grid-row: 1;
	height: 8rem;
}

.brand {
	background: green;
	grid-column: 1/11;
}

.menu {
	background: violet;
	display: grid;
	grid-column: 1/-1;
	grid-template-rows: calc(100% - 15rem) 15rem;
	grid-row: 2;
	height: calc(100vh - 8rem);
	padding: 1.2rem;
}

.settings {
	background: blue;
	grid-column: 11/-1;
}
