@import "../../../../styles/Variables.scss";

.wrapper {
	background-color: hsla(10, 85%, 71%, 0.025);
	border-radius: 1rem;
	margin: 2rem auto;
	padding: 1.2rem 2.2rem;
	width: clamp(10rem, 180rem, 95%);

	& > header {
		border-bottom: 1.5px solid $salmon;
		& > h2 {
			@include font(5rem, 900, 1.3, $drukCyr, null, 0.5px, start);
			color: $salmon;
		}
	}

	& > ul {
		align-items: start;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 0.9rem 0.85rem;
		justify-content: center;
		justify-items: center;
		margin-top: 4rem;
	}
}

@media only screen {
	@media (min-width: 650px) {
		.wrapper {
			padding: 2.2rem 3rem;
			& > header {
				& > h2 {
					font-size: 7rem;
				}
			}

			& > ul {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
	@media (min-width: 1050px) {
		.wrapper {
			padding: 3rem 4rem;
			& > header {
				& > h2 {
					font-size: 9rem;
				}
			}
		}
	}
	@media (min-width: 1250px) {
		.wrapper {
			& > ul {
				grid-template-columns: repeat(4, 1fr);
			}
		}
	}
}
